extends ../layout.pug

block head
	title Art & Design LP

block content
	h1 Art & Design

	ul
		li
			a(href="/entry/design-inspiration/") Design Inspiration
		li
			a(href="/entry/design-tools/") Design Tools
		li
			a(href="/entry/ux/") UX