extends ../layout.pug

block head
	title Business & Marketing

block content
	h1 Business & Marketing

	h2 General
	ul
		li
			a(href="https://m.signalvnoise.com/the--basecamp-mba--reading-list/") The "Basecamp MBA" reading list