extends ../layout.pug

block head
	title Cooking LP

block content
	h1 Cooking LP

	ul
		li
			a(href="/entry/cookbooks/") Cookbooks I Own
		li
			a(href="/entry/entertaining") Entertaining Tricks



	h2 TBD Links
	ul
		li
			a(href="https://thetoughcookie.com/2015/03/07/use-different-size-cake-pan-round-cake-pans-simplified/") How to Use a Different Size Cake Pan
		li
			a(href="https://www.seriouseats.com/2014/11/the-truth-about-cast-iron.html") The Truth About Cast Iron Pans
			| : 7 Myths That Need to Go Away
		li
			a(href="http://www.sporkful.com/the-art-and-joy-of-recipe-writing/") The Art - And Joy - of Recipe Writing
		li
			a(href="https://getpocket.com/explore/item/from-ketchup-to-pineapples-the-food-that-should-never-be-kept-in-a-fridge") From ketchup to pineapples - the food that should never be kept in a fridge
		li
			a(href="https://www.saveur.com/article/Kitchen/The-Art-of-Kimchi/") The Art of Kimchi
		li
			a(href="https://www.sciencedirect.com/journal/international-journal-of-gastronomy-and-food-science/issues") The International Journal of Gastronomy and Food Science
		li
			a(href="https://grandmaloyskitchen.blogspot.com/2013/06/easy-diy-perpetual-buttermilk.html") Easy, DIY perpetual buttermilk
		li
			a(href="https://www.reddit.com/r/food/comments/g6mfkl/homemade_campagne_sourdough_boules/") Pretty Sourdough Scoring
