extends ../layout.pug

block head
	title Development LP

block content
	h1 Development LP

	ul
		li
			a(href="/entry/email-development/") Email Development
		li
			a(href="/entry/javascript/") Javascript
		li
			a(href="/entry/wordpress/") WordPress
		

	h2 General Dev Knowledge
	ul
		li
			a(href="https://github.com/mtdvio/every-programmer-should-know") Every Programmer Should Know
		li
			a(href="https://teachyourselfcs.com/?utm_source=hackernewsletter&utm_medium=email&utm_term=learn") Teach Yourself Computer Science
		li
			a(href="https://github.com/ForrestKnight/open-source-cs") The Open Source CS Degree
		li
			a(href="https://functionalcs.github.io/curriculum/?utm_source=hackernewsletter&utm_medium=email&utm_term=learn") A self-learning, modern CS curriculum
		li
			a(href="https://zeroequalsfalse.com/posts/programming-books-you-wish-you-read-earlier/") Programming Books You Wish You Read Earlier
		li
			a(href="https://github.com/ossu/computer-science") Open Source Society University CS Degree
		li
			a(href="https://overreacted.io/goodbye-clean-code/") Goodbye "Clean Code"
		li
			a(href="http://cs241.cs.illinois.edu/") System Programming
		li
			a(href="https://github.com/charlax/professional-programming") Professional Programming
		li
			a(href="https://github.com/trimstray/the-book-of-secret-knowledge") The book of secret knowledge

	h2 C++
	ul
		li
			a(href="https://news.ycombinator.com/item?id=16535886") Best way to learn modern C++?

	h2 Cryptography
	ul
		li
			a(href="https://cryptohack.org/") Cryptohack
			| : a fun platform for learning modern cryptography

	h2 Devops
	ul
		li
			a(href="https://www.opsschool.org/") Ops School Curriculum Ops School Curriculum Ops School Curriculum Ops School Curriculum

	h2 Hacking
	ul
		li
			a(href="https://overthewire.org/wargames/bandit/") OverTheWire: Bandit Wargame

	h2 SQL
	ul
		li
			a(href="https://selectstarsql.com/?utm_campaign=Versioning&utm_medium=email&utm_source=SitePoint") Select Star SQL
		li
			a(href="https://sqlpd.com/") SQL Police Department
	
	h2 PHP
	ul
		li	
			a(href="https://phptherightway.com/") PHP the Right Way
		li
			a(href="https://jvns.ca/blog/2019/08/27/curl-exercises/") cURL exercises
	
	h2 Regex
	ul
		li
			a(href="https://regexcrossword.com/challenges/tutorial/puzzles/1") Regex Crossword Puzzles

	h2 Utilities
	ul
		li
			a(href="https://www.textfixer.com/tools/remove-line-breaks.php") Line breaker removal tool
		li
			a(href="https://tiny-helpers.dev/") Tiny Helpers
			| : A collection of fee single-purpose online tools for web developers

	h2 TBD
	ul
		li
			a(href="https://github.com/florinpop17/app-ideas") App ideas
			| : a collection of app ideas for your next project
		li
			a(href="https://www.frontendmentor.io/") Frontend mentor, improve your front-end skills by building real projects