extends ../layout.pug

block head
	title Development LP

block content
	h1 Development LP

	ul
		li
			a(href="/entry/email-development/") Email Development
		li
			a(href="/entry/javascript/") Javascript
		li
			a(href="/entry/wordpress/") WordPress
		

	h2 General Dev Knowledge
	ul
		li
			a(href="https://github.com/mtdvio/every-programmer-should-know") Every Programmer Should Know
		li
			a(href="https://teachyourselfcs.com/?utm_source=hackernewsletter&utm_medium=email&utm_term=learn") Teach Yourself Computer Science
		li
			a(href="https://github.com/ForrestKnight/open-source-cs") The Open Source CS Degree
		li
			a(href="https://functionalcs.github.io/curriculum/?utm_source=hackernewsletter&utm_medium=email&utm_term=learn") A self-learning, modern CS curriculum
		li
			a(href="https://zeroequalsfalse.com/posts/programming-books-you-wish-you-read-earlier/") Programming Books You Wish You Read Earlier
		li
			a(href="https://github.com/ossu/computer-science") Open Source Society University CS Degree

	h2 C++
	ul
		li
			a(href="https://news.ycombinator.com/item?id=16535886") Best way to learn modern C++?
