extends ../layout.pug

block head
	title Development LP

block content
	h1 Development LP

	ul
		li
			a(href="/entry/email-development/") Email Development
		li
			a(href="/entry/javascript/") Javascript
		li
			a(href="/entry/wordpress/") WordPress
		

	h2 General Dev Knowledge
	ul
		li
			a(href="https://github.com/mtdvio/every-programmer-should-know") Every Programmer Should Know
