extends ../layout.pug

block head
	title Books & Reading

block content
	h1 Books & Reading

	h2 Currently Reading
	ul
		li
			a(href="/entry/bluebeard/") Bluebeard
		li
			a(href="/entry/indigenous-peoples-history-us/") An Indigenous People's History of the US
		li
			a(href="/entry/ultralearners/") Ultralearners

	h2 Poetry
	ul
		li
			a(href="https://www.giftedguru.com/ten-reasons-you-should-memorize-poetry/") Ten Reasons You Should Memorize Poetry
		li
			a(href="https://www.nytimes.com/2017/08/26/opinion/sunday/memorize-poems-poetry-education.html") Memorize That Poem!
		
	h2 Read Previously
	ul
		li
			a(href="/entry/how-to-read-a-book/") How to Read a Book

	h2 Reading Skill
	ul
		li
			a(href="https://evernote.com/blog/how-note-taking-improves-reading/") How Note Taking Improves Reading
		li
			a(href="https://jamesclear.com/reading-comprehension-strategies") 7 Ways to Retain More of Every Book You Read
		li
			a(href="https://fs.blog/2013/09/finding-time-to-read/") The Best Way to Find More Time to Read
		li
			a(href="http://time2read.co/remember-what-you-read/") How to Never Forget Books You Read

	h2 Reading Ideas

	h3 Science Fiction
	ul
		li
			a(href="https://www.producthunt.com/@bfeld/collections/brad-feld-s-sci-fi-suggestions") Brad Feld's Sci-Fi Suggestions
		li
			a(href="https://www.huffpost.com/entry/new-dystopia-sci-fi-books_n_58f52421e4b0da2ff862749f?guccounter=1") 17 Spine-Tingling New Books for Fans of Dystopia