extends ../layout.pug

block head
	title Books & Reading

block content
	h1 Books & Reading

	h2 Currently Reading
	ul
		li
			a(href="/entry/bluebeard/") Bluebeard
		li
			a(href="/entry/indigenous-peoples-history-us/") An Indigenous People's History of the US
		li
			a(href="/entry/ultralearners/") Ultralearners
		
	h2 Read Previously
	ul
		li
			a(href="/entry/how-to-read-a-book/") How to Read a Book