extends ../layout.pug

block head
	title Books & Reading

block content
	h1 Books & Reading

	h2 Currently Reading
	ul
		li
			a(href="/entry/bluebeard/") Bluebeard
		li
			a(href="/entry/indigenous-peoples-history-us/") An Indigenous People's History of the US
		li
			a(href="/entry/ultralearners/") Ultralearners
		
	h2 Read Previously
	ul
		li
			a(href="/entry/how-to-read-a-book/") How to Read a Book

	h2 Reading Skill
	ul
		li
			a(href="https://evernote.com/blog/how-note-taking-improves-reading/") How Note Taking Improves Reading
		li
			a(href="https://jamesclear.com/reading-comprehension-strategies") 7 Ways to Retain More of Every Book You Read
		li
			a(href="https://fs.blog/2013/09/finding-time-to-read/") The Best Way to Find More Time to Read