extends ../layout.pug

block head
	title Accessibility

block content
	h1 Accessibility

	h2 Accessible Design
	ul
		li Senior citizens are a group with special considerations. 
			a(href="https://www.smashingmagazine.com/2015/02/designing-digital-technology-for-the-elderly/") Consider ways they use technology differently,
			|  for example.
		li
			a(href="https://uxmovement.com/buttons/button-states-for-color-blind-users/") Buttons for color blind users.
		li
			a(href="https://www.rgd.ca/database/files/library/RGD_AccessAbility_Handbook.pdf") Access Ability
			|  from RGD Ontario. It's a practical handbook on accessible graphic design, for print, web, environmental design, and more.
		li
			a(href="http://babich.biz/accessible-interface-design/") Good overview of color in accessible design.

	h2 Business Implications
	p It's smart to make your website accessible. It's <a href="http://www.ilo.org/global/about-the-ilo/newsroom/features/WCMS_206049/lang--en/index.htm">good for society and business</a>.


	h2 Contrast
	ul
		li
			a(href="https://hexnaw.com/") Hex Naw
			|  let's you test your entire color system for contrast and accessibility.