extends ../layout.pug

block head
	title Accessibility

block content
	h1 Accessibility

	h2 Accessible Design
	ul
		li Senior citizens are a group with special considerations. 
			a(href="https://www.smashingmagazine.com/2015/02/designing-digital-technology-for-the-elderly/") Consider ways they use technology differently,
			|  for example.
		li
			a(href="https://uxmovement.com/buttons/button-states-for-color-blind-users/") Buttons for color blind users.