extends ../layout.pug

block head
	title Accessibility

block content
	h1 Accessibility

	h2 Accessible Design
	ul
		li Senior citizens are a group with special considerations. 
			a(href="https://www.smashingmagazine.com/2015/02/designing-digital-technology-for-the-elderly/") Consider ways they use technology differently,
			|  for example.
		li
			a(href="https://uxmovement.com/buttons/button-states-for-color-blind-users/") Buttons for color blind users.
		li
			a(href="https://www.rgd.ca/database/files/library/RGD_AccessAbility_Handbook.pdf") Access Ability
			|  from RGD Ontario. It's a practical handbook on accessible graphic design, for print, web, environmental design, and more.
		li
			a(href="http://babich.biz/accessible-interface-design/") Good overview of color in accessible design.

	h3 Animations
	ul
		li Learn to make <a href="https://alistapart.com/article/designing-safer-web-animation-for-motion-sensitivity/">animations for users with motion sensitivity. Then use <a href="https://alistapart.com/blog/post/more-resources-for-accessible-animations/">these resources</a> to put it into practice.

	h2 Business Implications
	p It's smart to make your website accessible. It's <a href="http://www.ilo.org/global/about-the-ilo/newsroom/features/WCMS_206049/lang--en/index.htm">good for society and business</a>. Learn to <a href="https://www.w3.org/WAI/business-case/">make a business case</a> for it. It will <a href="http://simplyaccessible.com/article/accessibility-according-to-my-mechanic/">expand the customer base</a>. Here are <a href="https://www.sitepoint.com/3-great-reasons-make-website-accessible/">3 specific ways accessibility benefits businesses</a>, and <a href="https://www.webdesignerdepot.com/2015/04/8-reasons-to-embrace-website-accessibility/">another 8 reasons</a>. Beyond the legal & economic reasons, remember that we're all disabled <a href="http://digitaldesignstandards.com/standard/accessibility/designing-accessibility-simply-good-business/">at least some of the time</a>, so we'll all need the functionality.


	h2 Contrast
	ul
		li
			a(href="https://hexnaw.com/") Hex Naw
			|  let's you test your entire color system for contrast and accessibility.

	h2 General Approach
	p First, <a href="https://www.springload.co.nz/blog/being-pragmatic-about-accessibility/">be pragmatic</a>. There is a lot of relatively easy stuff to get right and make a part of the process. You'll be accessible without even realizing it.