extends ../layout.pug

block head
	title Adulting
	
block content
	h1 Adulting

	h2 Finances
	p Investing is 'the thing to do' but I want to be <a href="https://www.openinvest.com/">ethical about it</a>.

	h2 Hosting
	p A good idea of <a href="https://www.thekitchn.com/10-little-things-i-do-for-houseguests-221392">little things to do for houseguests</a>.