extends ../layout.pug

block head
	title Adulting
	
block content
	h1 Adulting

	h2 Drinking
	ul
		li
			a(href="https://www.nytimes.com/2017/12/29/opinion/sunday/alcohol-binge-drinking.html") America, can we talk about your drinking?

	h2 Finances
	p Investing is 'the thing to do' but I want to be <a href="https://www.openinvest.com/">ethical about it</a>. Financial independence is <a href="https://www.whitecoatinvestor.com/financial-independence-is-not-a-number/">not a number</a>. <a href="https://www.nytimes.com/2016/02/02/your-money/spend-the-money-for-the-good-boots-and-wear-them-forever.html">Spend the money for the good boots</a> and wear them forever.
	ul
		li
			a(href="https://www.thebillfold.com/2016/01/a-story-of-a-fuck-off-fund/") The Story of a Fuck Off Fund
		
	h2 Grief
	ul
		li
			a(href="https://www.brainpickings.org/2016/03/08/cry-heart-but-never-break/") Cry, Heart, but Never Break: A Remarkable Illustrated Meditation on Loss and Life
		li
			a(href="https://www.brainpickings.org/2015/10/29/beloved-dog-maira-kalman/") "When Tibor died, the world came to an end. And the world did not come to an end. That is something you learn."
		li
			a(href="https://chrisguillebeau.com/the-change-of-loss/") The Change of Loss
		li
			a(href="https://www.pbs.org/newshour/arts/read-youre-grieving") 10 things to read when you're grieving
		li
			a(href="https://www.reddit.com/r/Assistance/comments/hax0t/my_friend_just_died_i_dont_know_what_to_do/") My Friend Just Died. I don't Know What to Do.
		li
			a(href="https://lifehacker.com/when-a-friend-is-grieving-offer-specific-ways-you-can-1796831786") When a Friend is Grieving, Offer Specific Ways You Can Help

	h2 Hosting
	p A good idea of <a href="https://www.thekitchn.com/10-little-things-i-do-for-houseguests-221392">little things to do for houseguests</a>.

	h2 Insurance
	ul
		li
			a(href="https://www.reddit.com/r/personalfinance/comments/43iyip/our_family_of_5_lost_everything_in_a_fire/") Insurance Adjuster's Guide to Claims