extends ../layout.pug

block head
	title Art

block content
	h1 Art
	
	h2 Painting
	ul
		li
			a(href="https://us8.campaign-archive.com/?u=51c6d69760513a5e5e4f75b29&id=2ebe9b3f3c") Impressionism - the Birth of Light in Painting