extends ../layout.pug

block head
	title Cooking Skills

block content
	h1 Cooking Skills

	h2 Knife Work
	p Cutting is one of the things you spend the most active time doing while in the kitchen, so learning the right way to cut is a huge deal. Start with the right equipment, and invest in the basic knives (
		a(href="https://lifehacker.com/dont-buy-expensive-knife-sets-these-four-knives-are-al-1698973316") don't get one of those crazy knife sets
		| ).
	ul
		li
			a(href="https://www.foodrepublic.com/2017/07/10/ode-french-knives/") An Ode to French Knives