extends ../layout.pug

block head
	title Bluebeard

block content
	h1 Bluebeard

	h2 Book Details
	p
		strong Author(s):
		|  Kurt Vonnegut
	p
		strong Year:
		|  1987
	p
		strong ISBN:
		|  978-0385333511
	p
		strong Format:
		|  Paperback
	p
		strong Dates Read:
		|  
	p
		strong Genre:
		|  Fiction
	p
		strong Rating:
		|  

	h2 What is the book about as a whole?

	h2 What is being said in detail, and how?

	h2 Is the book true, in whole or in part?

	h2 What of it?

	h2 Standout Quotes

	h2 Notes