extends ../layout.pug

block head
	title Command Line, BASH, etc.

block content
	h1 Command Line, BASH, etc.

	h2 Learning Resources
	ul
		li
			a(href="https://github.com/jlevy/the-art-of-command-line") The Art of Command Line
		li
			a(href="https://github.com/Idnan/bash-guide") A Bash Guide
		li
			a(href="https://likegeeks.com/bash-script-easy-guide/") Shell Scripting Step by Step
		li
			a(href="http://www.mitchchn.me/2014/os-x-terminal/") 8 Terminal Utilities Every MacOS Command Line User Should Know
		li
			a(href="http://cb.vu/unixtoolbox.xhtml") UNIX Toolbox
		li
			a(href="https://github.com/veltman/clmystery") Command Line Murder Mystery
		li
			a(href="https://ryanstutorials.net/linuxtutorial/") Linux Tutorial
		li
			a(href="https://cmdchallenge.com/") Command line challenge
		li
			a(href="https://explainshell.com/") Explain shell
		li
			a(href="https://linuxjourney.com/") Linux Journey