extends ../layout.pug

block head
	title Command Line, BASH, etc.

block content
	h1 Command Line, BASH, etc.

	h2 Learning Resources
	ul
		li
			a(href="https://github.com/jlevy/the-art-of-command-line") The Art of Command Line