extends ../layout.pug

block head
	title Cook Books I Own

block content
	h1 Cook Books I Own

	h2 Cuisine

	h3 Asian
	ul
		li
			a(href="https://www.goodreads.com/book/show/6579880-asian-dumplings?ac=1&from_search=true&qid=rW1RyvDahr&rank=1") Asian Dumplings
			|  - Mastering Gyoza, Spring Rolls, Samosas, and More
		li
			a(href="https://www.goodreads.com/book/show/18490874-asian-pickles") Asian Pickles
			|  - Sweet, Sour, Salty, Cure and Fermented Preserves

	h4 Thai
	ul
		li
			a(href="https://www.goodreads.com/book/show/31394394-bangkok") Bangkok
			|  - Recipes and Stories from the Heart of Thailand

	h3 California
	ul
		li
			a(href="https://www.goodreads.com/book/show/33606659-baco") Bäco
			|  - Vivid recipes from the heart of Los Angeles
		li
			a(href="https://www.goodreads.com/book/show/30842404-bowls") bowls!
			|  - Recipes and Inspirations for Healthful One-Dish Meals
		li
			a(href="https://www.goodreads.com/book/show/20706678-brown-sugar-kitchen") Brown Sugar Kitchen
			|  - New-Style, Down-Home Recipes from Sweet West Oakland

	h3 Historical
	ul
		li
			a(href="https://www.goodreads.com/book/show/25898305-a-thyme-and-place") A Thyme and Place
			|  - Medieval Feasts and Recipes for the Modern Table

	h3 Southern
	ul
		li
			a(href="https://www.goodreads.com/book/show/10318476-basic-to-brilliant-y-all") Basic to Brilliant, Y'all
			|  - 150 Refined Southern Recipes and Ways to Dress Them Up for Company
		li
			a(href="https://www.goodreads.com/book/show/22926520-the-broad-fork") The Broad Fork
			|  - Recipes for the Wide World of Vegetables and Fruits
		li
			a(href="https://www.goodreads.com/book/show/20706678-brown-sugar-kitchen") Brown Sugar Kitchen
			|  - New-Style, Down-Home Recipes from Sweet West Oakland

	h3 Street Food
	ul
		li
			a(href="https://www.goodreads.com/book/show/41730756-around-the-world-in-80-food-trucks") Around the World in 80 Food Trucks
		li
			a(href="https://www.goodreads.com/book/show/33606659-baco") Bäco
			|  - Vivid recipes from the heart of Los Angeles

	h3 Tex Mex
	ul
		li
			a(href="https://www.goodreads.com/book/show/33606659-baco") Bäco
			|  - Vivid recipes from the heart of Los Angeles

	h2 Essay, Travel & Food Stories
	ul
		li
			a(href="https://www.goodreads.com/book/show/28925236-appetites") Appetites: A Cookbook (Anthony Bourdain)
		li
			a(href="https://www.goodreads.com/book/show/41730756-around-the-world-in-80-food-trucks") Around the World in 80 Food Trucks
		li
			a(href="https://www.goodreads.com/book/show/31394394-bangkok") Bangkok
			|  - Recipes and Stories from the Heart of Thailand

	h2 Meal Types

	h3 Dessert
	ul
		li
			a(href="https://www.goodreads.com/book/show/40241555-american-cookie") American Cookie
			|  - The Snaps, Drops, Jumbles, Tea Cakes, Bars & Brownies That We Have Loved for Generations
		li
			a(href="https://www.goodreads.com/book/show/3717673-bakewise") BakeWise
			|  - The Hows and Whys of Successful Baking
		li
			a(href="https://www.goodreads.com/book/show/32445516-baking-for-two") Baking for Two
			|  - The Small-Batch Baking Cookbook for Sweet and Savory Treats
		li
			a(href="https://www.goodreads.com/book/show/22875404-baking-with-less-sugar") Baking with Less Sugar
		li
			a(href="https://www.goodreads.com/book/show/32191664-bravetart") Bravetart
			|  - Iconic American Desserts

	h3 Dinner Party
	ul
		li
			a(href="https://www.goodreads.com/book/show/10318476-basic-to-brilliant-y-all") Basic to Brilliant, Y'all
			|  - 150 Refined Southern Recipes and Ways to Dress Them Up for Company

	h3 Healthy
	ul
		li
			a(href="https://www.goodreads.com/book/show/23932608-28-days-of-clean-eating") 28 Days of Clean Eating
		li
			a(href="https://www.goodreads.com/book/show/22875404-baking-with-less-sugar") Baking with Less Sugar
		li
			a(href="https://www.goodreads.com/book/show/25817686-the-bare-bones-broth-cookbook") The Bare Bones Broth Cookbook
			|  - 125 Gut-Friendly Recipes to Heal, Strengthen, and Nourish the Body
		li
			a(href="https://www.goodreads.com/book/show/30842404-bowls") bowls!
			|  - Recipes and Inspirations for Healthful One-Dish Meals

	h3 Made For Two
	ul
		li
			a(href="https://www.goodreads.com/book/show/31430413-all-in-one-dutch-oven-cookbook-for-two") All in One Dutch Oven Cookbook for Two
		li
			a(href="https://www.goodreads.com/book/show/32445516-baking-for-two") Baking for Two
			|  - The Small-Batch Baking Cookbook for Sweet and Savory Treats

	h3 Soup
	ul
		li
			a(href="https://www.goodreads.com/book/show/25817686-the-bare-bones-broth-cookbook") The Bare Bones Broth Cookbook
			|  - 125 Gut-Friendly Recipes to Heal, Strengthen, and Nourish the Body


	h2 Ingredients

	h3 Marijuana
	ul
		li
			a(href="https://www.goodreads.com/book/show/29983227-the-420-gourmet") The 420 Gourmet
			|  - The Elevated Art of Cannabis Cuisine

	h3 Produce
	ul
		li
			a(href="https://www.goodreads.com/book/show/18209511-brassicas") Brassicas
			|  - Cooking the world's healthiest vegetables
		li
			a(href="https://www.goodreads.com/book/show/22926520-the-broad-fork") The Broad Fork
			|  - Recipes for the Wide World of Vegetables and Fruits

	h2 Special Techniques

	h3 Food Science
	ul
		li
			a(href="https://www.goodreads.com/book/show/28503835-everydaycook") Alton Brown - EveryDay Cook
		li
			a(href="https://www.goodreads.com/book/show/3717673-bakewise") BakeWise
			|  - The Hows and Whys of Successful Baking
		li
			a(href="https://www.goodreads.com/book/show/32191664-bravetart") Bravetart
			|  - Iconic American Desserts

	h3 Pickles & Fermentation
	ul
		li
			a(href="https://www.goodreads.com/book/show/18490874-asian-pickles") Asian Pickles
			|  - Sweet, Sour, Salty, Cure and Fermented Preserves

	h2 Tools/Equipment

	h3 Dutch Oven
	ul
		li
			a(href="https://www.goodreads.com/book/show/31430413-all-in-one-dutch-oven-cookbook-for-two") All in One Dutch Oven Cookbook for Two

	h3 Instant Pot
	ul
		li The 
			a(href="https://www.goodreads.com/book/show/32841982-the-i-love-my-instant-pot-recipe-book") "I Love My Instant Pot Recipe Book"

	h3 Slow Cooker
	ul
		li
			a(href="https://www.goodreads.com/book/show/34150802-adventures-in-slow-cooking") Adventures in Slow Cooking
			|  - 120 Slow Cooker Recipes for People who Love Food