extends ../layout.pug

block head
	title Cookbooks I Own

block content
	h1 Cookbooks I Own

	h2 Cuisine

	h3 Africa

	h4 Morocco
	ul
		li
			a(href="https://www.goodreads.com/book/show/75180.Couscous_and_Other_Good_Food_from_Morocco") Couscous
			| :  and Other Good Food From Morocco

	h3 The Americas and the Caribbean

	h4 Mexico
	ul
		li
			a(href="") The Essential Mexican Instant Pot Cookbook
			| :  Authentic Flavors and Modern Recipes for Your Electric Pressure Cooker

	h3 Asia
	ul
		li
			a(href="https://www.goodreads.com/book/show/6579880-asian-dumplings?ac=1&from_search=true&qid=rW1RyvDahr&rank=1") Asian Dumplings
			| :  Mastering Gyoza, Spring Rolls, Samosas, and More
		li
			a(href="https://www.goodreads.com/book/show/18490874-asian-pickles") Asian Pickles
			| :  Sweet, Sour, Salty, Cure and Fermented Preserves

	h4 China
	ul
		li
			a(href="https://www.goodreads.com/book/show/35804610-chinese-street-food") Chinese Street Food
			| :  Small Bites, Classic Recipes, and Harrowing Tales Across the Middle Kingdom
		li
			a(href="https://www.goodreads.com/book/show/32926342-family-style-chinese-cookbook") Family Style Chinese Cookbook
			| :  Authentic Recipes from My Culinary Journey Through China

	h4 India
	ul
		li
			a(href="https://www.goodreads.com/book/show/38819885-the-essential-indian-instant-pot-cookbook") The Essential Indian Instant Pot Cookbook
			| :  Authentic Flavors and Modern Recipes for Your Electric Pressure Cooker

	h4 Korea
	ul
		li
			a(href="https://www.goodreads.com/book/show/27209316-cook-korean") Cook Korean!
			| :  A Comic Book With Recipes

	h4 Philippines
	ul
		li
			a(href="https://www.goodreads.com/book/show/51886554-the-easy-filipino-cookbook") The Easy Filipino Cookbook
			| :  100 Classics Made Simple

	h4 Thailand
	ul
		li
			a(href="https://www.goodreads.com/book/show/31394394-bangkok") Bangkok
			| :  Recipes and Stories from the Heart of Thailand

	h3 Europe

	h4 France
	ul
		li
			a(href="https://www.goodreads.com/book/show/13526268-crepes") Crepes
			| :  50 Savory and Sweet Recipes

	h4 Germany
	ul
		li
			a(href="https://www.goodreads.com/book/show/28686800-classic-german-baking") Classic German Baking
			| :  The Very Best Recipes for Traditional Favorites, from Pfeffernüsse to Streuselkuchen

	h4 Italy
	ul
		li
			a(href="https://www.goodreads.com/book/show/25982519-the-elements-of-pizza") The Elements of Pizza
			| :  Unlocking the Secrets to World-Class Pies at Home
		li
			a(href="https://www.goodreads.com/book/show/20447765-flour-water") Flour + Water
			| :  Pasta

	h3 Historical
	ul
		li
			a(href="https://www.goodreads.com/book/show/25898305-a-thyme-and-place") A Thyme and Place
			| :  Medieval Feasts and Recipes for the Modern Table

	h3 United States

	h4 California
	ul
		li
			a(href="https://www.goodreads.com/book/show/33606659-baco") Bäco
			| :  Vivid recipes from the heart of Los Angeles
		li
			a(href="https://www.goodreads.com/book/show/30842404-bowls") bowls!
			| :  Recipes and Inspirations for Healthful One-Dish Meals
		li
			a(href="https://www.goodreads.com/book/show/20706678-brown-sugar-kitchen") Brown Sugar Kitchen
			| :  New-Style, Down-Home Recipes from Sweet West Oakland
		li
			a(href="https://www.goodreads.com/book/show/12893228-cooking-my-way-back-home") Cooking My Way Back Home
			| :  Recipes from San Francisco's Town Hall, Anchor & Hope and Salt House

	h4 Southern
	ul
		li
			a(href="https://www.goodreads.com/book/show/10318476-basic-to-brilliant-y-all") Basic to Brilliant, Y'all
			| :  150 Refined Southern Recipes and Ways to Dress Them Up for Company
		li
			a(href="https://www.goodreads.com/book/show/22926520-the-broad-fork") The Broad Fork
			| :  Recipes for the Wide World of Vegetables and Fruits
		li
			a(href="https://www.goodreads.com/book/show/20706678-brown-sugar-kitchen") Brown Sugar Kitchen
			| :  New-Style, Down-Home Recipes from Sweet West Oakland
		li
			a(href="https://www.goodreads.com/book/show/23278652-fried-chicken") Fried Chicken
			| :  Recipes for the Crispy, Crunchy, Comfort-Food Classic

	h4 Tex Mex
	ul
		li
			a(href="https://www.goodreads.com/book/show/33606659-baco") Bäco
			| :  Vivid recipes from the heart of Los Angeles

	h2 Essay, Travel & Food Stories
	ul
		li
			a(href="https://www.goodreads.com/book/show/28925236-appetites") Appetites: A Cookbook (Anthony Bourdain)
		li
			a(href="https://www.goodreads.com/book/show/41730756-around-the-world-in-80-food-trucks") Around the World in 80 Food Trucks
		li
			a(href="https://www.goodreads.com/book/show/31394394-bangkok") Bangkok
			| :  Recipes and Stories from the Heart of Thailand
		li
			a(href="https://www.goodreads.com/book/show/32926342-family-style-chinese-cookbook") Family Style Chinese Cookbook
			| :  Authentic Recipes from My Culinary Journey Through China

	h2 Meal Types

	h3 Desserts

	h4 Baked Goods & Compendiums
	ul
		li
			a(href="https://www.goodreads.com/book/show/40241555-american-cookie") American Cookie
			| :  The Snaps, Drops, Jumbles, Tea Cakes, Bars & Brownies That We Have Loved for Generations
		li
			a(href="https://www.goodreads.com/book/show/3717673-bakewise") BakeWise
			| :  The Hows and Whys of Successful Baking
		li
			a(href="https://www.goodreads.com/book/show/32445516-baking-for-two") Baking for Two
			| :  The Small-Batch Baking Cookbook for Sweet and Savory Treats
		li
			a(href="https://www.goodreads.com/book/show/22875404-baking-with-less-sugar") Baking with Less Sugar
		li
			a(href="https://www.goodreads.com/book/show/32191664-bravetart") Bravetart
			| :  Iconic American Desserts
		li
			a(href="https://www.goodreads.com/book/show/8171915-cake-pops") Cake Pops
			| :  Tips, Tricks, and Recipes for More Than 40 Irresistible Mini Treats
		li
			a(href="https://www.goodreads.com/book/show/30842393-cake-i-love-you") Cake, I love You
			| :  Decadent, Delectable, and Do-able Recipes
		li
			a(href="https://www.goodreads.com/book/show/28686800-classic-german-baking") Classic German Baking
			| :  The Very Best Recipes for Traditional Favorites, from Pfeffernüsse to Streuselkuchen
		li
			a(href="") Cookie Love
			| :  More Than 60 Recipes and Techniques for Turning the Ordinary into the Extraordinary
		li
			a(href="https://www.goodreads.com/book/show/13526268-crepes") Crepes
			| :  50 Savory and Sweet Recipes
		li
			a(href="https://www.goodreads.com/book/show/20662434-crumb") Crumb
			| :  A Baking Book
		li
			a(href="https://www.goodreads.com/book/show/20578598-do-you-know-the-muffin-pan") Do You Know the Muffin Pan?
			| :  100 Fun, Easy-to-Make Muffin Pan Meals
		li
			a(href="https://www.goodreads.com/book/show/36426424-the-easy-homemade-cookie-cookbook") The Easy Homemade Cookie Cookbook
			| :  Simple Recipes for the Best Chocolate Chip Cookies, Brownies, Christmas Treats, and Other American Favorites
		li
			a(href="https://www.goodreads.com/book/show/8190925-flour") Flour
			| :  Spectacular Recipes from Boston's Flour Bakery + Cafe
		li
			a(href="") Geek Sweets
			| :  An Adventurer's Guide to the World of Baking Wizardry

	h4 Bread
	ul
		li
			a(href="https://www.goodreads.com/book/show/728045.Crust_and_Crumb") Crust and Crumb
			| :  Master Formulas for Serious Bread Bakers
		li
			a(href="https://www.goodreads.com/book/show/32660968-easy-soups-from-scratch-with-quick-breads-to-match") Easy Soups From Scratch with Quick Breads to Match
			| :  70 Recipes to Pair and Share
		li
			a(href="https://www.goodreads.com/book/show/25982519-the-elements-of-pizza") The Elements of Pizza
			| :  Unlocking the Secrets to World-Class Pies at Home

	h4 Candy & Chocolate
	ul
		li
			a(href="https://www.goodreads.com/book/show/30780245-candy-is-magic") Candy is Magic
			| :  Real Ingredients, Modern Recipes

	h4 Frozen
	ul
		li
			a(href="https://www.goodreads.com/book/show/31521904-food52-ice-cream-and-friends") Food52 Ice Cream & Friends
			| :  60 Recipes and Rifs for Sorbets, Sandwiches, No-Churn Ice Creams, and More

	h3 Beverages
	ul
		li
			a(href="https://www.goodreads.com/book/show/36342054-clean-dirty-drinking") Clean + Dirty Drinking
			| :  100+ Recipes for Making Delicious Elixirs, With or Without Booze

	h3 Breakfast & Brunch
	ul
		li
			a(href="https://www.goodreads.com/book/show/28686800-classic-german-baking") Classic German Baking
			| :  The Very Best Recipes for Traditional Favorites, from Pfeffernüsse to Streuselkuchen
		li
			a(href="https://www.goodreads.com/book/show/13526268-crepes") Crepes
			| :  50 Savory and Sweet Recipes
		li
			a(href="https://www.goodreads.com/book/show/30255982-egg-shop") Egg Shop
			| :  The Cookbook

	h3 Comfort Food
	ul
		li
			a(href="https://www.goodreads.com/book/show/38255338-comfort-in-an-instant") Comfort in an Instant
			| :  75 Comfort Food Recipes for Your Pressure Cooker, Multicooker, and Instant Pot
		li
			a(href="https://www.goodreads.com/book/show/40600453-delish") Delish
			| :  Eat Like Every Day's the Weekend
		li
			a(href="https://www.goodreads.com/book/show/31214842-eat-delicious") Eat Delicious
			| :  125 Recipes for Your Daily Dose of Awesome
		li
			a(href="https://www.goodreads.com/book/show/23278652-fried-chicken") Fried Chicken
			| :  Recipes for the Crispy, Crunchy, Comfort-Food Classic

	h3 Entertaining
	ul
		li
			a(href="https://www.goodreads.com/book/show/10318476-basic-to-brilliant-y-all") Basic to Brilliant, Y'all
			| :  150 Refined Southern Recipes and Ways to Dress Them Up for Company
		li
			a(href="https://www.goodreads.com/book/show/37975409-cheese-balls") Cheese Balls
			| :  40 celebratory and cheese-licious recipes
		li
			a(href="https://www.goodreads.com/book/show/40265587-dinner-for-everyone") Dinner for Everyone
			| :  100 Iconic Dishes Made 3 Ways: Easy, Vegan, or Perfect for Company
		li
			a(href="https://www.goodreads.com/book/show/13414952-the-epicurious-cookbook") Epicurious Cookbook
			| :  More than 250 of Our Best-Loved Four-Fork Recipes

	h3 Healthy
	ul
		li
			a(href="https://www.goodreads.com/book/show/23932608-28-days-of-clean-eating") 28 Days of Clean Eating
		li
			a(href="https://www.goodreads.com/book/show/22875404-baking-with-less-sugar") Baking with Less Sugar
		li
			a(href="https://www.goodreads.com/book/show/25817686-the-bare-bones-broth-cookbook") The Bare Bones Broth Cookbook
			| :  125 Gut-Friendly Recipes to Heal, Strengthen, and Nourish the Body
		li
			a(href="https://www.goodreads.com/book/show/30842404-bowls") bowls!
			| :  Recipes and Inspirations for Healthful One-Dish Meals
		li
			a(href="https://www.goodreads.com/book/show/18489220-eat-drink-paleo-cookbook") Eat Drink Paleo Cookbook
			| :  Over 110 Paleo-Inspired Recipes for Everyone
		li
			a(href="https://www.goodreads.com/book/show/30364149-energy-balls") Energy Balls
		li
			a(href="https://www.goodreads.com/book/show/43611373-food-pharmacy") Food Pharmacy
			| :  A Guide to Gut Bacteria, Anti-Inflammatory Foods, and Eating for Health

	h3 Made For Two
	ul
		li
			a(href="https://www.goodreads.com/book/show/31430413-all-in-one-dutch-oven-cookbook-for-two") All in One Dutch Oven Cookbook for Two
		li
			a(href="https://www.goodreads.com/book/show/32445516-baking-for-two") Baking for Two
			| :  The Small-Batch Baking Cookbook for Sweet and Savory Treats
		li
			a(href="https://www.goodreads.com/book/show/26811592-the-complete-slow-cooking-for-two") The Complete Slow Cooking for Two

	h3 Snacks
	ul
		li
			a(href="https://www.goodreads.com/book/show/30364149-energy-balls") Energy Balls

	h3 Soup
	ul
		li
			a(href="https://www.goodreads.com/book/show/25817686-the-bare-bones-broth-cookbook") The Bare Bones Broth Cookbook
			| :  125 Gut-Friendly Recipes to Heal, Strengthen, and Nourish the Body
		li
			a(href="https://www.goodreads.com/book/show/32660968-easy-soups-from-scratch-with-quick-breads-to-match") Easy Soups From Scratch with Quick Breads to Match
			| :  70 Recipes to Pair and Share

	h3 Street Food
	ul
		li
			a(href="https://www.goodreads.com/book/show/41730756-around-the-world-in-80-food-trucks") Around the World in 80 Food Trucks
		li
			a(href="https://www.goodreads.com/book/show/33606659-baco") Bäco
			| :  Vivid recipes from the heart of Los Angeles
		li
			a(href="https://www.goodreads.com/book/show/35804610-chinese-street-food") Chinese Street Food
			| :  Small Bites, Classic Recipes, and Harrowing Tales Across the Middle Kingdom

	h3 Vegan/Vegetarian
	ul
		li
			a(href="https://www.goodreads.com/book/show/40265587-dinner-for-everyone") Dinner for Everyone
			| :  100 Iconic Dishes Made 3 Ways: Easy, Vegan, or Perfect for Company

	h3 Weeknight Cooking
	ul
		li
			a(href="https://www.goodreads.com/book/show/34272569-dining-in") Dining In
			| :  Highly Cookable Recipes
		li
			a(href="https://www.goodreads.com/book/show/40265587-dinner-for-everyone") Dinner for Everyone
			| :  100 Iconic Dishes Made 3 Ways: Easy, Vegan, or Perfect for Company
		li
			a(href="https://www.goodreads.com/book/show/38928054-dinner-s-in-the-oven") Dinner's in the Oven
			| :  Simple One-Pan Meals
		li
			a(href="https://www.goodreads.com/book/show/36186851-the-easy-5-ingredient-slow-cooker-cookbook") The Easy 5-Ingredient Slow Cooker Cookbook
			| :  100 Delicious No-Fuss Meals for Busy People
		li
			a(href="https://www.goodreads.com/book/show/38256293-eat-at-home-tonight") Eat at Home Tonight
			| :  101 Simple Busy-Family Recipes for Your Slow Cooker, Sheet Pan, Instant Pot, and More
		li
			a(href="https://www.goodreads.com/book/show/13414952-the-epicurious-cookbook") Epicurious Cookbook
			| :  More than 250 of Our Best-Loved Four-Fork Recipes
		li
			a(href="https://www.goodreads.com/book/show/28686770-food52-a-new-way-to-dinner") Food52 A New Way to Dinner
			| :  A Playbook of Recipes and Strategies for the Week Ahead

	h2 Ingredients

	h3 Marijuana
	ul
		li
			a(href="https://www.goodreads.com/book/show/29983227-the-420-gourmet") The 420 Gourmet
			| :  The Elevated Art of Cannabis Cuisine

	h3 Produce + Seasonal Cooking
	ul
		li
			a(href="https://www.goodreads.com/book/show/18209511-brassicas") Brassicas
			| :  Cooking the world's healthiest vegetables
		li
			a(href="https://www.goodreads.com/book/show/22926520-the-broad-fork") The Broad Fork
			| :  Recipes for the Wide World of Vegetables and Fruits
		li
			a(href="https://www.goodreads.com/book/show/35340600-eating-from-the-ground-up") Eating from the Ground Up
			| :  Recipes for Simple, Perfect Vegetables
		li
			a(href="https://www.goodreads.com/book/show/15819628-the-food52-cookbook-volume-2") The Food52 Cookbook Volume 2
			| :  Seasonal Recipes From Our Kitchens to Yours
		li
			a(href="https://www.goodreads.com/book/show/28686770-food52-a-new-way-to-dinner") Food52 A New Way to Dinner
			| :  A Playbook of Recipes and Strategies for the Week Ahead

	h2 Special Techniques

	h3 Candy & Chocolate
	ul
		li
			a(href="https://www.goodreads.com/book/show/30780245-candy-is-magic") Candy is Magic
			| :  Real Ingredients, Modern Recipes

	h3 Food Science & Cooking Skills
	ul
		li
			a(href="https://www.goodreads.com/book/show/28503835-everydaycook") Alton Brown - EveryDay Cook
		li
			a(href="https://www.goodreads.com/book/show/3717673-bakewise") BakeWise
			| :  The Hows and Whys of Successful Baking
		li
			a(href="https://www.goodreads.com/book/show/32191664-bravetart") Bravetart
			| :  Iconic American Desserts
		li
			a(href="https://www.goodreads.com/book/show/29737860-cook-s-science") Cook's Science
			| :  How to Unlock Flavor in 50 of our Favorite Ingredients
		li
			a(href="https://www.goodreads.com/book/show/25770528-cooking-for-geeks") Cooking for Geeks
			| :  Real Science, Great Cooks, and Good Food
		li
			a(href="https://www.goodreads.com/book/show/1094568.Craft_of_Cooking") Craft of Cooking
			| :  Notes and Recipes from a Restaurant Kitchen
		li
			a(href="https://www.goodreads.com/book/show/40265587-dinner-for-everyone") Dinner for Everyone
			| :  100 Iconic Dishes Made 3 Ways: Easy, Vegan, or Perfect for Company
		li
			a(href="https://www.goodreads.com/book/show/43083674-make") Make: Edible Inventions
			| :  Cooking Hacks and Yummy Recipes You Can Build, Mix, Bake, and Grow

	h3 Pickles & Fermentation
	ul
		li
			a(href="https://www.goodreads.com/book/show/18490874-asian-pickles") Asian Pickles
			| :  Sweet, Sour, Salty, Cure and Fermented Preserves
		li
			a(href="https://www.goodreads.com/book/show/31213414-can-it-ferment-it") Can It & Ferment It
			| :  75 Satisfying Small-Batch Canning and Fermentation Recipes for the Whole Year
		li
			a(href="https://www.goodreads.com/book/show/51579533-essential-vegetable-fermentation") Essential Vegetable Fermentation
			| :  70 Inventive Recipes to Make Your Own Pickles, Kraut, Kimchi, and More
		li
			a(href="https://www.goodreads.com/book/show/36106912-ferment") Ferment
			| :  A Guide to the Ancient Art of Making Cultured Foods
		li
			a(href="https://www.goodreads.com/book/show/19156506-fermentation-for-beginners") Fermentation for Beginners
			| :  The Step-By-Step Guide to Fermentation and Probiotic Foods

	h2 Tools/Equipment

	h3 Canning
	ul
		li
			a(href="https://www.goodreads.com/book/show/31213414-can-it-ferment-it") Can It & Ferment It
			| :  75 Satisfying Small-Batch Canning and Fermentation Recipes for the Whole Year

	h3 Dehydrator
	ul
		li
			a(href="https://www.goodreads.com/book/show/48111435-the-dehydrator-cookbook-for-outdoor-adventurers") The Dehydrator Cookbook for Outdoor Adventures
			| :  Healthy, Delicious Recipes for Backpacking and Beyond

	h3 Dutch Oven
	ul
		li
			a(href="https://www.goodreads.com/book/show/31430413-all-in-one-dutch-oven-cookbook-for-two") All in One Dutch Oven Cookbook for Two

	h3 Grill & Smoker
	ul
		li
			a(href="https://www.yudhacookbook.com/2019/11/flavorize-great-marinades-injections.html") Flavorize
			| :  Great Marinades, Injections, Brines, Rubs, and Glazes
		li
			a(href="https://www.goodreads.com/book/show/22716561-franklin-barbecue") Franklin Barbecue
			| :  A Meat-Smoking Manifesto

	h3 Muffin Pan
	ul
		li
			a(href="https://www.goodreads.com/book/show/20578598-do-you-know-the-muffin-pan") Do You Know the Muffin Pan?
			| :  100 Fun, Easy-to-Make Muffin Pan Meals

	h3 Pressure Cooker
	ul
		li The 
			a(href="https://www.goodreads.com/book/show/32841982-the-i-love-my-instant-pot-recipe-book") "I Love My Instant Pot Recipe Book"
		li
			a(href="https://www.goodreads.com/book/show/38255338-comfort-in-an-instant") Comfort in an Instant
			| :  75 Comfort Food Recipes for Your Pressure Cooker, Multicooker, and Instant Pot
		li
			a(href="https://www.goodreads.com/book/show/34617758-dinner-in-an-instant") Dinner in an Instant
			| :  75 Modern Recipes for Your Pressure Cooker, Multicooker, and Instant Pot
		li
			a(href="https://www.goodreads.com/book/show/38256293-eat-at-home-tonight") Eat at Home Tonight
			| :  101 Simple Busy-Family Recipes for Your Slow Cooker, Sheet Pan, Instant Pot, and More
		li
			a(href="https://www.goodreads.com/book/show/38819885-the-essential-indian-instant-pot-cookbook") The Essential Indian Instant Pot Cookbook
			| :  Authentic Flavors and Modern Recipes for Your Electric Pressure Cooker
		li
			a(href="") The Essential Mexican Instant Pot Cookbook
			| :  Authentic Flavors and Modern Recipes for Your Electric Pressure Cooker

	h3 Sausage
	ul
		li
			a(href="") Easy Sausage Making
			| :  Essential Techniques and Recipes to Master Making Sausages at Home

	h3 Sheetpan
	ul
		li
			a(href="https://www.goodreads.com/book/show/38256293-eat-at-home-tonight") Eat at Home Tonight
			| :  101 Simple Busy-Family Recipes for Your Slow Cooker, Sheet Pan, Instant Pot, and More
	
	h3 Slow Cooker
	ul
		li
			a(href="https://www.goodreads.com/book/show/34150802-adventures-in-slow-cooking") Adventures in Slow Cooking
			| :  120 Slow Cooker Recipes for People who Love Food
		li
			a(href="https://www.goodreads.com/book/show/33931153-the-chef-and-the-slow-cooker") The Chef and the Slow Cooker
		li
			a(href="https://www.goodreads.com/book/show/26811592-the-complete-slow-cooking-for-two") The Complete Slow Cooking for Two
		li
			a(href="https://www.goodreads.com/book/show/36186851-the-easy-5-ingredient-slow-cooker-cookbook") The Easy 5-Ingredient Slow Cooker Cookbook
			| :  100 Delicious No-Fuss Meals for Busy People
		li
			a(href="https://www.goodreads.com/book/show/38256293-eat-at-home-tonight") Eat at Home Tonight
			| :  101 Simple Busy-Family Recipes for Your Slow Cooker, Sheet Pan, Instant Pot, and More