extends ../layout.pug

block head
	title Cookbooks I Own

block content
	h1 Cookbooks I Own

	h2 Cuisine

	h3 Africa

	h4 Morocco
	ul
		li
			a(href="https://www.goodreads.com/book/show/75180.Couscous_and_Other_Good_Food_from_Morocco") Couscous
			| :  and Other Good Food From Morocco

	h3 The Americas and the Caribbean
	ul
		li
			a(href="https://www.goodreads.com/book/show/35355654-the-latin-table") The Latin Table
			| : Easy, Flavorful Recipes from Mexico, Puerto Rico, and Beyond

	h4 Mexico
	ul
		li
			a(href="https://www.goodreads.com/book/show/38495279-the-essential-mexican-instant-pot-cookbook") The Essential Mexican Instant Pot Cookbook
			| :  Authentic Flavors and Modern Recipes for Your Electric Pressure Cooker
		li
			a(href="https://www.goodreads.com/book/show/32492479-from-the-source---mexico") Lonely Planet's Mexico From the Source
			| : Authentic Recipes From the People That Know Them Best
		li
			a(href="https://www.goodreads.com/book/show/13155769-the-mexican-slow-cooker") The Mexican Slow Cooker
			| : Recipes for Mole, Enchiladas, Carnitas, Chile Verde Pork, and More Favorites
		li
			a(href="https://www.goodreads.com/book/show/44552016-my-mexico-city-kitchen") My Mexico City Kitchen
			| : Recipes and Convictions
		li
			a(href="https://www.goodreads.com/book/show/32593025-nopalito") Nopalito

	h3 Asia
	ul
		li
			a(href="https://www.goodreads.com/book/show/6579880-asian-dumplings?ac=1&from_search=true&qid=rW1RyvDahr&rank=1") Asian Dumplings
			| :  Mastering Gyoza, Spring Rolls, Samosas, and More
		li
			a(href="https://www.goodreads.com/book/show/18490874-asian-pickles") Asian Pickles
			| :  Sweet, Sour, Salty, Cure and Fermented Preserves

	h4 China
	ul
		li
			a(href="https://www.goodreads.com/book/show/35804610-chinese-street-food") Chinese Street Food
			| :  Small Bites, Classic Recipes, and Harrowing Tales Across the Middle Kingdom
		li
			a(href="https://www.goodreads.com/book/show/32926342-family-style-chinese-cookbook") Family Style Chinese Cookbook
			| :  Authentic Recipes from My Culinary Journey Through China

	h4 India
	ul
		li
			a(href="https://www.goodreads.com/book/show/38819885-the-essential-indian-instant-pot-cookbook") The Essential Indian Instant Pot Cookbook
			| :  Authentic Flavors and Modern Recipes for Your Electric Pressure Cooker
		li
			a(href="https://www.goodreads.com/book/show/36236853-indian-instant-pot-cookbook") Indian Instant Pot Cookbook
			| : Traditional Indian Dishes Made Easy and Fast

	h4 Japan
	ul
		li
			a(href="https://www.goodreads.com/book/show/8985663-the-japanese-grill") The Japanese Grill
			| : From Classic Yakitori to Steak, Seafood, and Vegetables
		li
			a(href="https://www.goodreads.com/book/show/6223996-japanese-hot-pots") Japanese Hot Pot
			| : Comforting One-Pot Meals
		li
			a(href="https://www.goodreads.com/book/show/17262625-japanese-soul-cooking") Japanese Soul Cooking
			| : Ramen, Tonkatsu, Tempura, and More From the Streets and Kitchens of Tokyo and Beyond
		li
			a(href="https://www.goodreads.com/book/show/31353961-from-the-source---japan") Lonely Planet's Japan From the Source
			| : Authentic Recipes From the People That Know Them Best
		li
			a(href="https://www.goodreads.com/book/show/29099244-mastering-the-art-of-japanese-home-cooking") Mastering the Art of Japanese Home Cooking

	h4 Korea
	ul
		li
			a(href="https://www.goodreads.com/book/show/27209316-cook-korean") Cook Korean!
			| :  A Comic Book With Recipes
		li
			a(href="https://www.goodreads.com/book/show/35876395-korean-bbq") Korean BBQ
			| : Master Your Grill in Seven Sauces
		li
			a(href="https://www.goodreads.com/book/show/17331327-l-a-son") L.A. Son
			| : My Life, My City, My Food
		li
			a(href="https://www.goodreads.com/book/show/43261171-maangchi-s-big-book-of-korean-cooking") Maangchi's Big Book of Korean Cooking
			| : From Everyday Meals to Celebration Cuisine

	h4 Philippines
	ul
		li
			a(href="https://www.goodreads.com/book/show/51886554-the-easy-filipino-cookbook") The Easy Filipino Cookbook
			| :  100 Classics Made Simple

	h4 Thailand
	ul
		li
			a(href="https://www.goodreads.com/book/show/31394394-bangkok") Bangkok
			| :  Recipes and Stories from the Heart of Thailand
		li
			a(href="https://www.goodreads.com/book/show/26013177-from-the-source---thailand") Lonely Planet's Thailand From the Source
			| : Authentic Recipes From the People That Know Them Best

	h4 Vietnam
	ul
		li
			a(href="https://www.goodreads.com/book/show/104534.Into_the_Vietnamese_Kitchen") Into the Vietnamese Kitchen
			| : Treasured Foodways, Modern Flavors

	h3 Europe

	h4 France
	ul
		li
			a(href="https://www.goodreads.com/book/show/13526268-crepes") Crepes
			| :  50 Savory and Sweet Recipes
		li
			a(href="https://www.goodreads.com/book/show/35842149-from-the-source---france")  Lonely Planet's Source From the Source
			| : Authentic Recipes From the People That Know Them the Best
		li
			a(href="https://www.goodreads.com/book/show/18218879-my-little-french-kitchen") My Little French Kitchen
			| : Over a Hundred Recipes From the Mountains to the Market Squares and Shores of France

	h4 Germany
	ul
		li
			a(href="https://www.goodreads.com/book/show/28686800-classic-german-baking") Classic German Baking
			| :  The Very Best Recipes for Traditional Favorites, from Pfeffernüsse to Streuselkuchen

	h4 Greece
	ul
		li
			a(href="https://www.goodreads.com/book/show/20695980-ikaria") Ikaria
			| : Lessons on Food, Life, and Longevity from the Greek Island Where Poeple Forget to Die

	h4 Italy
	ul
		li
			a(href="https://www.goodreads.com/book/show/25982519-the-elements-of-pizza") The Elements of Pizza
			| :  Unlocking the Secrets to World-Class Pies at Home
		li
			a(href="https://www.goodreads.com/book/show/20447765-flour-water") Flour + Water
			| :  Pasta
		li
			a(href="https://www.goodreads.com/book/show/14501512-gelato") Gelato
			| : Simple Recipes for Authentic Italian Gelato to Make at Home
		li
			a(href="https://www.goodreads.com/book/show/152987.Italian_Food") Italian Food
		li
			a(href="https://www.goodreads.com/book/show/26013176-from-the-source---italy") Lonely Planet's Italy From the Source
			| : Authentic Recipes From the People That Know Them Best

	h4 Spain
	ul
		li
			a(href="https://www.goodreads.com/book/show/31353956-from-the-source---spain") Lonely Planet's Spain From the Source
			| : Authentic Recipes From the People That Know Them Best
	
	h3 Jewish
	ul
		li
			a(href="https://www.goodreads.com/book/show/22675936-modern-jewish-cooking") Modern Jewish Cooking
			| : Recipes and Customs for Today's Kitchen

	h3 Historical
	ul
		li
			a(href="https://www.goodreads.com/book/show/25898305-a-thyme-and-place") A Thyme and Place
			| :  Medieval Feasts and Recipes for the Modern Table

	h3 Middle East
	ul
		li
			a(href="https://www.goodreads.com/book/show/23197298-honey-co") Honey & Co
			| : The Cookbook
		li
			a(href="https://www.goodreads.com/book/show/3300607-ottolenghi") Ottolenghi
			| : The Cookbook

	h3 United States

	h4 American BBQ
	ul
		li
			a(href="https://www.goodreads.com/book/show/22716561-franklin-barbecue") Franklin Barbecue
			| :  A Meat-Smoking Manifesto
		li
			a(href="https://www.goodreads.com/book/show/34614.Legends_of_Texas_Barbecue_Cookbook") Legends of Texas Barbecue Cookbook
			| : Recipes and Recollections from the Pitmasters

	h4 California
	ul
		li
			a(href="https://www.goodreads.com/book/show/33606659-baco") Bäco
			| :  Vivid recipes from the heart of Los Angeles
		li
			a(href="https://www.goodreads.com/book/show/30842404-bowls") bowls!
			| :  Recipes and Inspirations for Healthful One-Dish Meals
		li
			a(href="https://www.goodreads.com/book/show/20706678-brown-sugar-kitchen") Brown Sugar Kitchen
			| :  New-Style, Down-Home Recipes from Sweet West Oakland
		li
			a(href="https://www.goodreads.com/book/show/12893228-cooking-my-way-back-home") Cooking My Way Back Home
			| :  Recipes from San Francisco's Town Hall, Anchor & Hope and Salt House
		li
			a(href="https://www.goodreads.com/book/show/17331327-l-a-son") L.A. Son
			| : My Life, My City, My Food

	h4 Southern
	ul
		li
			a(href="https://www.goodreads.com/book/show/10318476-basic-to-brilliant-y-all") Basic to Brilliant, Y'all
			| :  150 Refined Southern Recipes and Ways to Dress Them Up for Company
		li
			a(href="https://www.goodreads.com/book/show/22926520-the-broad-fork") The Broad Fork
			| :  Recipes for the Wide World of Vegetables and Fruits
		li
			a(href="https://www.goodreads.com/book/show/20706678-brown-sugar-kitchen") Brown Sugar Kitchen
			| :  New-Style, Down-Home Recipes from Sweet West Oakland
		li
			a(href="https://www.goodreads.com/book/show/23278652-fried-chicken") Fried Chicken
			| :  Recipes for the Crispy, Crunchy, Comfort-Food Classic
		li
			a(href="https://www.goodreads.com/book/show/42090068-instantly-southern") Instantly Southern
			| : 85 Southern Favorites for Your Pressure Cooker, Multicooker, and Instant Pot

	h4 Tex Mex
	ul
		li
			a(href="https://www.goodreads.com/book/show/33606659-baco") Bäco
			| :  Vivid recipes from the heart of Los Angeles

	h2 Essay, Travel & Food Stories
	ul
		li
			a(href="https://www.goodreads.com/book/show/28925236-appetites") Appetites: A Cookbook (Anthony Bourdain)
		li
			a(href="https://www.goodreads.com/book/show/41730756-around-the-world-in-80-food-trucks") Around the World in 80 Food Trucks
		li
			a(href="https://www.goodreads.com/book/show/31394394-bangkok") Bangkok
			| :  Recipes and Stories from the Heart of Thailand
		li
			a(href="https://www.goodreads.com/book/show/32926342-family-style-chinese-cookbook") Family Style Chinese Cookbook
			| :  Authentic Recipes from My Culinary Journey Through China
		li
			a(href="https://www.goodreads.com/book/show/20695980-ikaria") Ikaria
			| : Lessons on Food, Life, and Longevity from the Greek Island Where Poeple Forget to Die
		li
			a(href="https://www.goodreads.com/book/show/17331327-l-a-son") L.A. Son
			| : My Life, My City, My Food
		li
			a(href="https://www.goodreads.com/book/show/36200764-lonely-planet-s-ultimate-eats") Lonely Planet Ultimate Eats
			| : The World's Top 5000 Food Experiences ... Ranked
		li
			a(href="https://www.goodreads.com/book/show/39278245-on-spice") On Spice
			| : Advice, Wisdom, and History with a Grain of Saltiness

	h2 Meal Types

	h3 Desserts

	h4 Baked Goods & Compendiums
	ul
		li
			a(href="https://www.goodreads.com/book/show/40241555-american-cookie") American Cookie
			| :  The Snaps, Drops, Jumbles, Tea Cakes, Bars & Brownies That We Have Loved for Generations
		li
			a(href="https://www.goodreads.com/book/show/3717673-bakewise") BakeWise
			| :  The Hows and Whys of Successful Baking
		li
			a(href="https://www.goodreads.com/book/show/32445516-baking-for-two") Baking for Two
			| :  The Small-Batch Baking Cookbook for Sweet and Savory Treats
		li
			a(href="https://www.goodreads.com/book/show/22875404-baking-with-less-sugar") Baking with Less Sugar
		li
			a(href="https://www.goodreads.com/book/show/32191664-bravetart") Bravetart
			| :  Iconic American Desserts
		li
			a(href="https://www.goodreads.com/book/show/8171915-cake-pops") Cake Pops
			| :  Tips, Tricks, and Recipes for More Than 40 Irresistible Mini Treats
		li
			a(href="https://www.goodreads.com/book/show/30842393-cake-i-love-you") Cake, I love You
			| :  Decadent, Delectable, and Do-able Recipes
		li
			a(href="https://www.goodreads.com/book/show/28686800-classic-german-baking") Classic German Baking
			| :  The Very Best Recipes for Traditional Favorites, from Pfeffernüsse to Streuselkuchen
		li
			a(href="https://www.goodreads.com/book/show/22716560-cookie-love") Cookie Love
			| :  More Than 60 Recipes and Techniques for Turning the Ordinary into the Extraordinary
		li
			a(href="https://www.goodreads.com/book/show/13526268-crepes") Crepes
			| :  50 Savory and Sweet Recipes
		li
			a(href="https://www.goodreads.com/book/show/20662434-crumb") Crumb
			| :  A Baking Book
		li
			a(href="https://www.goodreads.com/book/show/20578598-do-you-know-the-muffin-pan") Do You Know the Muffin Pan?
			| :  100 Fun, Easy-to-Make Muffin Pan Meals
		li
			a(href="https://www.goodreads.com/book/show/36426424-the-easy-homemade-cookie-cookbook") The Easy Homemade Cookie Cookbook
			| :  Simple Recipes for the Best Chocolate Chip Cookies, Brownies, Christmas Treats, and Other American Favorites
		li
			a(href="https://www.goodreads.com/book/show/8190925-flour") Flour
			| :  Spectacular Recipes from Boston's Flour Bakery + Cafe
		li
			a(href="https://www.goodreads.com/book/show/32824449-geek-sweets") Geek Sweets
			| :  An Adventurer's Guide to the World of Baking Wizardry
		li
			a(href="https://www.goodreads.com/book/show/24905375-gluten-free-wish-list") Gluten-Free Wish List
			| : Sweet and Savory Treats You've Missed the Most
		li
			a(href="https://www.goodreads.com/book/show/20706669-hand-made-baking") Hand Made Baking
			| : Recipes to Warm the Heart
		li
			a(href="https://www.goodreads.com/book/show/2109340.Holiday_Baking") Holiday Baking
			| : New and Traditional Recipes for Wintertime Holidays
		li
			a(href="https://www.goodreads.com/book/show/20310762-huckleberry") Huckleberry
			| : Recipes, Stories, and Secrets From Our Kitchen
		li
			a(href="https://www.goodreads.com/book/show/41104145-icing-on-the-cake") Icing on the Cake
			| : Baking and Decorating Simple, Stunning Desserts at Home
		li
			a(href="https://www.goodreads.com/book/show/20685479-joy-the-baker-homemade-decadence") Joy the Baker's Homemade Decadence
			| : Irresistibly Sweet, Salty, Gooey, Sticky, Fluffy, Creamy, Crunchy Treats
		li
			a(href="https://www.goodreads.com/book/show/15899008-the-magic-of-mini-pies") The Magic of Mini Pies
			| : Sweet and Savory Miniature Pies and Tarts
		li
			a(href="https://www.goodreads.com/book/show/10979769-milk-cookies") Milk & Cookies
			| : 89 Heirloom Recipes from New York's Milk & Cookies Bakery
		li
			a(href="https://www.goodreads.com/book/show/10679360-momofuku-milk-bar") Momofoku Milk Bar
		li
			a(href="https://www.goodreads.com/book/show/30364146-muffins-biscuits") Muffins and Biscuits
			| : 50 Recipes to Start Your Day with a Smile
		li
			a(href="https://www.goodreads.com/book/show/25241878-the-new-sugar-spice") The New Sugar & Spice
			| : A Recipe for Bolder Baking

	h4 Bread
	ul
		li
			a(href="https://www.goodreads.com/book/show/728045.Crust_and_Crumb") Crust and Crumb
			| :  Master Formulas for Serious Bread Bakers
		li
			a(href="https://www.goodreads.com/book/show/32660968-easy-soups-from-scratch-with-quick-breads-to-match") Easy Soups From Scratch with Quick Breads to Match
			| :  70 Recipes to Pair and Share
		li
			a(href="https://www.goodreads.com/book/show/25982519-the-elements-of-pizza") The Elements of Pizza
			| :  Unlocking the Secrets to World-Class Pies at Home

	h4 Candy & Chocolate
	ul
		li
			a(href="https://www.goodreads.com/book/show/30780245-candy-is-magic") Candy is Magic
			| :  Real Ingredients, Modern Recipes

	h4 Frozen
	ul
		li
			a(href="https://www.goodreads.com/book/show/31521904-food52-ice-cream-and-friends") Food52 Ice Cream & Friends
			| :  60 Recipes and Rifs for Sorbets, Sandwiches, No-Churn Ice Creams, and More
		li
			a(href="https://www.goodreads.com/book/show/14501512-gelato") Gelato
			| : Simple Recipes for Authentic Italian Gelato to Make at Home
		li
			a(href="https://www.goodreads.com/book/show/10178769-jeni-s-splendid-ice-creams-at-home") Jeni's Splendid Ice Creams at Home

	h3 Beverages
	ul
		li
			a(href="https://www.goodreads.com/book/show/36342054-clean-dirty-drinking") Clean + Dirty Drinking
			| :  100+ Recipes for Making Delicious Elixirs, With or Without Booze
		li
			a(href="https://www.goodreads.com/book/show/34138312-mixed-up") Mixed Up
			| : Cocktail Recipes (and Flash Fiction) for the Discerning Drinker (and Reader)
		li
			a(href="https://www.goodreads.com/book/show/35457269-the-one-bottle-cocktail") The One Bottle Cocktail
			| : More Than 80 Recipes with Fresh Ingredients and a Single Spirit

	h3 Breakfast & Brunch
	ul
		li
			a(href="https://www.goodreads.com/book/show/28686800-classic-german-baking") Classic German Baking
			| :  The Very Best Recipes for Traditional Favorites, from Pfeffernüsse to Streuselkuchen
		li
			a(href="https://www.goodreads.com/book/show/13526268-crepes") Crepes
			| :  50 Savory and Sweet Recipes
		li
			a(href="https://www.goodreads.com/book/show/30255982-egg-shop") Egg Shop
			| :  The Cookbook

	h3 Comfort Food
	ul
		li
			a(href="https://www.goodreads.com/book/show/38255338-comfort-in-an-instant") Comfort in an Instant
			| :  75 Comfort Food Recipes for Your Pressure Cooker, Multicooker, and Instant Pot
		li
			a(href="https://www.goodreads.com/book/show/40600453-delish") Delish
			| :  Eat Like Every Day's the Weekend
		li
			a(href="https://www.goodreads.com/book/show/31214842-eat-delicious") Eat Delicious
			| :  125 Recipes for Your Daily Dose of Awesome
		li
			a(href="https://www.goodreads.com/book/show/23278652-fried-chicken") Fried Chicken
			| :  Recipes for the Crispy, Crunchy, Comfort-Food Classic
		li
			a(href="https://www.goodreads.com/book/show/25861949-grilled-cheese-kitchen") Grilled Cheese Kitchen
			| : Bread + Cheese + Everything in Between 
		li
			a(href="https://www.goodreads.com/book/show/45032681-how-to-cook-anything-in-your-dutch-oven") How to Cook Anything in Your Dutch Oven
			| : Classic American Comfort Foods and New Global Favorites
		li
			a(href="https://www.goodreads.com/book/show/6223996-japanese-hot-pots") Japanese Hot Pot
			| : Comforting One-Pot Meals
		li
			a(href="https://www.goodreads.com/book/show/17262625-japanese-soul-cooking") Japanese Soul Cooking
			| : Ramen, Tonkatsu, Tempura, and More From the Streets and Kitchens of Tokyo and Beyond
		li
			a(href="https://www.goodreads.com/book/show/34128280-munchies") Munchies
			| : Late-Night Meals from the World's Best Chefs
		li
			a(href="https://www.goodreads.com/book/show/18730154-my-drunk-kitchen") My Drunk Kitchen
			| : A Guide to Eating, Drinking, and Going with Your Gut

	h3 Entertaining
	ul
		li
			a(href="https://www.goodreads.com/book/show/10318476-basic-to-brilliant-y-all") Basic to Brilliant, Y'all
			| :  150 Refined Southern Recipes and Ways to Dress Them Up for Company
		li
			a(href="https://www.goodreads.com/book/show/37975409-cheese-balls") Cheese Balls
			| :  40 celebratory and cheese-licious recipes
		li
			a(href="https://www.goodreads.com/book/show/40265587-dinner-for-everyone") Dinner for Everyone
			| :  100 Iconic Dishes Made 3 Ways: Easy, Vegan, or Perfect for Company
		li
			a(href="https://www.goodreads.com/book/show/13414952-the-epicurious-cookbook") Epicurious Cookbook
			| :  More than 250 of Our Best-Loved Four-Fork Recipes
		li
			a(href="https://www.goodreads.com/book/show/1171716.James_Beard_s_Menus_for_Entertaining") James Beard's Menus for Entertaining
		li
			a(href="https://www.goodreads.com/book/show/27405157-modern-potluck") Modern Potluck
			| : Beautiful Food to Share

	h3 Healthy
	ul
		li
			a(href="https://www.goodreads.com/book/show/23932608-28-days-of-clean-eating") 28 Days of Clean Eating
		li
			a(href="https://www.goodreads.com/book/show/22875404-baking-with-less-sugar") Baking with Less Sugar
		li
			a(href="https://www.goodreads.com/book/show/25817686-the-bare-bones-broth-cookbook") The Bare Bones Broth Cookbook
			| :  125 Gut-Friendly Recipes to Heal, Strengthen, and Nourish the Body
		li
			a(href="https://www.goodreads.com/book/show/30842404-bowls") bowls!
			| :  Recipes and Inspirations for Healthful One-Dish Meals
		li
			a(href="https://www.goodreads.com/book/show/18489220-eat-drink-paleo-cookbook") Eat Drink Paleo Cookbook
			| :  Over 110 Paleo-Inspired Recipes for Everyone
		li
			a(href="https://www.goodreads.com/book/show/30364149-energy-balls") Energy Balls
		li
			a(href="https://www.goodreads.com/book/show/43611373-food-pharmacy") Food Pharmacy
			| :  A Guide to Gut Bacteria, Anti-Inflammatory Foods, and Eating for Health
		li
			a(href="https://www.goodreads.com/book/show/24018201-healthy-cookbook-for-two") Healthy Cookbook for Two
			| : 175 Simple, Delicious Recipes to Enjoy Cooking for Two
		li
			a(href="https://www.goodreads.com/book/show/43383550-the-healthy-sheet-pan-cookbook") The Healthy Sheet Pan Cookbook
			| : Satisfying One-Pan Meals for Busy Cooks
		li
			a(href="https://www.goodreads.com/book/show/18079651-the-oh-she-glows-cookbook") The Oh She Glows Cookbook
			| : Over 100 Vegan Recipes to Glow from the Inside Out

	h3 Made For Two & Small Plates
	ul
		li
			a(href="https://www.goodreads.com/book/show/31430413-all-in-one-dutch-oven-cookbook-for-two") All in One Dutch Oven Cookbook for Two
		li
			a(href="https://www.goodreads.com/book/show/32445516-baking-for-two") Baking for Two
			| :  The Small-Batch Baking Cookbook for Sweet and Savory Treats
		li
			a(href="https://www.goodreads.com/book/show/26811592-the-complete-slow-cooking-for-two") The Complete Slow Cooking for Two
		li
			a(href="https://www.goodreads.com/book/show/31450748-graze") Graze
			| : Inspiration for Small Plates and Meandering Meals
		li
			a(href="https://www.goodreads.com/book/show/24018201-healthy-cookbook-for-two") Healthy Cookbook for Two
			| : 175 Simple, Delicious Recipes to Enjoy Cooking for Two
		li
			a(href="https://www.goodreads.com/book/show/15791048-one-pan-two-plates") One Pan, Two Plates
			| : More than 70 Complete Weeknight Meals for Two
		li
			a(href="https://www.goodreads.com/book/show/30453687-one-pan-two-plates") One Pan, Two Plates (Vegetarian)
			| : More than 70 Weeknight Meals for Two
		li
			a(href="https://www.goodreads.com/book/show/52892708-one-pot-cooking-for-two") One-Pot Cooking for Two
			| : Effortless Meals for Your Sheet Pan, Skillet, Slow Cooker, and More

	h3 Sauces, Marinades, Rubs, Spice Blends, etc.
	ul
		li
			a(href="https://www.goodreads.com/book/show/571604.Marinades_Rubs_Brines_Cures_and_Glazes") Marinades, Rubs, Brines, Cures & Glazes
			| : 400 Recipes for Poultry, Meat, Seafood & Vegetables
		li
			a(href="https://www.goodreads.com/book/show/34068522-mastering-sauces") Mastering Sauces
			| : The Home Cook's Guide to New Techniques for Fresh Flavors
		li
			a(href="https://www.goodreads.com/book/show/18826040-modern-sauces") Modern Sauces
			| : More than 150 Recipes for Every Cook Every Day

	h3 Snacks
	ul
		li
			a(href="https://www.goodreads.com/book/show/30364149-energy-balls") Energy Balls

	h3 Soup
	ul
		li
			a(href="https://www.goodreads.com/book/show/25817686-the-bare-bones-broth-cookbook") The Bare Bones Broth Cookbook
			| :  125 Gut-Friendly Recipes to Heal, Strengthen, and Nourish the Body
		li
			a(href="https://www.goodreads.com/book/show/32660968-easy-soups-from-scratch-with-quick-breads-to-match") Easy Soups From Scratch with Quick Breads to Match
			| :  70 Recipes to Pair and Share

	h3 Street Food
	ul
		li
			a(href="https://www.goodreads.com/book/show/41730756-around-the-world-in-80-food-trucks") Around the World in 80 Food Trucks
		li
			a(href="https://www.goodreads.com/book/show/33606659-baco") Bäco
			| :  Vivid recipes from the heart of Los Angeles
		li
			a(href="https://www.goodreads.com/book/show/35804610-chinese-street-food") Chinese Street Food
			| :  Small Bites, Classic Recipes, and Harrowing Tales Across the Middle Kingdom
		li
			a(href="https://www.goodreads.com/book/show/17262625-japanese-soul-cooking") Japanese Soul Cooking
			| : Ramen, Tonkatsu, Tempura, and More From the Streets and Kitchens of Tokyo and Beyond

	h3 Vegetarian & Vegan
	ul
		li
			a(href="https://www.goodreads.com/book/show/40265587-dinner-for-everyone") Dinner for Everyone
			| :  100 Iconic Dishes Made 3 Ways: Easy, Vegan, or Perfect for Company
		li
			a(href="https://www.goodreads.com/book/show/45709519-instant-pot-vegetarian-cookbook") Instant Pot Vegetarian Cookbook
			| : Fast & Healthy Recipes for Your Favorite Electric Pressure Cooker
		li
			a(href="https://www.goodreads.com/book/show/15797912-meatless") Meatless
			| : More than 200 of the Very Best Vegetarian Recipes
		li
			a(href="https://www.goodreads.com/book/show/19822401-the-new-vegetarian-cooking-for-everyone") The New Vegetarian Cooking for Everyone
		li
			a(href="https://www.goodreads.com/book/show/18079651-the-oh-she-glows-cookbook") The Oh She Glows Cookbook
			| : Over 100 Vegan Recipes to Glow from the Inside Out
		li
			a(href="https://www.goodreads.com/book/show/30453687-one-pan-two-plates") One Pan, Two Plates (Vegetarian)
			| : More than 70 Weeknight Meals for Two

	h3 Weeknight Cooking
	ul
		li
			a(href="https://www.goodreads.com/book/show/34272569-dining-in") Dining In
			| :  Highly Cookable Recipes
		li
			a(href="https://www.goodreads.com/book/show/40265587-dinner-for-everyone") Dinner for Everyone
			| :  100 Iconic Dishes Made 3 Ways: Easy, Vegan, or Perfect for Company
		li
			a(href="https://www.goodreads.com/book/show/38928054-dinner-s-in-the-oven") Dinner's in the Oven
			| :  Simple One-Pan Meals
		li
			a(href="https://www.goodreads.com/book/show/36186851-the-easy-5-ingredient-slow-cooker-cookbook") The Easy 5-Ingredient Slow Cooker Cookbook
			| :  100 Delicious No-Fuss Meals for Busy People
		li
			a(href="https://www.goodreads.com/book/show/38256293-eat-at-home-tonight") Eat at Home Tonight
			| :  101 Simple Busy-Family Recipes for Your Slow Cooker, Sheet Pan, Instant Pot, and More
		li
			a(href="https://www.goodreads.com/book/show/13414952-the-epicurious-cookbook") Epicurious Cookbook
			| :  More than 250 of Our Best-Loved Four-Fork Recipes
		li
			a(href="https://www.goodreads.com/book/show/28686770-food52-a-new-way-to-dinner") Food52 A New Way to Dinner
			| :  A Playbook of Recipes and Strategies for the Week Ahead
		li
			a(href="https://www.goodreads.com/book/show/13167803-keepers") Keepers
			| : Two Home Cooks Share Their Tried and True Weeknight Recipes and the Secrets to Happiness in the Kitchen
		li
			a(href="https://www.goodreads.com/book/show/9848944-kitchen-simple") Kitchen Simple
			| : Essential Recipes for Everyday Cooking
		li
			a(href="https://www.goodreads.com/book/show/18341831-love-your-leftovers") Love Your Leftovers
			| : Through Savvy Meal Planning Turn Classic Main Dishes into More Than 100 Delicious Recipes
		li
			a(href="https://www.goodreads.com/book/show/25654.The_Minimalist_Cooks_Dinner") The Minimalist Cooks Dinner
			| : More than 100 Recipes for Fast Weeknight Meals and Casual Entertaining
		li
			a(href="https://www.goodreads.com/book/show/37826508-now-again") Now & Again
			| : Go-To Recipes, Inspired Menus + Endless Ideas for Reinventing Leftovers
		li
			a(href="https://www.goodreads.com/book/show/29790974-cooking-with-mary-berry") Cooking with Mary Berry
			| : Simple recipes, great for family and friends
		li
			a(href="https://www.goodreads.com/book/show/30213118-one-pan-done") One Pan & Done
			| : Hassle-Free Meals from the Oven to Your Table
		li
			a(href="https://www.goodreads.com/book/show/15791048-one-pan-two-plates") One Pan, Two Plates
			| : More than 70 Complete Weeknight Meals for Two
		li
			a(href="https://www.goodreads.com/book/show/30453687-one-pan-two-plates") One Pan, Two Plates (Vegetarian)
			| : More than 70 Weeknight Meals for Two
		li
			a(href="https://www.goodreads.com/book/show/20342487-one-pot") One Pot
			| : 120+ Easy Meals From Your Skillet, Slow Cooker, Stockpot, and More
		li
			a(href="https://www.goodreads.com/book/show/44321422-one-pan-meals") One Pan Meals
			| : Sheet Pan and Skillet Dinners for the Whole Family
		li
			a(href="https://www.goodreads.com/book/show/52892708-one-pot-cooking-for-two") One-Pot Cooking for Two
			| : Effortless Meals for Your Sheet Pan, Skillet, Slow Cooker, and More

	h2 Ingredients

	h3 Gluten Free
	ul
		li
			a(href="https://www.goodreads.com/book/show/24905375-gluten-free-wish-list") Gluten-Free Wish List
			| : Sweet and Savory Treats You've Missed the Most

	h3 Marijuana
	ul
		li
			a(href="https://www.goodreads.com/book/show/29983227-the-420-gourmet") The 420 Gourmet
			| :  The Elevated Art of Cannabis Cuisine

	h3 Produce + Seasonal Cooking
	ul
		li
			a(href="https://www.goodreads.com/book/show/18209511-brassicas") Brassicas
			| :  Cooking the world's healthiest vegetables
		li
			a(href="https://www.goodreads.com/book/show/22926520-the-broad-fork") The Broad Fork
			| :  Recipes for the Wide World of Vegetables and Fruits
		li
			a(href="https://www.goodreads.com/book/show/35340600-eating-from-the-ground-up") Eating from the Ground Up
			| :  Recipes for Simple, Perfect Vegetables
		li
			a(href="https://www.goodreads.com/book/show/15819628-the-food52-cookbook-volume-2") The Food52 Cookbook Volume 2
			| :  Seasonal Recipes From Our Kitchens to Yours
		li
			a(href="https://www.goodreads.com/book/show/28686770-food52-a-new-way-to-dinner") Food52 A New Way to Dinner
			| :  A Playbook of Recipes and Strategies for the Week Ahead
		li
			a(href="https://www.goodreads.com/book/show/18052960-a-girl-and-her-greens") A Girl and Her Greens
		li
			a(href="https://www.goodreads.com/book/show/33571767-half-baked-harvest-cookbook") Half Baked Harvest Cookbook
			| : Recipes from My Barn in the Mountains
		li
			a(href="https://www.goodreads.com/book/show/603422.The_Moosewood_Cookbook") Moosewood Cookbook
			| : Recipes from Moosewood Restaurant, Ithaca, New York
		li
			a(href="https://www.goodreads.com/book/show/687098.The_Organic_Cook_s_Bible") The Organic Cook's Bible
			| : How to Select and Cook the Best Ingredients on the Market

	h2 Special Techniques

	h3 Candy & Chocolate
	ul
		li
			a(href="https://www.goodreads.com/book/show/30780245-candy-is-magic") Candy is Magic
			| :  Real Ingredients, Modern Recipes

	h3 Food Science & Cooking Skills
	ul
		li
			a(href="https://www.goodreads.com/book/show/28503835-everydaycook") Alton Brown - EveryDay Cook
		li
			a(href="https://www.goodreads.com/book/show/3717673-bakewise") BakeWise
			| :  The Hows and Whys of Successful Baking
		li
			a(href="https://www.goodreads.com/book/show/32191664-bravetart") Bravetart
			| :  Iconic American Desserts
		li
			a(href="https://www.goodreads.com/book/show/29737860-cook-s-science") Cook's Science
			| :  How to Unlock Flavor in 50 of our Favorite Ingredients
		li
			a(href="https://www.goodreads.com/book/show/25770528-cooking-for-geeks") Cooking for Geeks
			| :  Real Science, Great Cooks, and Good Food
		li
			a(href="https://www.goodreads.com/book/show/1094568.Craft_of_Cooking") Craft of Cooking
			| :  Notes and Recipes from a Restaurant Kitchen
		li
			a(href="https://www.goodreads.com/book/show/40265587-dinner-for-everyone") Dinner for Everyone
			| :  100 Iconic Dishes Made 3 Ways: Easy, Vegan, or Perfect for Company
		li
			a(href="https://www.goodreads.com/book/show/43083674-make") Make: Edible Inventions
			| :  Cooking Hacks and Yummy Recipes You Can Build, Mix, Bake, and Grow
		li
			a(href="https://www.goodreads.com/book/show/236011.How_to_Cook_Without_a_Book") How to Cook Without a Book
			| : Recipes and Techniques Every Cook Should Know by Heart
		li
			a(href="https://www.goodreads.com/book/show/14357461-jacques-p-pin-new-complete-techniques") Jacques Pépin New Complete Techniques
		li
			a(href="https://www.goodreads.com/book/show/26368720-james-beard-s-theory-and-practice-of-good-cooking") James Beard's Theory and Practice of Good Cooking
		li
			a(href="https://www.goodreads.com/book/show/39278245-on-spice") On Spice
			| : Advice, Wisdom, and History with a Grain of Saltiness

	h3 Pickles & Fermentation
	ul
		li
			a(href="https://www.goodreads.com/book/show/18490874-asian-pickles") Asian Pickles
			| :  Sweet, Sour, Salty, Cure and Fermented Preserves
		li
			a(href="https://www.goodreads.com/book/show/31213414-can-it-ferment-it") Can It & Ferment It
			| :  75 Satisfying Small-Batch Canning and Fermentation Recipes for the Whole Year
		li
			a(href="https://www.goodreads.com/book/show/51579533-essential-vegetable-fermentation") Essential Vegetable Fermentation
			| :  70 Inventive Recipes to Make Your Own Pickles, Kraut, Kimchi, and More
		li
			a(href="https://www.goodreads.com/book/show/36106912-ferment") Ferment
			| :  A Guide to the Ancient Art of Making Cultured Foods
		li
			a(href="https://www.goodreads.com/book/show/19156506-fermentation-for-beginners") Fermentation for Beginners
			| :  The Step-By-Step Guide to Fermentation and Probiotic Foods
		li
			a(href="https://www.goodreads.com/book/show/16280120-mastering-fermentation") Mastering Fermentation
			| : Recipes for Making and Cooking with Fermented Foods

	h2 Tools/Equipment

	h3 Canning & Preserving
	ul
		li
			a(href="https://www.goodreads.com/book/show/31213414-can-it-ferment-it") Can It & Ferment It
			| :  75 Satisfying Small-Batch Canning and Fermentation Recipes for the Whole Year
		li
			a(href="https://www.goodreads.com/book/show/20663703-mrs-wheelbarrow-s-practical-pantry") Mrs. Wheelbarrow's Practical Pantry
			| : Recipes and Techniques for Year-Round Preserving
		
	h3 Cast Iron
	ul
		li
			a(href="https://www.goodreads.com/book/show/30213118-one-pan-done") One Pan & Done
			| : Hassle-Free Meals from the Oven to Your Table
		li
			a(href="https://www.goodreads.com/book/show/15791048-one-pan-two-plates") One Pan, Two Plates
			| : More than 70 Complete Weeknight Meals for Two
		li
			a(href="https://www.goodreads.com/book/show/30453687-one-pan-two-plates") One Pan, Two Plates (Vegetarian)
			| : More than 70 Weeknight Meals for Two
		li
			a(href="https://www.goodreads.com/book/show/20342487-one-pot") One Pot
			| : 120+ Easy Meals From Your Skillet, Slow Cooker, Stockpot, and More
		li
			a(href="https://www.goodreads.com/book/show/44321422-one-pan-meals") One Pan Meals
			| : Sheet Pan and Skillet Dinners for the Whole Family
		li
			a(href="https://www.goodreads.com/book/show/52892708-one-pot-cooking-for-two") One-Pot Cooking for Two
			| : Effortless Meals for Your Sheet Pan, Skillet, Slow Cooker, and More

	h3 Dehydrator
	ul
		li
			a(href="https://www.goodreads.com/book/show/48111435-the-dehydrator-cookbook-for-outdoor-adventurers") The Dehydrator Cookbook for Outdoor Adventures
			| :  Healthy, Delicious Recipes for Backpacking and Beyond

	h3 Dutch Oven
	ul
		li
			a(href="https://www.goodreads.com/book/show/31430413-all-in-one-dutch-oven-cookbook-for-two") All in One Dutch Oven Cookbook for Two
		li
			a(href="https://www.goodreads.com/book/show/45032681-how-to-cook-anything-in-your-dutch-oven") How to Cook Anything in Your Dutch Oven
			| : Classic American Comfort Foods and New Global Favorites
		li
			a(href="https://www.goodreads.com/book/show/30213118-one-pan-done") One Pan & Done
			| : Hassle-Free Meals from the Oven to Your Table
		li
			a(href="https://www.goodreads.com/book/show/20342487-one-pot") One Pot
			| : 120+ Easy Meals From Your Skillet, Slow Cooker, Stockpot, and More
		li
			a(href="https://www.goodreads.com/book/show/52892708-one-pot-cooking-for-two") One-Pot Cooking for Two
			| : Effortless Meals for Your Sheet Pan, Skillet, Slow Cooker, and More

	h3 Grill & Smoker
	ul
		li
			a(href="https://www.yudhacookbook.com/2019/11/flavorize-great-marinades-injections.html") Flavorize
			| :  Great Marinades, Injections, Brines, Rubs, and Glazes
		li
			a(href="https://www.goodreads.com/book/show/22716561-franklin-barbecue") Franklin Barbecue
			| :  A Meat-Smoking Manifesto
		li
			a(href="https://www.goodreads.com/book/show/23130076-hot-and-hip-grilling-secrets") Hot & Hip Grilling Secrets
			| : A Fresh Look at Cooking With Fire
		li
			a(href="https://www.goodreads.com/book/show/8985663-the-japanese-grill") The Japanese Grill
			| : From Classic Yakitori to Steak, Seafood, and Vegetables
		li
			a(href="https://www.goodreads.com/book/show/35876395-korean-bbq") Korean BBQ
			| : Master Your Grill in Seven Sauces
		li
			a(href="https://www.goodreads.com/book/show/34614.Legends_of_Texas_Barbecue_Cookbook") Legends of Texas Barbecue Cookbook
			| : Recipes and Recollections from the Pitmasters

	h3 Meat Grinder & Sausage Stuffer
	ul
		li
			a(href="https://www.goodreads.com/book/show/37536232-easy-sausage-making") Easy Sausage Making
			| :  Essential Techniques and Recipes to Master Making Sausages at Home

	h3 Muffin Pan
	ul
		li
			a(href="https://www.goodreads.com/book/show/20578598-do-you-know-the-muffin-pan") Do You Know the Muffin Pan?
			| :  100 Fun, Easy-to-Make Muffin Pan Meals

	h3 Pressure Cooker
	ul
		li The 
			a(href="https://www.goodreads.com/book/show/32841982-the-i-love-my-instant-pot-recipe-book") "I Love My Instant Pot Recipe Book"
		li
			a(href="https://www.goodreads.com/book/show/38255338-comfort-in-an-instant") Comfort in an Instant
			| :  75 Comfort Food Recipes for Your Pressure Cooker, Multicooker, and Instant Pot
		li
			a(href="https://www.goodreads.com/book/show/34617758-dinner-in-an-instant") Dinner in an Instant
			| :  75 Modern Recipes for Your Pressure Cooker, Multicooker, and Instant Pot
		li
			a(href="https://www.goodreads.com/book/show/38256293-eat-at-home-tonight") Eat at Home Tonight
			| :  101 Simple Busy-Family Recipes for Your Slow Cooker, Sheet Pan, Instant Pot, and More
		li
			a(href="https://www.goodreads.com/book/show/38819885-the-essential-indian-instant-pot-cookbook") The Essential Indian Instant Pot Cookbook
			| :  Authentic Flavors and Modern Recipes for Your Electric Pressure Cooker
		li
			a(href="https://www.goodreads.com/book/show/38495279-the-essential-mexican-instant-pot-cookbook") The Essential Mexican Instant Pot Cookbook
			| :  Authentic Flavors and Modern Recipes for Your Electric Pressure Cooker
		li
			a(href="https://www.goodreads.com/book/show/36236853-indian-instant-pot-cookbook") Indian Instant Pot Cookbook
			| : Traditional Indian Dishes Made Easy and Fast
		li
			a(href="https://www.goodreads.com/book/show/52233409-instant-pot-magic") Instant Pot Magic
			| : 50 Surprising Recipes for Beer, Jam, Bread, and More
		li
			a(href="https://www.goodreads.com/book/show/45709519-instant-pot-vegetarian-cookbook") Instant Pot Vegetarian Cookbook
			| : Fast & Healthy Recipes for Your Favorite Electric Pressure Cooker
		li
			a(href="https://www.goodreads.com/book/show/42090068-instantly-southern") Instantly Southern
			| : 85 Southern Favorites for Your Pressure Cooker, Multicooker, and Instant Pot

	h3 Sheet Pan
	ul
		li
			a(href="https://www.goodreads.com/book/show/38256293-eat-at-home-tonight") Eat at Home Tonight
			| :  101 Simple Busy-Family Recipes for Your Slow Cooker, Sheet Pan, Instant Pot, and More
		li
			a(href="https://www.goodreads.com/book/show/43383550-the-healthy-sheet-pan-cookbook") The Healthy Sheet Pan Cookbook
			| : Satisfying One-Pan Meals for Busy Cooks
		li
			a(href="https://www.goodreads.com/book/show/44321422-one-pan-meals") One Pan Meals
			| : Sheet Pan and Skillet Dinners for the Whole Family
		li
			a(href="https://www.goodreads.com/book/show/52892708-one-pot-cooking-for-two") One-Pot Cooking for Two
			| : Effortless Meals for Your Sheet Pan, Skillet, Slow Cooker, and More

	h3 Slow Cooker
	ul
		li
			a(href="https://www.goodreads.com/book/show/34150802-adventures-in-slow-cooking") Adventures in Slow Cooking
			| :  120 Slow Cooker Recipes for People who Love Food
		li
			a(href="https://www.goodreads.com/book/show/33931153-the-chef-and-the-slow-cooker") The Chef and the Slow Cooker
		li
			a(href="https://www.goodreads.com/book/show/26811592-the-complete-slow-cooking-for-two") The Complete Slow Cooking for Two
		li
			a(href="https://www.goodreads.com/book/show/36186851-the-easy-5-ingredient-slow-cooker-cookbook") The Easy 5-Ingredient Slow Cooker Cookbook
			| :  100 Delicious No-Fuss Meals for Busy People
		li
			a(href="https://www.goodreads.com/book/show/38256293-eat-at-home-tonight") Eat at Home Tonight
			| :  101 Simple Busy-Family Recipes for Your Slow Cooker, Sheet Pan, Instant Pot, and More
		li
			a(href="https://www.goodreads.com/book/show/13155769-the-mexican-slow-cooker") The Mexican Slow Cooker
			| : Recipes for Mole, Enchiladas, Carnitas, Chile Verde Pork, and More Favorites
		li
			a(href="https://www.goodreads.com/book/show/20342487-one-pot") One Pot
			| : 120+ Easy Meals From Your Skillet, Slow Cooker, Stockpot, and More
		li
			a(href="https://www.goodreads.com/book/show/52892708-one-pot-cooking-for-two") One-Pot Cooking for Two
			| : Effortless Meals for Your Sheet Pan, Skillet, Slow Cooker, and More