extends ../layout.pug

block head
	title Copywriting

block content
	h1 Copywriting

	ul
		li
			a(href="https://boagworld.com/content-strategy/7-way-great-copywriter-crafts-compelling-web-copy/") 7 Ways a Great Copywriter Crafts Compelling Web Copy
		li
			a(href="https://conversionsciences.com/persuasive-writing-techniques/") 14 Persuasive Writing Techniques
		li
			a(href="https://millo.co/2-types-blog-content-actually-get-clients") 2 Types of Blog Content That Actually Get You More Clients
		li
			a(href="https://conversionsciences.com/copywriting-tips/") 10 Copywriting Tips Based on Science