extends ../layout.pug

block head
	title Copywriting

block content
	h1 Copywriting

	ul
		li
			a(href="https://boagworld.com/content-strategy/7-way-great-copywriter-crafts-compelling-web-copy/") 7 Ways a Great Copywriter Crafts Compelling Web Copy
		li
			a(href="https://conversionsciences.com/persuasive-writing-techniques/") 14 Persuasive Writing Techniques
		li
			a(href="https://millo.co/2-types-blog-content-actually-get-clients") 2 Types of Blog Content That Actually Get You More Clients
		li
			a(href="https://conversionsciences.com/copywriting-tips/") 10 Copywriting Tips Based on Science
		li
			a(href="https://www.jimmydaly.com/how-to-edit-your-own-writing/") How to Edit Your Own Writing
		li
			a(href="https://meetedgar.com/blog/writing-process-tweaks-make-creating-content-feel-easier/") Writing Process Tweaks tha tmake creating content feel a whole lot easier
		li
			a(href="https://www.webdesignerdepot.com/2017/09/how-to-master-microcopy/") How to Master Microcopy
		li
			a(href="https://blog.hubspot.com/marketing/how-to-write-well-timeless-rules-david-ogilvy") How to Write Well
			| : 10 timeless rules from legendary ad exec David Ogilvy
		li
			a(href="https://writingcooperative.com/how-to-effectively-edit-your-writing-in-7-easy-steps-d24c9468bb57") How to effectively edit your writing in 7 easy steps
		li
			a(href="https://bradfrost.com/blog/post/just/?utm_source=SitePoint&utm_medium=email&utm_campaign=Versioning") "just"
		li
			a(href="https://getpocket.com/explore/item/how-to-write-email-with-military-precision") How to write email with military precision
		li
			a(href="https://www.nytimes.com/2020/04/07/smarter-living/how-to-edit-your-own-writing.html") How to edit your own writing
		li
			a(href="https://blog.stephsmith.io/learning-to-write-with-confidence/") Writing is thinking
			| : Learning to write with confidence
		li
			a(href="https://performancejs.com/post/31b361c/13-Tips-for-Writing-a-Technical-Book") 13 tips for writing a technical book
		li
			a(href="https://www.activecampaign.com/blog/market-research-for-marketing-copy") The secret to writing great marketing copy is market research
		li
			a(href="https://dariusforoux.com/daily-writing-habit/") Form a daily writing habit - it will improve your life