extends ../layout.pug

block head
	title CSS

block content
	h1 CSS

	h2 Animation
	ul
		li
			a(href="https://cssanimation.rocks/spheres/") Animated 3D Spheres
		li
			a(href="https://animista.net/") Animista
			|  has a neat playground for generating CSS animations you can just copy and paste.
		li
			a(href="https://css-tricks.com/using-css-clip-path-create-interactive-effects/") Using CSS clip path to create interactive effects

	h2 Grid
	ul
		li
			a(href="https://sii.im/playground/css-grid/?ref=heydesigner-weekly#/") CSS Grid Showcase
			|  offers a bunch of different layouts built with css grid, including masonry.

	h2 Filters
	ul
		li A whole series of CSS image effects: 
			a(href="https://una.im/vintage-washout/") vintage washout
			| , 
			a(href="https://una.im/3d-effect/") 3d glasses
			| , 
			a(href="https://una.im/vignettes/") vignettes
			| , 
			a(href="https://una.im/bokeh/") bokeh
			| , and 
			a(href="https://una.im/lomo/") lomography
			| .
		li
			a(href="https://code.tutsplus.com/tutorials/editing-images-in-css-filters--cms-25948") Editing Images in CSS

	h2 Layout
	ul
		li
			a(href="https://css-tricks.com/full-width-containers-limited-width-parents/") Full Width Containers in Limited Width Parents
		li
			a(href="https://bitsofco.de/how-floating-works/") How Floating Works

	h2 SVG
	ul
		li You can make tileable, customizable 
			a(href="http://iros.github.io/patternfills/?mc_cid=7a9ac9b5ca&mc_eid=61dcdbae8a") pattern fills
			|  with SVG.
	
	h2 Tricks
	ul
		li
			a(href="https://www.iandevlin.com/blog/2017/04/css/the-focus-within-pseudo-class/") The :focus-within pseudo class
		li
			a(href="https://css-tricks.com/aspect-ratio-boxes/") Aspect Ratio Boxes
		li
			a(href="https://moderncss.dev") Modern CSS solutions
			|  for old CSS problems
		li
			a(href="https://css-tricks.com/solved-with-css-logical-styling-based-on-the-number-of-given-elements/?utm_source=SitePoint&utm_medium=email&utm_campaign=Versioning") Logical styling based on the number of given elements
		li
			a(href="https://codyhouse.co/blog/post/multi-line-text-background?utm_campaign=CSS+Layout+News&utm_medium=email&utm_source=CSS_Layout_News_198") How to create a multi-line text background effect
		li
			a(href="https://blog.logrocket.com/new-media-queries-you-need-to-know/") Modern Media queries you need to know

	h2 Typography
	ul
		li
			a(href="https://css-tricks.com/how-to-do-knockout-text/") Knockout Text
		li
			a(href="https://www.smashingmagazine.com/2017/05/fluid-responsive-typography-css-poly-fluid-sizing/") Fluid Responsive Typography with CSS Poly Fluid Sizing

	h2 UI Patterns
	ul
		li
			a(href="https://css-tricks.com/the-priority-navigation-pattern/") The Priority+ Navigation