extends ../layout.pug

block head
	title Death

block content
	h1 Death
	ul
		li
			a(href="https://www.saturdayeveningpost.com/2013/03/how-doctors-die/") How Doctors Die
		li
			a(href="https://www.nytimes.com/2020/03/27/opinion/covid-end-of-life.html") It's time to talk about death
		li
			a(href="https://www.nytimes.com/2020/03/13/well/family/opioid-overdose-family-grief-silence.html") The gift of silence, when there are no words