extends ../layout.pug

block head
	title Deep Learning

block content
	h1 Deep Learning

	ul
		li
			a(href="https://www.robinwieruch.de/neural-networks-deeplearnjs-javascript") Neural networks in javascript with deeplearn.js
		li
			a(href="https://towardsdatascience.com/how-to-learn-deep-learning-in-6-months-e45e40ef7d48") How to learn deep learning in 6 months
		li
			a(href="https://mml-book.github.io/") Mathematics for Machine Learning
		li
			a(href="https://course.fast.ai/") Practical deep learning for coders