extends ../layout.pug

block head
	title Design Assets

block content
	h1 Design Assets

	h2 Stock Photography
	ul
		li
			a(href="https://librestock.com/") LibreStock
			|  allows you to search 30+ stock photo sites with one query.