extends ../layout.pug

block head
	title Design Assets

block content
	h1 Design Assets

	h2 Stock Photography
	ul
		li
			a(href="https://burst.shopify.com/") Bursty by Shopify
			|  has various collections of free, high-res images, with a strong focus on product/ecommerce photography.
		li
			a(href="https://freephotos.cc/") Free Photos
		li
			a(href="https://librestock.com/") LibreStock
			|  allows you to search 30+ stock photo sites with one query.
		li
			a(href="https://negativespace.co/") Negative Space
			|  has CC0 licensed images for commercial & personal use.
		li
			a(href="https://www.pexels.com/") Pexels
			|  has the best free stock photos & videos shared by talented creators.
		li
			a(href="https://stocksnap.io/?ref=producthunt") StockSnap.io
			|  offers beautiful free stock photos, with hundreds added weekly.
		li
			a(href="http://thestocks.im/") The Stocks
			|  is another search engine to search a number of stock photo providers at once.
		li
			a(href="https://www.nappy.co/") Nappy
			| : Beautiful, free, high-res photos of black and brown people.


	h2 Placeholder Content
	ul
		li
			a(href="https://v2.diverseui.com/?ref=producthunt") Diverse UI
			|  has diverse user profile pictures.