extends ../layout.pug

block head
	title Design Inspiration

block content
	h1 Design Inspiration

	h2 Typography
	ul
		li
			a(href="https://tobiasahlin.com/typesource/") TypeSource
			|  offers HTML & CSS font inspiration.

	h2 Web & UI
	ul
		li
			a(href="https://www.calltoidea.com/") Calltoidea
			|  is sorted by component & page types.