extends ../layout.pug

block head
	title Design Inspiration

block content
	h1 Design Inspiration

	h2 Typography
	ul
		li
			a(href="https://tobiasahlin.com/typesource/") TypeSource
			|  offers HTML & CSS font inspiration.

	h2 Web & UI
	ul
		li
			a(href="https://www.calltoidea.com/") Calltoidea
			|  is sorted by component & page types.
		li
			a(href="http://collectui.com/") Collect UI
			|  has over 14,000 designs, and is good for very specific component times .. even if the filter search is a bit annoying sometimes.
		li
			a(href="https://ecomm.design/") ecomm.design
			|  is an ecommerce-specific gallery.
		li
			a(href="https://httpster.net") Httpster
			|  is an inspiration resource showcasing websites made by people from all over the world.
		li
			a(href="http://inspirationui.com/") Inspiration UI
			|  offers design inspiration from projects that are actually live, not just spec work.
		li
			a(href="https://land-book.com/") Land-book
			|  is a gallery of landing pages. Fairly tech-focused.
		li
			a(href="https://www.landingfolio.com") Landingfolio
			|  has hundereds of landing page examples, in different verticals/industries.
		li
			a(href="https://uimovement.com/") UI Movement
			|  is animated components. Primary mobile, but plenty of desktop, and a huge variety of widgets, page types, etc.