extends ../layout.pug

block head
	title Design Tools

block content
	h1 Design Tools

	h2 Color Palettes
	ul
		li Fast, automatic 
			a(href="https://coolors.co/") color scheme generator
			| .

	h2 Mockups
	ul
		li
			a(href="https://placeit.net/") Create mockups, logos, etc with Placeit