extends ../layout.pug

block head
	title Digital Marketing

block content
	h1 Digital Marketing

	h2 Analytics
	p Google is kinda gross, but
		a(href="https://matomo.org/") Matomo offers ethical analytics
		|  where you own the data.