extends ../layout.pug

block head
	title Digital Marketing

block content
	h1 Digital Marketing

	h2 Analytics
	p Google is kinda gross, but
		a(href="https://matomo.org/") Matomo offers ethical analytics
		|  where you own the data. If sticking with Google Analytics, this is a <a href="https://philipwalton.com/articles/the-google-analytics-setup-i-use-on-every-site-i-build/">good starting setup</a>, and make sure you <a href="https://carloseo.com/removing-google-analytics-spam/">filter junk traffic</a>. Make sure you ask <a href="https://digitalbrandinginstitute.com/actionable-data-google-analytics/">actionable questions to get actionable data</a>.
	ul
		li
			a(href="https://www.seerinteractive.com/blog/direct-traffic-is-dark-traffic-and-thats-ok/") Waht is dark traffic in Google analytics? Direct traffic, and that's ok.

	h2 A/B Testing
	p <a href="http://larslofgren.com/growth/7-rules-for-ab-testing">7 rules for a/b testing</a> covers a lot of the basics I understand but struggle to articulate due to lack of time spent doing a/b testing. If you <a href="https://www.widerfunnel.com/better-ab-testing-marketing/">design better tests</a> you can get better results. Most tests give <a href="https://mixpanel.com/blog/2016/02/04/why-most-a-b-tests-give-you-bullshit-results/">bullshit results</a>, so it's up to you to ask better questions. <a href="https://alistapart.com/article/awaken-the-champion-a-b-tester-within/">Awaken the champion a/b tester within</a>. <a href="https://jwegan.com/growth-hacking/wrong-way-to-analyze-experiments/">Analyze experiments the right way</a>. Avoid <a href="https://www.cennydd.com/blog/statistical-significance-other-ab-pitfalls">common A/B testing pitfalls</a>. <a href="https://www.smashingmagazine.com/2010/08/in-defense-of-a-b-testing/">Defend A/B testing</a>. Test lots of things, <a href="https://blog.optimizely.com/2012/11/28/testing-your-messages-framing-for-increased-conversions/">including your messaging</a>.
	ul
		li
			a(href="https://hbr.org/2017/06/a-refresher-on-ab-testing") A Refresher on A/B Testing

	h2 Email Marketing
	p Growing a list? Here are <a href="https://sumo.com/stories/how-to-build-an-email-list-without-a-website">15 ways to build an email list</a> without a website, and <a href="https://medium.com/startupsco/10-cold-email-tips-i-used-to-get-60-000-signups-29f66bad3ad9">10 tips to get signups</a> via cold email.
	ul
		li
			a(href="https://blog.growbots.com/email-subject-line/") This Simple Email Subject Line can Get You an 80% Open Rate
		li
			a(href="https://fizzle.co/sparkline/grow-your-email-list-in-7-days") How to Grow Your Email List in 7 Days How to Grow Your Email List in 7 Days How to Grow Your Email List in 7 Days How to Grow Your Email List in 7 Days

	h2 Marketing Automation
	p Don't waste your <a href="https://conversionsciences.com/confirmation-email/">confirmation email</a>.

	h2 SEO
	p <a href="https://curatedseotools.com/">Curated SEO Tools stash</a>. A guide to <a href="https://www.crazyegg.com/blog/guides/white-hat-link-building/">white hat link building techniques</a>. Create content that <a href="https://moz.com/blog/how-to-create-content-that-keeps-earning-links">never stops generating links</a>. <a href="https://www.quicksprout.com/ways-to-improve-seo-ranking/?ref=zest.is/">34 ways to improve SEO</a> in 2020.
	ul
		li
			a(href="https://searchengineland.com/9-time-money-saving-seo-tools-pay-17-use-free-271883") 8 time and money saving SEO tools I pay for (and 17 more free ones)
		li
			a(href="https://www.singlegrain.com/digital-marketing/marketers-guide-to-link-building/") The Marketer's Guide to Link Building
		li
			a(href="https://kaiserthesage.com/outreach-templates/") Email Outreach Tips + 22 Link Building Email Templates
		li
			a(href="https://www.amberddesign.com/yelp-ranking-factors/") Yelp SEO Ranking Factors & Optimization Guide
		li
			a(href="https://neilpatel.com/blog/googles-crawl-budget/") Use Google's Crawl Budget to Boost Your SEO
		li
			a(href="https://moz.com/blog/ranking-fluctuations") Ranking Fluctuations: What to Expect and How to React
		li
			a(href="https://whitespark.ca/blog/rank-in-cities-with-no-physical-address/") How to Rank in Cities Where you Don't Have an Address
		li
			a(href="https://www.singlegrain.com/seo/9-factors-that-can-immensely-boost-your-local-seo/") 9 Factors That Can Immensely Boost Your Local SEO
		li
			a(href="https://mazen-app.com/guide/internal-linking-semantic-cocoon-technique/") The Ultimate Guide to Efficient and Powerful Internal Linking
			| : The "Semantic Cocoon" Technique
		li
			a(href="https://www.linkdex.com/en-us/news/15-secrets-to-creating-the-perfect-meta-descriptions/?doing_wp_cron=1589299597.0504040718078613281250") 15 Secrets to Creating the Perfect Meta Descriptions
		li
			a(href="https://twitter.com/jimmy_daly/status/902560185025150976") SEO Tip - Finding Related Searches
		li
			a(href="https://growthrocks.com/blog/getting-started-local-seo/") Getting started with local SEO
		li
			a(href="https://www.link-assistant.com/news/local-ranking-signals.html") Local SEO Cheat Sheet
			| : 10 Local Ranking Signals to Help Your Business Rank on Google
		li
			a(href="https://www.indiehackers.com/@czue/seo-for-developers-reaching-the-front-page-of-google-without-being-spammy-7bc350d171") SEO for developers
			| : Reaching the front page of Google without being spammy
		li
			a(href="https://www.indiehackers.com/forum/your-seo-checklist-for-getting-the-first-10-backlinks-to-a-new-project-1512e4da05?utm_source=Indie+Hackers+Newsletter&utm_campaign=indie-hackers-newsletter-20180518&utm_medium=email") Your SEO checklist for getting the first 10 backlinks to a new project?
			| : IndieHacker thread
		li	
			a(href="https://moz.com/blog/local-landing-pages-guide") Local Landing Pages
			| : A guide to great implementation in every case

	h2 Uncertain
	ul
		li
			a(href="https://www.techtoucan.com/how-to-promote-your-latest-blog-post-like-a-boss-95692") How to Promote Your Latest Blog Post
		li
			a(href="https://sumo.com/stories/0-10k-nat-eliason") How Nat Eliason Grew a Website to 10k Visitors in a Month
		li
			a(href="https://www.nateliason.com/blog/wiki-strategy") The Wiki Strategy: How to Grow Your Blog to 100k+ Monthly Visitors
		li
			a(href="https://woorkup.com/niche-site/") How I Took My Niche Site to 100k Visitors/Month + $1k/Month in 365 Days
		li
			a(href="https://www.singlegrain.com/blog-posts/content-marketing/how-we-doubled-our-traffic-without-writing-any-new-blog-posts/") How We Doubled Our Traffic
			|  (Without Writing Any New Blog Posts!)