extends ../layout.pug

block head
	title Digital Marketing

block content
	h1 Digital Marketing

	h2 Analytics
	p Google is kinda gross, but
		a(href="https://matomo.org/") Matomo offers ethical analytics
		|  where you own the data.

	h2 A/B Testing
	p <a href="http://larslofgren.com/growth/7-rules-for-ab-testing">7 rules for a/b testing</a> covers a lot of the basics I understand but struggle to articulate due to lack of time spent doing a/b testing.

	h2 SEO
	p <a href="https://curatedseotools.com/">Curated SEO Tools stash</a>.