extends ../layout.pug

block head
	title Digital Marketing

block content
	h1 Digital Marketing

	h2 Analytics
	p Google is kinda gross, but
		a(href="https://matomo.org/") Matomo offers ethical analytics
		|  where you own the data. If sticking with Google Analytics, this is a <a href="https://philipwalton.com/articles/the-google-analytics-setup-i-use-on-every-site-i-build/">good starting setup</a>, and make sure you <a href="https://carloseo.com/removing-google-analytics-spam/">filter junk traffic</a>.

	h2 A/B Testing
	p <a href="http://larslofgren.com/growth/7-rules-for-ab-testing">7 rules for a/b testing</a> covers a lot of the basics I understand but struggle to articulate due to lack of time spent doing a/b testing. If you <a href="https://www.widerfunnel.com/better-ab-testing-marketing/">design better tests</a> you can get better results.

	h2 Email Marketing
	p Growing a list? Here are <a href="https://sumo.com/stories/how-to-build-an-email-list-without-a-website">15 ways to build an email list</a> without a website, and <a href="https://medium.com/startupsco/10-cold-email-tips-i-used-to-get-60-000-signups-29f66bad3ad9">10 tips to get signups</a> via cold email.

	h2 Marketing Automation
	p Don't waste your <a href="https://conversionsciences.com/confirmation-email/">confirmation email</a>.

	h2 SEO
	p <a href="https://curatedseotools.com/">Curated SEO Tools stash</a>.