extends ../layout.pug

block head
	title Email Development

block content
	h1 Email Development

	h2 Learning
	ul
		li
			a(href="https://thebetter.email/") The Better Email
			em  (book and/or video course).
			br
			| I found this to be both great and kinda bad. The author could stand to focus a bit more on one audience or another (it was geared to both designers and developers), but the parts that were helpful were really helpful.
		li
			a(href="https://www.leemunroe.com/building-html-email/") Things I've Learned About Building & Coding HTML Email Templates
			em  (article)


	h2 Tools
	ul
		li
			a(href="https://github.com/mailgun/transactional-email-templates") Transactional email templates
			|  from Mailgun
		li Responsive HTML 
			a(href="https://emailframe.work/") email framework
		li
			a(href="https://mailtrain.org/?ref=producthunt") Mailtrain
			|  is a self-hosted newsletter app built on top of nodemailer
		li
			a(href="https://mjml.io/") MJML
			|  is a framework for buildling responsive emails

	h2 Typography
	ul
		li
			a(href="https://litmus.com/blog/the-ultimate-guide-to-web-fonts") The Ultimate Guide to Web Fonts