extends ../layout.pug

block head
	title Entertaining

block content
	h1 Entertaining

	ul
		li How much food to serve at a party? 
			a(href="http://i.imgur.com/f7Wqqpu.jpg") In an infographic.
		li An amazing 
			a(href="https://www.reddit.com/r/food/comments/3t6upb/how_my_mother_plans_for_thanksgiving_dinner/") Thanksgiving planning spreadsheet
			| , courtesy of Reddit.