extends ../layout.pug

block head
	title Fitness

block content
	h1 Fitness

	h2 Bodyweight Exercise
	p I'm a big fan of equipment-free, bodyweight exercises. I hate going to the gym, and am not interested in owning a lot of equipment. Darebee has great 
		a(href="https://darebee.com/") bodyweight exercise programs
		| . Variety is overrated though, this is a 
		a(href="http://i.imgur.com/H8POzkL.jpg") really simple morning bodyweight routine
		| . I focus on 
		a(href="https://greatist.com/move/best-bodyweight-exercises-abs") core exercises
		|  in particular.
	ul
		li
			a(href="https://www.esquire.com/uk/life/fitness-wellbeing/a31994944/10-best-bodyweight-exercises-for-men/") The 10 best bodyweight exercises you can do at home

	h2 Posture
	p With all the sitting we do, our posture is collectively fucked. This 
		a(href="https://www.artofmanliness.com/articles/wwii-workout-week-posture-training/") WW2 posture training
		|  has the possiblity of kicking your ass into shape. If my back hurts, I like this 
		a(href="https://greatist.com/move/back-pain-relief#1") 7 minute routine for back pain relief
		| . These exercises are also helpful for back pain related to 
		a(href="https://medium.com/@30DayWebChallenge/to-those-that-spend-7-hours-at-a-desk-fixing-computer-guy-back-problems-will-help-you-feel-bf3997c08c2f") sitting at a computer
		| . And another <a href="https://gmb.io/back-stretches/">6 back stretches to improve spinal mobility</a>.
	ul
		li
			a(href="https://www.youtube.com/watch?v=-tetoszaTTo") 5 minute morning mobility routine