extends ../layout.pug

block head
	title Foreign Language

block content
	h1 Foreign Language

	h2 Learning Foreign Languages
	ul
		li
			a(href="https://time.com/3453841/the-secret-to-learning-a-foreign-language-as-an-adult/") Learning as an adult