extends ../layout.pug

block head
	title Foreign Language

block content
	h1 Foreign Language

	h2 Learning Foreign Languages
	ul
		li
			a(href="https://time.com/3453841/the-secret-to-learning-a-foreign-language-as-an-adult/") Learning as an adult
		li
			a(href="https://www.scientificamerican.com/article/how-to-teach-old-ears-new-tricks/") How to Teach Old Ears New Tricks
		li
			a(href="https://lifehacker.com/seven-linguist-backed-tips-for-making-powerful-protest-1794551494") 7 Linguist-Backed Tips for Making Powerful Protest Signs
		li
			a(href="https://letterstopablo.com/") Practice Spanish with weekly writing prompts
		li
			a(href="https://getpocket.com/explore/item/language-alters-our-experience-of-time") Language alters our experience of time
		li
			a(href="https://readlang.com/") Learn a language by reading whatever you like