extends ../layout.pug

block head
	title Freelancing

block content
	h1 Freelancing

	ul
		li
			a(href="https://thenuschool.com/things-i-learned-as-a-freelance-designer/") Things I Learned as a Freelance Designer
		li
			a(href="https://www.sitepoint.com/freelancer-hacks/") Freelance hacks
		li
			a(href="https://www.smashingmagazine.com/2013/06/email-templates-web-designers-developers-pdf-odt-txt/#template-7") Client Email Templates for Designers and Developers
		li
			a(href="https://www.christopherhawkins.com/2016/05/20/ballpark-estimate/") Dear Client: Stop Asking for a Ballpark Estimate
		li
			a(href="https://thenuschool.com/win-more-creative-clients-kyle-courtright/") 14 Proven Ways to Win More Clients as a Creative
		li
			a(href="https://moz.com/blog/how-we-increased-email-reply-rate") How We Increased Our Email Response Rate from ~8% to 34%
		li
			a(href="https://millo.co/raise-prices-thinking-like-consultant-not-freelancer") Raise your prices by thinking like a consultant, not a freelancer
		li
			a(href="https://millo.co/guides/revenue/?page=one") How I Went From Project-Based Work to $8.5K+ in Monthly Recurring Revenue
		li
			a(href="https://millo.co/land-perfect-clients-avoid-bad-ones") How to Land the Perfect Clients (and Avoid the Bad Ones)
		li
			a(href="https://millo.co/write-web-design-proposal-10-minutes-less") Write a Web Design Proposal in 10 Minutes or Less
		li
			a(href="http://www.zeldman.com/2017/04/11/write-proposals-design-studio/") How a Design Studio Writes Proposals
		li
			a(href="https://blog.freelancersunion.org/2017/04/07/automation-apps/") Why Automation Should be an Essential Part of Any Freelancer's Career
		li
			a(href="https://www.and.co/williams-harricks") Client Didn't Pay Demand Letters
		li
			a(href="https://www.klenty.com/cold-email-templates?ref=zest.is") 100+ Cold Email Templates
		li
			a(href="https://1stwebdesigner.com/long-term-web-design-projects/") How to Get Long-Term, Steady Web Design Projects
		li
			a(href="https://millo.co/10-steps-to-becoming-a-successful-freelance-designer") 10 Steps to Becoming a Successful Freelance Designer in 2020
		li
			a(href="https://www.shopify.com/partners/blog/writing-business-emails") How to Write a Business Email Prospective Clients Will Never Forget
		li
			a(href="https://millo.co/set-expectations-get-go-client-welcome-packet") Set Expectations From the Get-Go With a Client Welcome Packet
		li
			a(href="https://techworker.coop/sites/default/files/TechCoopHOWTO.pdf") Creating a Tech Freelance Worker Co-op
		li
			a(href="https://www.reifyworks.com/writing/2019-09-03-sorry-we-cant-join-your-slack") Sorry, we can't join your slack
		li
			a(href="https://whereby.com/?utm_source=densediscovery&utm_medium=email&utm_campaign=newsletter-issue-81") Easy video meetings in the browser
		li
			a(href="https://vanschneider.com/the-most-underrated-page-on-your-portfolio") The most underrated page on your portfolio
		li
			a(href="https://chrislema.com/answering-the-question-is-that-your-best-price/") Answering the question, "Is that your best price?"
		li
			a(href="https://www.ryrob.com/how-to-write-best-freelance-proposal/") 5 steps to writing the perfect freelance proposal (and a free downloadable template)
		li
			a(href="https://twist.com/") Gentle team communication - Twist
		li
			a(href="https://sidesupply.com/guides/the-freelance-life") The Freelance Life
			| : Insights into starting, surviving, and growing your freelance business