extends ../layout.pug

block head
	title Freelancing

block content
	h1 Freelancing

	ul
		li
			a(href="https://thenuschool.com/things-i-learned-as-a-freelance-designer/") Things I Learned as a Freelance Designer
		li
			a(href="https://www.sitepoint.com/freelancer-hacks/") Freelance hacks
		li
			a(href="https://www.smashingmagazine.com/2013/06/email-templates-web-designers-developers-pdf-odt-txt/#template-7") Client Email Templates for Designers and Developers