extends ../layout.pug

block head
	title Freelancing

block content
	h1 Freelancing

	ul
		li
			a(href="https://thenuschool.com/things-i-learned-as-a-freelance-designer/") Things I Learned as a Freelance Designer