extends ../layout.pug

block head
	title UX

block content
	h1 Future of Work

	ul
		li Apprenticeships are a strong tool for teaching modern skills, finding diverse talent, etc.
			a(href="https://www.theatlantic.com/business/archive/2014/10/why-germany-is-so-much-better-at-training-its-workers/381550/") Germany has a great apprenticeship program.
		li
			a(href="https://www.theatlantic.com/business/archive/2016/06/would-a-world-without-work-be-so-bad/488711/") Would a work-free world be so bad?
		li
			a(href="https://medium.com/@chrisloer/join-the-engineering-leisure-class-b3083c09a78e") Join the Engineering Leisure Class
		li
			a(href="https://www.theatlantic.com/video/index/396527/case-32-hour-workweek/") The Case for the 32-Hour Workweek
		li
			a(href="https://www.bbc.com/worklife/article/20160714-is-full-time-work-bad-for-our-brains") Is full-time work bad for our brains?
		li
			a(href="https://singularityhub.com/2016/08/23/the-end-of-meaningless-jobs-will-unleash-the-worlds-creativity/") The End of Meaningless Jobs Will Unleash the World's Creativity
		li
			a(href="http://www.strike.coop/bullshit-jobs/") On the Pheonomenon of Bullshit Jobs
		li
			a(href="https://aeon.co/essays/what-if-jobs-are-not-the-solution-but-the-problem") What if jobs are not the solution, but the problem?
		li
			a(href="https://www.theguardian.com/commentisfree/2016/sep/19/world-without-work-utopia-hell-human-labour-obsolete") A world without work is coming - it could be utopia, or it could be hell
		li
			a(href="https://www.greenbiz.com/article/how-three-day-weekends-can-help-save-world-and-us-too") How 3 Day Weekends Can Help Save the World (and us too)

	h2 Remote Work

	h3 Remote Culture
	p You don't have to be all remote, you can also <a href="https://zapier.com/blog/remote-and-co-located/">blend work styles</a>. I think the <a href="https://about.gitlab.com/company/culture/all-remote/guide/">GitLab Guide to All-Remote</a> is really comprehensive, especially for tech folks. Follow <a href="https://blog.cloudpeeps.com/top-10-companies-winning-at-remote-work-culture/">tips from top companies</a> to make great remote work culture.
	ul
		li
			a(href="https://www.inc.com/brian-de-haaff/3-ways-remote-workers-outperform-office-workers.html") 3 ways remot workers outperform office workers

	h3 Finding Remote Jobs
	ul
		li
			a(href="https://weworkremotely.com") We Work Remotely
			|  is billed as the 'largest remote work community in the world.' It's a job list, with a big variety of job types.

	h3 Remote Work Tips
	ul
		li
			a(href="https://jkglei.com/freelance-sanity/") How to Maintain Your Sanity (and Be Productive) When You Work Alone