extends ../layout.pug

block head
	title UX

block content
	h1 Future of Work

	ul
		li Apprenticeships are a strong tool for teaching modern skills, finding diverse talent, etc.
			a(href="https://www.theatlantic.com/business/archive/2014/10/why-germany-is-so-much-better-at-training-its-workers/381550/") Germany has a great apprenticeship program.

	h2 Remote Work

	h3 Remote Culture
	p You don't have to be all remote, you can also <a href="https://zapier.com/blog/remote-and-co-located/">blend work styles</a>. I think the <a href="https://about.gitlab.com/company/culture/all-remote/guide/">GitLab Guide to All-Remote</a> is really comprehensive, especially for tech folks.

	h3 Finding Remote Jobs
	ul
		li
			a(href="https://weworkremotely.com") We Work Remotely
			|  is billed as the 'largest remote work community in the world.' It's a job list, with a big variety of job types.