extends ../layout.pug

block head
	title Games

block content
	h1 Games

	h2 Board Games

	p How to <a href="https://www.vice.com/en_us/article/mgbzaq/10-essential-tips-from-a-monopoly-world-champion">win at Monopoly</a>. Build a <a href="https://imgur.com/a/KN037">custom Dominion case</a> for all your expansions.