extends ../layout.pug

block head
	title Gardening

block content
	h1 Gardening

	p A helpful 
		a(href="https://zestyourgarden.com/2014/08/01/this-graphic-is-very-helpful-for-determining-what-your-garden-needs-to-thrive/") graphic guide to plant needs
		| . <a href="https://i.kinja-img.com/gawker-media/image/upload/s--1wbIkjg4--/c_scale,fl_progressive,q_80,w_800/kaug1bagcnu3d4t2xzyy.jpg">How to grow fruit all year round</a> in infographic.
	ul
		li
			a(href="https://www.reddit.com/r/homestead/comments/ep6tfs/does_anyone_have_any_good_advice_or_resources_on/") Info on re-wilding a meadow
		li
			a(href="https://www.niwaki.com/store/hori-hori/") Hori Hori Gardening Knife
	
	h2 Louisiana
	p Louisiana is hot and wet, presenting its own unique set of gardening challenges. The LSU AgCenter
		a(href="https://www.lsuagcenter.com/NR/rdonlyres/46F14CF6-CA36-44E4-95B9-6856552C94EC/85493/Pub1980VegetablePlantingGuide2012HIGHRES.pdf") "Louisiana Vegetable Planting Guide"
		|  is an amazing resource.

	h2 Growing Mushrooms
	p Grow <a href="https://www.youtube.com/watch?v=LSE-sC9xpjQ">oyster mushrooms on cardboard</a>.

	h2 Education
	ul
		li
			a(href="https://workspace.oregonstate.edu/course/master-gardener-short-course-series?hsLang=en") Oregon State University Master Gardener Series

	h2 Structures & Systems
	ul
		li
			a(href="https://www.groworganic.com/blogs/articles/how-to-build-a-low-tunnel-hoop-house") How to Build a Low Tunnel to Protect Plants from Frost
		li
			a(href="https://pvbuzz.com/solar-panel-infrastructure-and-agriculture/") Combining solar panels and agriculture creates a mutually beneficial relationship