extends ../layout.pug

block head
	title Git & Version Control

block content
	h1 Git & Version Control

	h2 Learning
	ul
		li Learn how to contribute to 
			a(href="https://egghead.io/courses/how-to-contribute-to-an-open-source-project-on-github") open source projects
			|  and use git all at the same time.

	h2 Tips & Tricks
	
	p You can undo 
		a(href="https://github.blog/2015-06-08-how-to-undo-almost-anything-with-git/") almost anything
		|  with git.