extends ../layout.pug

block head
	title Good Reads

block content
	h1 Good Reads

	ul
		li
			a(href="https://www.thedailybeast.com/jimmy-breslin-on-jfks-assassination-two-classic-columns") Jimmy Breslin on JFK's Assassination: Two Classic Columns
		li
			a(href="https://www.foodrepublic.com/2017/07/10/ode-french-knives/") An Ode to French Knives