extends ../layout.pug

block head
	title Hardware

block content
	h1 Hardware

	h2 Cool Projects
	ul
		li
			a(href="https://imgur.com/a/kjFmS") Emulator inside a Gameboy Advance
		li
			a(href="https://www.youtube.com/watch?v=bYHXUECdQAg") Raspberry Pi Portable Arcade Console
		li
			a(href="https://github.com/deepsyx/home-automation") Home Automation with Raspberry Pi and Javascript
		li
			a(href="https://lifehacker.com/how-to-control-a-raspberry-pi-remotely-from-anywhere-in-1792892937") How to Control a Raspberry Pi Remotely From Anywhere in the World
		li
			a(href="https://homesecuritylist.com/diy-home-automation-system-under-40-dollars/") DIY Home Automation System for Under $40
		li
			a(href="https://lifehacker.com/the-advanced-guide-to-setting-up-a-diy-game-console-wit-1790381861") The Advanced Guide to Setting Up a DIY Game Console with a Raspberry Pi
		li
			a(href="https://lifehacker.com/how-to-build-a-raspberry-pi-jukebox-any-non-geek-can-us-1712107103") Build a Raspberry Pi Jukebox
		li
			a(href="https://viktorkirilov.me/post/home-automation-raspberry-pi/") Home Automation with Raspberry Pi, Node, and React
		li
			a(href="https://www.reddit.com/r/DIY/comments/713eka/heres_how_to_build_your_own_smart_security_camera/") How to Build Your Onw Smart Security Camera
		li
			a(href="https://sunboxlabs.com/") How to build a DIY solar power plant
		li
			a(href="https://news.ycombinator.com/item?id=16775744&utm_source=hackernewsletter&utm_medium=email&utm_term=ask_hn") How to self-learn electronics?
			| : HN thread
		li
			a(href="https://hacks.mozilla.org/2018/02/how-to-build-your-own-private-smart-home-with-a-raspberry-pi-and-mozillas-things-gateway/") How to build your own private smart home with a Raspberry Pi and Mozilla's Things Gateway
		li
			a(href="https://gizmodo.com/how-to-build-a-smart-home-thats-actually-secure-1822942112") How to Build a Smart Home That's Actually Secure
		li
			a(href="https://www.youtube.com/watch?v=HRUtRLCktcY") DIY solar powered ammo box bluetooth speaker and USB charger battery bank