extends ../layout.pug

block head
	title Hardware

block content
	h1 Hardware

	h2 Cool Projects
	ul
		li
			a(href="https://imgur.com/a/kjFmS") Emulator inside a Gameboy Advance
		li
			a(href="https://www.youtube.com/watch?v=bYHXUECdQAg") Raspberry Pi Portable Arcade Console
		li
			a(href="https://github.com/deepsyx/home-automation") Home Automation with Raspberry Pi and Javascript
		li
			a(href="https://lifehacker.com/how-to-control-a-raspberry-pi-remotely-from-anywhere-in-1792892937") How to Control a Raspberry Pi Remotely From Anywhere in the World
		li
			a(href="https://homesecuritylist.com/diy-home-automation-system-under-40-dollars/") DIY Home Automation System for Under $40
		li
			a(href="https://lifehacker.com/the-advanced-guide-to-setting-up-a-diy-game-console-wit-1790381861") The Advanced Guide to Setting Up a DIY Game Console with a Raspberry Pi
		li
			a(href="https://lifehacker.com/how-to-build-a-raspberry-pi-jukebox-any-non-geek-can-us-1712107103") Build a Raspberry Pi Jukebox