extends ../layout.pug

block head
	title Hardware

block content
	h1 Hardware

	h2 Cool Projects
	ul
		li
			a(href="https://imgur.com/a/kjFmS") Emulator inside a Gameboy Advance
		li
			a(href="https://www.youtube.com/watch?v=bYHXUECdQAg") Raspberry Pi Portable Arcade Console
		li
			a(href="https://github.com/deepsyx/home-automation") Home Automation with Raspberry Pi and Javascript