extends ../layout.pug

block head
	title Household

block content
	h1 Household

	h2 Storage
	ul
		li
			a(href="https://www.containerstore.com/s/closet/closet-drawer-organizers/32-compartment-drawer-organizer/12d?productId=10000146") 32 compartment drawer organizer
			|  for socks, underwear, ties, etc.