extends ../layout.pug

block head
	title How to Read a Book

block content
	h1 How to Read a Book

	h2 Book Details
	p
		strong Author(s):
		|  Charles Van Doren, Mortimer J. Adler
	p
		strong Year:
		|  1972
	p
		strong ISBN:
		|  978-0671212094
	p
		strong Format:
		|  Kindle
	p
		strong Dates Read:
		|  10/1/2019 - 11/10/2019
	p
		strong Genre:
		|  Non-Fiction > Practical
	p
		strong Rating:
		|  4 / 5

	h2 What is the book about as a whole?
	p This is a heavily practical book. The goal is to make you a better reader, by giving you strategies & tools for reading different types of books, and questions which you must answer.

	h2 What is being said in detail, and how?
	p There are 4 levels of reading, which build upon one another:
	ol
		li
			strong Elementary
			|  - beginner reading, asks simple questions about the subject of the book.
		li
			strong Inspectional
			|  - intentional speed reading/skimming, to give an overview of the book. Also the first phase of level 3 & 4 reading.
		li
			strong Analytical
			|  - the best way to do a deep read of a good book. To be a good reader, you must do a lot of level 3 reading. It's important to make sure the book is worth it though .. that's what level 2 is for.
		li
			strong Syntopical
			|  - for a deep dive on a particular subject or question. You find a lot of books on the matter, do level 2 reading of all of them, then utilize relevant passages to discover issues & opinions/POVs that ultimately answer your question.

	p To be a good reader is to be an active reader. You are a detective, questioning the book to discover the answers. To become a better reader, you must read books that require active reading. Entertainment & information are also good reasons to read, but you won't get better from them.
	
	p You should be able to answer 4 basic questions about a book you read:
	ol
		li What is the book about as a whole?
		li What is being said in detail, and how?
		li Is the book true, in whole or in part?
		li What of it?

	p Different book types get different advice, but the 4 questions are always applicable (if with a twist):
	ol
		li Practical Books
		li Imaginative Literature
		ol
			li Stories
			li Plays
			li Poems
		li History
		ol
			li Biography & Autobiography
			li Current Events
		li Science & Mathematics
		li Philosophy
		li Social Science

	h3 Rules of Reading
	p Phase 1 of Analytical Reading (Outline). This could be combined with level 2 reading.
	ol
		li You should know what kind of book you're reading as early in the process as possible, preferably before you start reading.
		li State the unity of the whole book in one sentence, or at most a short paragraph.
		li Set forth the major parts of the book and show how these are organized into a whole, by being ordered to one another and to the unity of the whole.
		li Find out what the author's problems were.
	p Phase 2 of Analytical Reading (Interpretation)
	ol
		li Find the important words, and through them come to terms with the author.
		li Mark the most important sentences and discover the propositions they contain.
		li Locate or construct the basic arguments in the book by finding the main sentences & connections.
		li Find out what the author's solutions are.

	p Phase 3 of Analytical Reading (Criticism)
	ol
		li You must understand the book to a reasonable degree before agreeing, disagreeing, or suspending judgment.
		li When you disagree, do so reasonably and not disputatiously or contentiously.
		li Respect the difference between knowledge & mere personal opinion by giving reasons for all critical judgment.
		li Show where the author is uninformed.
		li Show where the author is misinformed.
		li Show where the author is illogical.
		li Show where the author's analysis or account is incomplete.

	h3 Summary of Syntopical Reading
	ol
		li Survey Field Preparation for Syntopical Reading
		ol
			li Create a tentative bibliography based on other book bibliographies, library catalogues, experts, etc.
			li Inspect all books to find relevant ones, and improve your overall understanding of the subject.
		li Syntopical Reading of Bibliography
		ol
			li Inspect relevant books for relevant passages.
			li Bring authors to terms with relevant terminology that most/all authors can be interpreted as applying.
			li Establish a set of neutral authors by forming a set of questions which all authors an be interpreted as answering, explicitly or not.
			li Define issues (major and minor) by ranging answers of all authors on all sides. Remember issues may also come from interpretation of matters that may not be a primary concern.
			li Analyze discussion by ordering questions & issues in a way that light is thrown on the subject. Usually this is general to specific.
			li Always stay objective by referring back to the author's text on all matters.

	h2 Is the book true, in whole or in part?
	p Yes, it is. It was challenging to get through some of the book at times .. the authors could probably have cut the book down a bit, and the language is dated. That is a matter of personal opinion though. 
	p Overall they were quite informed. The questions, rules, and strategies are very helpful, and I think I will be a better reader with these new tools.
	p I took some minor issues with the divisions of different book types, particularly the classification of books with & without narratives. I appreciated their pushing me to examine the classification of books as a spectrum. I don't think they were right in some of the harder lines they drew. I also wish they would have covered more genres, and not just ended with 'social science' as a very generic container.
	p I also think that they could have included a more diverse range of authors. I disagree that you should learn exclusively on the Western canon. It's important to have a greater range of perspectives, both for your personal life (to learn & grow with level 3 reading) and to more properly achieve the goals of level 4 reading.

	h2 What of it?
	p The goal of this book is to make me go out and be a better reader. I think it has succeeded so far. I think my retention of the book is very much improved. I am inspired to improve my reading skills, and tackle new/different types of books. I even want to try reading poetry again!

	h2 Standout Quotes
	p "Reading a book at any level beyond elementary is essentially an effort on our part to ask it questions (and try to answer them)."
	p "Every book should be read no more slowly than it deserves, and no more quickly than you can read it with satisfaction and comprehension."
	p "Every book has a skeleton hidden between its covers. Your job as an analytical reader is to find it."
	p "If I read as many books as most men do, I would be as dull-witted as they are."   - Thomas Hobbes
	p "Beauty is harder to analyze than truth."

	h2 Notes
	p TODO