extends ../layout.pug

block head
	title An Indigenous People's History of the United States

block content
	h1 An Indigenous People's History of the United States

	h2 Book Details
	p
		strong Author(s):
		|  Roxanne Dunbar-Ortiz
	p
		strong Year:
		|  2015
	p
		strong ISBN:
		|  978-0-8070-0041-0
	p
		strong Format:
		|  Kindle
	p
		strong Dates Read:
		|  11/13/2019 - 
	p
		strong Genre:
		|  Non-Fiction > History
	p
		strong Rating:
		|  

	h2 What is the book about as a whole?

	h2 What is being said in detail, and how?

	h2 Is the book true, in whole or in part?

	h2 What of it?

	h2 Standout Quotes

	h2 Notes