extends ../layout.pug

block head
	title Javascript

block content
	h1 Javascript

	h2 Animation
	ul
		li
			a(href="https://css-tricks.com/scroll-drawing/") Scroll drawing
			|  animation with SVG.
		
	h2 GraphQL
	ul
		li
			a(href="https://www.sitepoint.com/creating-graphql-server-nodejs-mongodb/") Creating a GraphQL Server with Node.js and MongoDB

	h2 Learning
	ul
		li Basic
			a(href="https://github.com/kolodny/exercises") coding challenges
			|  and interview questions
		li
			a(href="https://benmccormick.org/2017/07/19/ten-things-javascript/") 10 Things a Serious Javascript Developer Should Learn
	
	h2 Libraries
	
	h3 CSS Assistance
	ul
		li
			a(href="http://wicky.nillia.ms/enquire.js/") Enquire.js
			|  is a vanilla JS library for responding to CSS media queries. This is helpful, because CSS media queries & JS width measurements often don't match up, and this may cause issues at certain breakpoints.
		li
			a(href="https://dollarshaveclub.github.io/scrolldir/") ScrollDir
			|  allows you to leverage vertical scroll direction with CSS.

	h3 Data & Charts
	ul
		li
			a(href="https://www.anychart.com/products/anymap/overview/") Interactive Map Charts
	
	h3 Intersection Observer API
	ul
		li
			a(href="https://deanhume.com/lazy-loading-images-using-intersection-observer/") Lazy Loading Images Using Intersection Observer

	h3 Media
	ul
		li
			a(href="https://plyr.io/?ref=webdesignernews.com") Plyr
			|  is a simple, accessible and customisable media player.
		li
			a(href="https://github.com/jonathantneal/media-player") A tiny, cross browser, accessible, customizable, media player

	h3 Miscellaneous
	ul
		li
			a(href="https://shopify.github.io/draggable/?utm_source=HackingUI+Weekly&utm_campaign=b65ae60500-EMAIL_CAMPAIGN_2017_09_21&utm_medium=email&utm_term=0_72b6427305-b65ae60500-161872501") Draggable
			| : a lightwegith, responsive, modern drag & drop library

	h3 Node.js
	ul
		li
			a(href="https://www.sitepoint.com/forms-file-uploads-security-node-express/") Forms, File Uploads and Security
			|  with Node.js and Express


	h2 Project Ideas
	ul
		li
			a(href="https://github.com/tastejs/awesome-app-ideas") Awesome App Ideas
		li Martyr2's
			a(href="https://www.dreamincode.net/forums/topic/78802-martyr2s-mega-project-ideas-list/") Mega Project List
			|  with 125 project ideas.

	h2 Typescript
	ul
		li
			a(href="https://www.typescriptlang.org/docs/home.html") TypeScript Official Docs
		li
			a(href="https://areknawo.com/typescript-introduction/") TypeScript Introduction

	h2 Tutorials & Demos
	ul
		li
			a(href="https://scotch.io/tutorials/build-a-custom-javascript-scrollspy-navigation") Build a Custom Javascript Scrollspy Navigation
		li
			a(href="https://mediatemple.net/blog/tips/map-rollovers/") SVG Map Rollovers

	h2 Vanilla JS
	ul
		li
			a(href="https://ultimatecourses.com/blog/is-it-time-to-drop-jquery-essentials-to-learning-javascript-from-a-jquery-background") Replace jQuery with Vanilla Javascript
		li
			a(href="https://www.sitepoint.com/guide-vanilla-ajax-without-jquery/") A Guide to Vanilla AJAX Without jQuery
		li
			a(href="https://www.sitepoint.com/smooth-scrolling-vanilla-javascript/") Smooth Scrolling in Vanilla JS

	h2 TBD
	ul
		li
			a(href="https://www.toptal.com/javascript/asynchronous-javascript-async-await-tutorial") Asynchronous JS
			| : From callback hell to async and await