extends ../layout.pug

block head
	title Javascript

block content
	h1 Javascript

	h2 Learning
	ul
		li Basic
			a(href="https://github.com/kolodny/exercises") coding challenges
			|  and interview questions