extends ../layout.pug

block head
	title Learning

block content
	h1 Learning
	ul
		li
			a(href="https://www.psychologytoday.com/us/articles/201607/the-golden-age-teaching-yourself-anything") The Golden Age of Teaching Yourself Anything
		li
			a(href="https://www.theatlantic.com/education/archive/2016/08/learning-versus-education/494660/") What if high school were more like Kindergarten?
		li
			a(href="https://fs.blog/2016/07/henry-ford-actual-value-education/") Henry Ford and the Actual Value of Education
		li
			a(href="https://www.inc.com/empact/bill-gates-warren-buffett-and-oprah-all-use-the-5-hour-rule.html") The 5 Hour Rule
		li
			a(href="https://hbr.org/2017/01/make-learning-a-lifelong-habit") Make Learning a Lifelong Habit
		li
			a(href="https://www.inc.com/jessica-stillman/how-to-learn-anything-faster-according-to-albert-einstein.html") Einstein's Advice to His Son on How to Accelerate Learning
		li
			a(href="https://www.businessinsider.com/elon-musk-mastered-learning-transfer-heres-how-2017-7") Elon Musk Mastered Learning Transfer
			| : Here's How
		li
			a(href="https://austinkleon.com/2017/08/10/learning-how-to-learn-again/") Learning How to Learn Again
		li
			a(href="https://internetvin.com/futureland-alpha/") Futureland Alpha
			| : a set of tools designed to help you learn a new skill by creating something every day for a year.
		li
			a(href="https://news.ycombinator.com/item?id=20007108&utm_source=hackernewsletter&utm_medium=email&utm_term=ask_hn") Do you keep a personal knowledge repository?
			| : HN thread
		li
			a(href="https://www.calnewport.com/blog/2011/12/23/flow-is-the-opiate-of-the-medicore-advice-on-getting-better-from-an-accomplished-piano-player/") Flow is the opiate of the mediocre
			| : Advice on getting better from an accomplished piano player
		li
			a(href="https://getpocket.com/explore/item/what-medieval-people-got-right-about-learning") What medieval people got right about learning


	h2 WGU
	ul
		li
			a(href="https://www.reddit.com/r/WGU_CompSci/comments/f89z89/what_courses_can_i_get_out_of_the_way_while_i/") What courses can I get out of the way while I wait to start?
		li
			a(href="https://www.reddit.com/r/WGU_CompSci/comments/d9utbq/before_wgu_lower_and_midlevel_compsci_courses/") Before WGU (lower and mid-level comp-sci courses)

	h2 Memory
	ul
		li
			a(href="http://augmentingcognition.com/ltm.html") Augmenting long-term memory
		li
			a(href="https://senrigan.io/blog/chasing-10x-leveraging-a-poor-memory-in-software-engineering/") Chasing 10x
			| : How Anki saved my software career
		li
			a(href="https://senrigan.io/blog/everything-i-know-strategies-tips-and-tricks-for-spaced-repetition-anki/") Strategies, tips, and tricks for Anki

	h2 Other Wikis
	ul
		li
			a(href="https://wiki.nikitavoloboev.xyz/") Nikit Voloboev