extends ../layout.pug

block head
	title Learning

block content
	h1 Learning
	ul
		li
			a(href="https://www.psychologytoday.com/us/articles/201607/the-golden-age-teaching-yourself-anything") The Golden Age of Teaching Yourself Anything
		li
			a(href="https://www.theatlantic.com/education/archive/2016/08/learning-versus-education/494660/") What if high school were more like Kindergarten?
		li
			a(href="https://fs.blog/2016/07/henry-ford-actual-value-education/") Henry Ford and the Actual Value of Education