extends ../layout.pug

block head
	title Learning

block content
	h1 Learning
	ul
		li
			a(href="https://www.psychologytoday.com/us/articles/201607/the-golden-age-teaching-yourself-anything") The Golden Age of Teaching Yourself Anything