extends ../layout.pug

block head
	title MacOS

block content
	h1 MacOS

	h2 Security
	ul
		li
			a(href="https://github.com/drduh/macOS-Security-and-Privacy-Guide") A macOS Security and Privacy Guide


	h2 Software
	ul
		li
			a(href="https://zapier.com/blog/zapier-for-alfred/") Zapier for Alfred: Run Automated Workflows From Your Mac Keyboard
		li
			a(href="https://github.com/viatsko/awesome-vscode") Awesome VS Code