extends ../layout.pug

block head
	title MacOS

block content
	h1 MacOS

	h2 Security
	ul
		li
			a(href="https://github.com/drduh/macOS-Security-and-Privacy-Guide") A macOS Security and Privacy Guide
		li
			a(href="https://securitycheckli.st/") Security Checklist


	h2 Software
	ul
		li
			a(href="https://zapier.com/blog/zapier-for-alfred/") Zapier for Alfred: Run Automated Workflows From Your Mac Keyboard
		li
			a(href="https://github.com/viatsko/awesome-vscode") Awesome VS Code
		li
			a(href="https://www.hammerspoon.org/") Hammerspoon
		li
			a(href="https://ethical.net/resources/") Ethical Alternatives & Resources
		li
			a(href="https://dev.to/selrond/tips-to-use-vscode-more-efficiently-3h6p") Tips to use VSCode more efficiently
		li
			a(href="https://vscodecandothat.com/") VS Code can do that?!
		li
			a(href="https://scotch.io/bar-talk/my-top-8-visual-studio-code-tips-and-features") My top 8 visual studio code tips and features
		li
			a(href="https://benfrain.com/text-editing-techniques-every-front-end-developer-should-know/") Text editing techniques aevery front-end developer should know
		li
			a(href="https://tilomitra.com/vs-code-settings-and-extensions-for-faster-javascript-development/") VS Code Settings and Extensions for faster JS development