extends ../layout.pug

block head
	title Management

block content
	h1 Management

	h2 Meetings
	
	p Meetings are kind of the worst .. it's a big part of the reason I like freelancing. If you must have meetings, Intercom has some
		a(href="https://medium.com/@padday/meetings-e27767bcf6b6") helpful guidelines
		| .