extends ../layout.pug

block head
	title Management

block content
	h1 Management

	ul
		li
			a(href="https://medium.com/the-year-of-the-looking-glass/average-manager-vs-great-manager-cf8a2e30907d") Average Manager vs. Great Manager, Explained in 10 Sketches

	h2 Meetings
	
	p Meetings are kind of the worst .. it's a big part of the reason I like freelancing. If you must have meetings, Intercom has some
		a(href="https://medium.com/@padday/meetings-e27767bcf6b6") helpful guidelines
		| .