extends ../layout.pug

block head
	title Math

block content
	h1 Math

	h2 Linear Algebra
	ul
		li
			a(href="https://begriffs.com/posts/2016-07-24-best-linear-algebra-books.html") The best linear algebra books