extends ../layout.pug

block head
	title Math

block content
	h1 Math

	h2 Calculus
	ul
		li
			a(href="https://www.geogebra.org/m/x39ys4d7") Calculus for the people

	h2 Linear Algebra
	ul
		li
			a(href="https://begriffs.com/posts/2016-07-24-best-linear-algebra-books.html") The best linear algebra books
		li
			a(href="http://joshua.smcvt.edu/linearalgebra/?utm_source=hackernewsletter&utm_medium=email&utm_term=books") Free linear algerbra textbook

	h2 General Math
	ul
		li
			a(href="https://news.ycombinator.com/item?id=16562173") How to self-learn math?
			| : HN thread