extends ../layout.pug

block head
	title Math

block content
	h1 Math

	h2 Calculus
	ul
		li
			a(href="https://www.geogebra.org/m/x39ys4d7") Calculus for the people

	h2 Linear Algebra
	ul
		li
			a(href="https://begriffs.com/posts/2016-07-24-best-linear-algebra-books.html") The best linear algebra books
		li
			a(href="http://joshua.smcvt.edu/linearalgebra/?utm_source=hackernewsletter&utm_medium=email&utm_term=books") Free linear algerbra textbook

	h2 General Math
	ul
		li
			a(href="https://news.ycombinator.com/item?id=16562173") How to self-learn math?
			| : HN thread
		li
			a(href="https://mathvault.ca/books/") Recommended math books
		li
			a(href="https://www.neilwithdata.com/mathematics-self-learner") Mathematics for the adventurous self-learner
		li
			a(href="https://boingboing.net/2018/12/26/beyond-a-equals-a.html") Independent study guide to logic for philosophers and mathematicians
		li
			a(href="https://mathigon.org/") Mathigon
			| : online, interactive textbook
		li
			a(href="https://medium.com/however-mathematics/13-classic-mathematics-books-for-lifelong-learners-7ec2759142da ") 13 classic mathematics books for lifelong learners

	h2 Game Theory
	ul
		li
			a(href="https://hackernoon.com/beginners-guide-to-game-theory-31e3e6adcec9") The beginner's guide to game theory