extends ../layout.pug

block head
	title Music

block content
	h1 Music

	ul
		li Posters about the
			a(href="https://tobyrush.com/theorypages/index.html") fundamentals of music theory.
		li
			a(href="https://www.theringer.com/music/2018/10/24/18015300/now-thats-what-i-call-music-ranking") Every 'Now That's What I Call Music!' Album, Ranked
		li
			a(href="https://www.vulture.com/2018/12/the-mary-poppins-returns-soundtrack-ranked.html") The Mary Poppins Returns Soundtrack, Ranked
		li
			a(href="https://www.amazon.com/Modern-Method-Guitar-Volumes-Complete/dp/0876390114") A modern method for guitar