extends ../layout.pug

block head
	title New Orleans

block content
	h1 New Orleans
	
	h2 Favorite Restuarants
	ul
		li
			a(href="https://www.facebook.com/bachicanteenla") Ba Chi Canteen (Bacos!)
		li
			a(href="http://www.bourreenola.com/") Bourrée at Boucherie (Fresh fruit daquiris!)