extends ../layout.pug

block head
	title Outdoors

block content
	h1 Outdoors

	h2 Equipment
	ul
		li
			a(href="https://www.outsideonline.com/2233596/why-five-ten-access-are-so-versatile") The Only Adventure Shoe You Need
		li
			a(href="https://www.rei.com/product/126979/rei-co-op-sahara-long-sleeve-shirt-womens-plus-sizes?cm_mmc%5B%5D=aff_AL-_-145798-_-180770-_-NA&cm_mmc%5B%5D=aff_AL-_-145798-_-180770-_-NA&cm_mmc=aff_AL-_-145798-_-180770-_-NA&avad=180770_a175c452d") Sahara Long-Sleeve Shirt (plus sizes)

	h2 Nature
	ul
		li
			a(href="https://www.nytimes.com/2017/08/26/opinion/sunday/cure-yourself-of-tree-blindness.html") Cure Yourself of Tree Blindness