extends ../layout.pug

block head
	title Outdoors

block content
	h1 Outdoors

	h2 Equipment
	ul
		li
			a(href="https://www.outsideonline.com/2233596/why-five-ten-access-are-so-versatile") The Only Adventure Shoe You Need

	h2 Nature
	ul
		li
			a(href="https://www.nytimes.com/2017/08/26/opinion/sunday/cure-yourself-of-tree-blindness.html") Cure Yourself of Tree Blindness