extends ../layout.pug

block head
	title Page

block content
	h1 Page
	p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Id est enim, de quo quaerimus. Tu vero, inquam, ducas licet, si sequetur; Unum nescio, quo modo possit, si luxuriosus sit, finitas cupiditates habere.