extends ../layout.pug

block head
	title Performance

block content
	h1 Performance

	h2 Web Performance
	ul
		li
			a(href="https://davidwalsh.name/site-speed") 5 ways to make your site smaller and faster