extends ../layout.pug

block head
	title Performance

block content
	h1 Performance

	h2 Web Performance
	ul
		li
			a(href="https://davidwalsh.name/site-speed") 5 ways to make your site smaller and faster
		li
			a(href="https://css-tricks.com/prefetching-preloading-prebrowsing/") Prefetching, Preloading, Prebrowsing
		li
			a(href="https://www.zachleat.com/web/comprehensive-webfonts/") A Comprehensive Guide to Loading Webfonts
		li
			a(href="https://boagworld.com/usability/performance-ux/") Why Performance is the Best Way to Improve UX
		li
			a(href="https://speckyboy.com/introduction-progressive-image-rendering/") Intro to Progressive Image Rendering
		li
			a(href="https://deanhume.com/lazy-loading-images-using-intersection-observer/") Lazy Loading Images Using Intersection Observer
		li
			a(href="https://redirection.me/support/problems/cloudflare/") Cloudflare and Caching
		li
			a(href="https://www.websitecarbon.com/") Website carbon calculator