extends ../layout.pug

block head
	title Performance

block content
	h1 Performance

	h2 Web Performance
	ul
		li
			a(href="https://davidwalsh.name/site-speed") 5 ways to make your site smaller and faster
		li
			a(href="https://css-tricks.com/prefetching-preloading-prebrowsing/") Prefetching, Preloading, Prebrowsing
		li
			a(href="https://www.zachleat.com/web/comprehensive-webfonts/") A Comprehensive Guide to Loading Webfonts
		li
			a(href="https://boagworld.com/usability/performance-ux/") Why Performance is the Best Way to Improve UX
		li
			a(href="https://speckyboy.com/introduction-progressive-image-rendering/") Intro to Progressive Image Rendering
		li
			a(href="https://deanhume.com/lazy-loading-images-using-intersection-observer/") Lazy Loading Images Using Intersection Observer
		li
			a(href="https://redirection.me/support/problems/cloudflare/") Cloudflare and Caching
		li
			a(href="https://www.websitecarbon.com/") Website carbon calculator
		li
			a(href="https://csswizardry.com/2020/01/performance-budgets-pragmatically/") Performance Budgets, Pramatically
		li
			a(href="https://www.zachleat.com/web/font-checklist/?utm_campaign=CSS%2BLayout%2BNews&utm_medium=email&utm_source=CSS_Layout_News_163") The font loading checklist
		li
			a(href="https://css-tricks.com/tips-for-rolling-your-own-lazy-loading/") Tips for rolling your own lazy loading
		li
			a(href="https://images.guide/") Essential Image Optimization
		li
			a(href="https://optimole.com/") Image optimization on autopilot