extends ../layout.pug

block head
	title Philosophy

block content
	h1 Philosophy

	ul
		li
			a(href="http://nautil.us/issue/79/catalysts/philosophy-is-a-public-service") Philosophy is a public service