extends ../layout.pug

block head
	title Photography

block content
	h1 Photography

	h2 Educational Resources
	ul
		li
			a(href="https://photographyconcentrate.com/introduction-to-smartphone-photography/") Intro to Smartphone Photography
		li
			a(href="http://www.r-photoclass.com/") Reddit Photoclass
		li
			a(href="https://pinchofyum.com/tasty-food-photography") Tasty Food Photography Book


	h2 Equipment
	ul
		li
			a(href="https://www.rylo.com/?ref=producthunt") Rylo captures cinematic video in stunning 5.8k, paired with an intelligent app