extends ../layout.pug

block head
	title Photography

block content
	h1 Photography

	h2 Educational Resources
	ul
		li
			a(href="https://photographyconcentrate.com/introduction-to-smartphone-photography/") Intro to Smartphone Photography
		li
			a(href="http://www.r-photoclass.com/") Reddit Photoclass