extends ../layout.pug

block head
	title Photography

block content
	h1 Photography

	h2 Educational Resources
	ul
		li
			a(href="https://photographyconcentrate.com/introduction-to-smartphone-photography/") Intro to Smartphone Photography
		li
			a(href="http://www.r-photoclass.com/") Reddit Photoclass
		li
			a(href="https://pinchofyum.com/tasty-food-photography") Tasty Food Photography Book
		li
			a(href="https://docs.google.com/presentation/d/16W-9D-x7WflRc2d__AX1qT3vep_UF84JCTjatnpH1D0/mobilepresent#slide=id.ga96e3974b_2183") Taking Awesome Food Photos
		li
			a(href="https://antongorlin.com/blog/photography-composition-definitive-guide/") Photography composition
			| : the definitive guide


	h2 Equipment
	ul
		li
			a(href="https://www.rylo.com/?ref=producthunt") Rylo captures cinematic video in stunning 5.8k, paired with an intelligent app
		li
			a(href="https://www.amazon.com/Peak-Design-Capture-Camera-Silver/dp/B07817MWDB") Peak Design Capture Camera Clip
		li
			a(href="https://www.magiclantern.fm/nav.php?seq=ERRRll") Magic Lantern
			|  is a free software add-on that runs from the SD/CF care and adds a host of new features to canon eos cameras not included from the factory

	h2 Video
	ul
		li
			a(href="https://www.unscreen.com/") Remove video background automatically
		li
			a(href="https://medium.com/@suzhinton/my-twitch-live-coding-setup-b2516672fb21") My twitch live coding setup