extends ../layout.pug

block head
	title Python

block content
	h1 Python

	ul
		li
			a(href="https://www.freecodecamp.org/news/my-open-source-instagram-bot-got-me-2-500-real-followers-for-5-in-server-costs-e40491358340/?ref=zest.is") My open source Instagram bot got me 2,500 real followers for $5 in server costs
		li
			a(href="https://www.datasciencecentral.com/profiles/blogs/learn-python-in-3-days-step-by-step-guide?utm_source=almost-timely-newsletter&utm_medium=email&utm_campaign=almost-timely-2017-06-11") Learn Python in 3 Days
			| : Step by Step Guide
		li
			a(href="https://www.freecodecamp.org/news/how-to-scrape-websites-with-python-and-beautifulsoup-5946935d93fe/") How to Scrape Websites with Python and BeautifulSoup
		li
			a(href="https://github.com/oliver006/elasticsearch-gmail") Elasticsearch for Beginners
			| : indexing your gmail inbox