extends ../layout.pug

block head
	title Regular Expressions

block content
	h1 Regular Expressions (regex)

	ul
		li
			a(href="https://hugogiraudel.com/2015/08/19/learning-regular-expressions-the-practical-way/") Learning regex the practical way.
		li
			a(href="https://www.sitepoint.com/demystifying-regex-with-practical-examples/") Demystifying regex with practical examples.