extends ../layout.pug

block head
	title Relationships

block content
	h1 Relationships

	p Want to have good relationships? 
		a(href="https://www.nytimes.com/2015/09/06/opinion/sunday/frank-bruni-the-myth-of-quality-time.html") Put in the time.
		|  In the long run, time matters, no matter how good you try to make the short visits. Master the <a href="https://capwatkins.com/blog/the-sliding-scale-of-giving-a-fuck">sliding scale of giving a fuck</a>.
	ul
		li
			a(href="https://bothsidesofthetable.com/i-only-have-7-trips-left-on-managing-work-life-balance-love-family-1c48737a3471") I Only Have 7 Trips Left
			| : On Managing Work/Life Balance, Love &amp; Family

	h2 Romance
	ul
		li
			a(href="https://www.nytimes.com/2017/05/11/magazine/is-an-open-marriage-a-happier-marriage.html") Is an Open Marriage a Happier Marriage?
		li
			a(href="https://www.nytimes.com/2017/06/23/style/modern-love-to-stay-in-love-sign-on-the-dotted-line-36-questions.html") To STay in Love, Sign on the Dotted Line