extends ../layout.pug

block head
	title Self Care

block content
	h1 Self Care

	h2 Personal Care Products
	ul
		li
			a(href="https://www.onecrazymom.com/homemade-hair-pomade/") Pomade
		li
			a(href="https://www.diynatural.com/homemade-deodorant-stick/") Deodorant

	h2 Sleep
	ul
		li
			a(href="https://www.inc.com/melanie-curtin/want-to-fall-asleep-faster-combat-pilots-use-this-hack-to-get-to-sleep-in-2-minutes-or-less.html") Want to fall asleep faster?
			|  Military pilots use this hack to sleep anywhere in 2 minutes or less