extends ../layout.pug

block head
	title Self-Improvement

block content
	h1 Self-Improvement

	h2 Creativity
	p There are lots of ways to boost creativty. Boredom, aka '
		a(href="http://nautil.us/blog/how-meaning-withdrawal-aka-boredom-can-boost-creativity") meaning withdrawal
		| '.
		a(href="https://chrisguillebeau.com/80-percent-capacity/") Schedule your work at 80% capacity
		| . You can use the extra time to pursue work that pushes you and offers more opportunity to be creative.
		a(href="https://www.inc.com/anna-guerrero/6-ways-spending-more-time-alone-leads-to-greater-creativity.html") Spend time alone
		| . Consider 
		a(href="https://shawnblanc.net/2015/08/whole-brain-creativity/") whole brain creativity
		| . 
		a(href="https://www.canva.com/learn/weird-and-creative-thinking/") Be weird
		| .

	h2 Discipline
	p Self-discipline is hard, so try
		a(href="http://7goldfish.com/Little%20know%20ways%20to%20think%20about%20dicipline") thinking about it in different ways
		| . Remember that the hard work puts you where the good luck can find you. Rely on <a href="http://www.wisdomination.com/screw-motivation-what-you-need-is-discipline/">discipline instead of motivation</a>.

	h2 Doing Good
	p It's impossible to change the world on your own, but each individual contribution truly does add up. As Zeno famously said, “Well-being is realized in small steps, but it is no small thing.” Isaac Asimov said "However, I continue to try and I continue, indefatigably, to reach out. There's no way I can single-handedly save the world or, perhaps, even make a perceptible difference - but how ashamed I would be to let a day pass without making one more effort."
	p How should you deal with panhandlers? According to the Pope, <a href="https://www.nytimes.com/2017/03/03/opinion/the-pope-on-panhandling-give-without-worry.html">give them money, and don't worry about it</a>.
	
	h2 Happiness
	ul
		li If you insist on trying to buy your way to happiness, 
			a(href="https://lifehacker.com/how-to-buy-happiness-the-purchases-most-likely-to-brin-1681780686") focus on the smartest purchases. Find <a href="https://humbledollar.com/2017/04/nothing-better/">the things that make you happy without costing money</a>.

	h2 How to Stand Out
	ul
		li
			a(href="https://lifehacker.com/the-extra-mile-is-never-crowded-1748474610") The Extra Mile is Never Crowded

	h2 Imposter Syndrome
	p When it comes down to it, 
		a(href="https://99u.adobe.com/articles/32985/nobody-knows-what-the-hell-they-are-doing") nobody knows what the hell they are doing
		| .

	h2 Productivity
	p Productivity is
		a(href="https://lifehacker.com/productivity-is-not-about-time-its-about-energy-1683227210") not about time
		| , it's about energy. These are <a href="https://zapier.com/blog/productivity-strategy/">5 methods (and their respective apps) to try</a> to improve productivity.

	h2 Socializing & Relationships
	ul
		li
			a(href="https://lifehacker.com/how-to-be-more-assertive-and-hold-your-ground-in-a-conv-1684796119") How to be more assertive
			|  and hold your ground in a conversation.