extends ../layout.pug

block head
	title Self-Improvement

block content
	h1 Self-Improvement

	h2 Creativity
	p There are lots of ways to boost creativty. Boredom, aka '
		a(href="http://nautil.us/blog/how-meaning-withdrawal-aka-boredom-can-boost-creativity") meaning withdrawal
		| '.
		a(href="https://chrisguillebeau.com/80-percent-capacity/") Schedule your work at 80% capacity
		| . You can use the extra time to pursue work that pushes you and offers more opportunity to be creative.
		a(href="https://www.inc.com/anna-guerrero/6-ways-spending-more-time-alone-leads-to-greater-creativity.html") Spend time alone
		| . Consider 
		a(href="https://shawnblanc.net/2015/08/whole-brain-creativity/") whole brain creativity
		| . 
		a(href="https://www.canva.com/learn/weird-and-creative-thinking/") Be weird
		| .
	ul
		li
			a(href="http://www.keytostudy.com/creativity-101-power-multiple-perspectives/") Creativity 101: Power Multiple Perspectives
		li
			a(href="https://austinkleon.com/2017/07/06/silence-is-a-space-for-something-new-to-happen/") Silence is a space for something new to happen
		li
			a(href="https://austinkleon.com/2017/02/16/get-out-now/") Get out now
		li
			a(href="https://medium.com/@ToddBrison/the-ultimate-guide-to-being-creative-when-you-arent-69a618dd25b") The Ultimate Guide to Being Creative When You Aren't
		li
			a(href="https://www.nytimes.com/2017/08/14/your-money/when-you-need-creativity-to-strike-make-way-and-gear-up.html") When You Need Creativity to Strike, Make Way and Gear Up
		li
			a(href="https://observer.com/2017/09/why-the-best-thing-you-can-do-for-your-creative-project-is-create-another-one-marketing-perennial-seller/") Why the best thing you can do for your creative project is create another one.
		li
			a(href="https://austinkleon.com/2020/04/30/honor-among-thieves/") Honor Among Thieves
		li
			a(href="https://austinkleon.com/2020/03/31/boredom-is-a-pit-stop/") Boredom is a pit stop
		li
			a(href="https://tjcx.me/posts/consumption-distraction/") Consume less, create more

	h2 Discipline
	p Self-discipline is hard, so try
		a(href="http://7goldfish.com/Little%20know%20ways%20to%20think%20about%20dicipline") thinking about it in different ways
		| . Remember that the hard work puts you where the good luck can find you. Rely on <a href="http://www.wisdomination.com/screw-motivation-what-you-need-is-discipline/">discipline instead of motivation</a>.
	ul
		li
			a(href="https://lifehacker.com/the-face-everything-technique-and-why-avoiding-difficul-1782440801") The Face Everything Technique
		li
			a(href="https://dailystoic.com/you-dont-have-to-like-it/") You Don't Have to Like It

	h2 Doing Good
	p It's impossible to change the world on your own, but each individual contribution truly does add up. As Zeno famously said, “Well-being is realized in small steps, but it is no small thing.” Isaac Asimov said "However, I continue to try and I continue, indefatigably, to reach out. There's no way I can single-handedly save the world or, perhaps, even make a perceptible difference - but how ashamed I would be to let a day pass without making one more effort."
	p How should you deal with panhandlers? According to the Pope, <a href="https://www.nytimes.com/2017/03/03/opinion/the-pope-on-panhandling-give-without-worry.html">give them money, and don't worry about it</a>.

	h2 Focus
	ul
		li
			a(href="https://getpocket.com/explore/item/how-to-reduce-digital-distractions-advice-from-medieval-monks") How to reduce digital distractions
			| : advice from medieval monks
		li
			a(href="https://fs.blog/2017/03/focusing-art-not-science/") Focusing is an art, not a science
	
	h2 Habits & Routines
	ul
		li
			a(href="https://qz.com/877795/how-to-create-new-good-habits-according-to-stanford-psychologist-b-j-fogg/") A Stanford University Behavior Scientist's Elegant Three-Step Method for Creating New Habits

	h2 Happiness
	ul
		li If you insist on trying to buy your way to happiness, 
			a(href="https://lifehacker.com/how-to-buy-happiness-the-purchases-most-likely-to-brin-1681780686") focus on the smartest purchases. Find <a href="https://humbledollar.com/2017/04/nothing-better/">the things that make you happy without costing money</a>.
		li
			a(href="https://imgur.com/gallery/F3Fi8") Happiness Practices Around the World

	h2 How to Stand Out
	ul
		li
			a(href="https://lifehacker.com/the-extra-mile-is-never-crowded-1748474610") The Extra Mile is Never Crowded

	h2 Humility
	ul
		li
			a(href="https://www.thecut.com/2017/02/how-intellectual-humility-can-make-you-a-better-person.html") How 'Intellectual Humility' Can Make You a Better Person

	h2 Imposter Syndrome
	p When it comes down to it, 
		a(href="https://99u.adobe.com/articles/32985/nobody-knows-what-the-hell-they-are-doing") nobody knows what the hell they are doing
		| .
	ul
		li
			a(href="https://austinkleon.com/2019/11/05/start-before-you-think-youre-ready/") Start before you think you're ready

	h2 Listening
	ul
		li
			a(href="https://hbr.org/2016/07/what-great-listeners-actually-do?utm_source=hackernewsletter&utm_medium=email&utm_term=fav") What Great Listeners Actually Do
	
	h2 Mental Health
	ul
		li
			a(href="https://www.brainpickings.org/2016/02/09/depression-william-styron-darkness-visible/") What Depression is Really Like
		li
			a(href="https://austinkleon.com/2018/06/09/dark-days/") Dark days

	h2 Productivity
	p Productivity is
		a(href="https://lifehacker.com/productivity-is-not-about-time-its-about-energy-1683227210") not about time
		| , it's about energy. These are <a href="https://zapier.com/blog/productivity-strategy/">5 methods (and their respective apps) to try</a> to improve productivity. 
	ul
		li
			a(href="https://www.bakadesuyo.com/2017/06/how-to-be-productive-3/") How to Be Productive
			| : 4 Secrets From the Stoics
		li
			a(href="https://www.nytimes.com/2017/07/05/your-money/where-does-the-time-go-you-can-find-out-if-you-dare.html") Where does the time go? You can find out if you dare
		li
			a(href="https://hamberg.no/gtd/") 15 minute guide to GTD

	h2 Socializing & Relationships
	ul
		li
			a(href="https://lifehacker.com/how-to-be-more-assertive-and-hold-your-ground-in-a-conv-1684796119") How to be more assertive
			|  and hold your ground in a conversation.

	h2 Uncertain
	ul
		li
			a(href="https://fs.blog/2017/01/most-respectful-interpretation/") The Most Respectful Interpretation
		li
			a(href="https://99u.adobe.com/articles/53927/how-to-fight-through-intellectual-discomfort") How to Fight Through Intellectual Discomfort
		li
			a(href="https://medium.com/the-mission/the-only-time-you-are-actually-growing-is-when-youre-uncomfortable-33198a619ab0") The Only Time You are Actually Growing is When You're Uncomfortable
		li
			a(href="https://austinkleon.com/2018/02/20/what-is-the-point-of-keeping-a-diary/") Why I keep a diary
		li
			a(href="https://medium.com/personal-growth/thinking-in-levels-how-to-dig-deeper-and-think-better-8909afbe4fed") Thinking in Levels
			| : How to Dig Deeper and Think Better
		li
			a(href="https://medium.com/better-humans/draft-how-to-hack-your-brain-to-achieve-consistency-that-lasts-7f5fdc520d28") Squares/Minimalist Journaling
		li
			a(href="https://getpocket.com/explore/item/the-japanese-skill-copied-by-the-world") Mindfulness - The Japanese skill copied by the rest of the world
		li
			a(href="https://fs.blog/2020/03/preserving-optionality/") Preserving Optionality
			| : Preparing for the unknown
		li
			a(href="https://getpocket.com/explore/item/the-behavioral-economics-diet-the-science-of-killing-a-bad-habit") The behavioral economics diet
			| : the science of killing a bad habit
		li
			a(href="https://secondbreakfast.co/its-too-late-to-collect-sand") It's too late to collect sand
		li
			a(href="https://aeon.co/ideas/why-speaking-to-yourself-in-the-third-person-makes-you-wiser") Why speaking to yourself in the third person makes you wiser
		li
			a(href="https://m.signalvnoise.com/habits-always-form/") Habits always form
		li
			a(href="https://radreads.co/how-to-enjoy-instagram-without-hating-yourself/") How to enjoy instagram without hating yourself
		li
			a(href="https://sivers.org/slow") I'm a very slow thinker
		li
			a(href="https://fs.blog/2016/06/value-grey-thinking/") The value of grey thinking
		li
			a(href="https://austinkleon.com/2019/11/09/teach-your-tongue-to-say-i-dont-know/") Teach your tongue to say I don't know
		li
			a(href="https://austinkleon.com/2019/12/08/non-negotiable/") Non-negotiable
		li
			a(href="https://fs.blog/2017/06/habits-vs-goals/") Habits vs. goals
			| : a look at the benefits of a systematic approach to life
		li
			a(href="https://medium.com/better-humans/how-to-set-up-your-iphone-for-productivity-focus-and-your-own-longevity-bb27a68cc3d8") How to configure your iphone to work for you, not against you
		li
			a(href="https://datadetoxkit.org/en/home") Data detox kit
		li
			a(href="https://www.mentalmodelsbox.com/") Mental models box
		li
			a(href="https://medium.com/make-time/six-years-with-a-distraction-free-iphone-8cf5eb4f97e3 ") 6 years with a distraction-free ihpone

	h2 Goals
	ul
		li Write a cookbook
		li Make and manufacture a game
		li Create an intentional living community
		li Open a small-scale restaurant
		li Become an old-school, Medici style patron of the arts
		li Learn to do a wolf whistle