extends ../layout.pug

block head
	title Self-Improvement

block content
	h1 Self-Improvement

	h2 Creativity
	ul
		li Ways to boost creativity:
			ul
				li Boredom. Aka '
					a(href="http://nautil.us/blog/how-meaning-withdrawal-aka-boredom-can-boost-creativity") meaning withdrawal
					| '.

	h2 Discipline
	ul
		li Self-discipline is hard, so try
			a(href="http://7goldfish.com/Little%20know%20ways%20to%20think%20about%20dicipline") thinking about it in different ways
			| .
		li "The hard work puts you where the good luck can find you."

	
	h2 Happiness
	ul
		li If you insist on trying to buy your way to happiness, 
			a(href="https://lifehacker.com/how-to-buy-happiness-the-purchases-most-likely-to-brin-1681780686?utm_source=feedburner&utm_medium=feed&utm_campaign=Feed:+lifehacker/full+(Lifehacker)") focus on the smartest purchases.