extends ../layout.pug

block head
	title Shopify

block content
	h1 Shopify

	h2 Apps
	ul
		li
			a(href="https://apps.shopify.com/advanced-custom-field") Advanced Custom Fields

	h2 Learning
	ol
		li
			a(href="https://partner-training.shopify.com/outline/qfim6zmj/cover") Design and Theming Fundamentals
			|  (Shopify Partner Academy)
		li
			a(href="https://partner-training.shopify.com/outline/r5uxatsx/cover") Shopify Development Fundamentals
			|  (Shopify Partner Academy)
		li
			a(href="https://cdn.shopify.com/s/files/1/0533/2089/files/Learning-Liquid.pdf") Learning Liquid
			|  (PDF)
		li
			a(href="https://www.shopify.com/partners/blog/introduction-to-shopify-theming-for-wordpress-theme-developers") Intro to Shopify Theming for WordPress Developers
			|  (Shopify Blog Post)
		li
			a(href="https://www.shopify.com/partners/blog/110057030-using-metafields-in-your-shopify-theme") Using Metafields in Your Shopify Theme
			|  (Shopify Blog Post)
		li
			a(href="https://shopifypartnerblog.myshopify.com/blogs/blog/95401862-3-simple-steps-for-setting-up-a-local-shopify-theme-development-environment") How to Set Up a Local Development Environment
			|  (Shopify Blog Post)
		li
			a(href="https://www.shopify.com/partners/blog/live-reload-shopify-sass") Live Reloading Shopify Themes
			|  Sass Compilation with Theme Kit and Prepros

	h2 Resources
	ul 
		li
			a(href="https://www.shopify.ca/partners/shopify-cheat-sheet") Liquid Cheat Sheet
			|  (by Shopify)
		li
			a(href="https://shopify.github.io/liquid-code-examples/") Liquid Code Examples
		li
			a(href="https://shopify.github.io/themekit/") Theme Kit
			|  is a command line tool for shopify themes to upload and download themes, make changes, and automatically deploy them.
		li
			a(href="https://www.shopify.com/partners/blog/the-ultimate-list-of-resources-for-shopify-theme-developers") The Essential List of Resources for Shopify Theme Development