extends ../layout.pug

block head
	title Social Media

block content
	h1 Social Media

	h2 Images
	p Producing images for all the different social networks is a PITA, so it's helpful to have
		a(href="socialcrop.co") all the image sizes
		|  in one place. Buffer has ideas about letting
		a(href="https://buffer.com/resources/how-to-create-shareable-social-media-images") science help create shareable images
		| .

	h2 Instagram
	ul
		li
			a(href="https://pegfitzpatrick.com/instagram-budget/") How to Create a Winning Instagram on a Budget
		li
			a(href="https://vanschneider.com/how-i-edit-my-pictures-for-instagram") How Tobias van Schneider edits his Instagram photos
		li
			a(href="https://www.shopify.com/blog/14288561-how-to-build-a-massive-following-on-instagram") Grow Your Instagram Following
		li
			a(href="https://www.freecodecamp.org/news/my-open-source-instagram-bot-got-me-2-500-real-followers-for-5-in-server-costs-e40491358340/?ref=zest.is") My open source Instagram bot got me 2,500 real followers for $5 in server costs
		li
			a(href="https://foundr.com/how-to-get-more-followers-on-instagram") Hwo to Get More Followers on Instagram
			| : 10k Instagram Followers in 2 Weeks
		li
			a(href="https://buffer.com/library/instagram-growth") How to Gain a Massive Following on Instagram
			| : 10 Proven Tactics to Grow Followers and Engagement
	
	h2 Youtube
	ul
		li
			a(href="https://backlinko.com/youtube-ranking-factors") Lessons Learned About Youtube SEO From Analyzing 1.3 Million Videos
		li
			a(href="https://okdork.com/youtube-marketing/") How to Get 100k Youtube Subscribers
		li
			a(href="https://heathandalyssa.com/how-do-you-build-a-youtube-channel-a-new-video/") How do you build a Youtube channel?