extends ../layout.pug

block head
	title Social Media

block content
	h1 Social Media

	h2 Images
	p Producing images for all the different social networks is a PITA, so it's helpful to have
		a(href="socialcrop.co") all the image sizes
		|  in one place.