extends ../layout.pug

block head
	title Social Justice

block content
	h1 Social Justice

	h2 Anticapitalism
	ul
		li
			a(href="https://www.raptitude.com/2010/07/your-lifestyle-has-already-been-designed/") Your lifestyle has already been designed

	h2 Climate Change
	ul
		li
			a(href="https://medium.com/@kaibrach/individual-vs-collective-climate-action-85354c755d6e") Invidual vs systemic climate action

	h2 Feminism

	p Avoid these <a href="https://notapattern.net/2014/10/14/ways-men-in-tech-are-unintentionally-sexist/">accidental ways men are sexist</a>. <a href="https://jezebel.com/cleaning-nail-clippings-cutting-the-cake-your-soft-se-1696010639"> Soft sexism is real</a>, particularly in the workplace. Women supreme court justices get <a href="https://qz.com/952214/female-supreme-court-justices-get-interrupted-three-times-as-much-as-men-a-new-study-shows/">interrupted three times as much as their male counterparts</a>. The <a href="https://www.vox.com/2017/9/8/16268362/gender-wage-gap-explained">gender wage gap explained</a>. <a href="https://www.glamour.com/story/glamour-exclusive-president-barack-obama-says-this-is-what-a-feminist-looks-like">Obama explains what a feminist looks like</a>.
	

	h2 Politics
	ul
		li
			a(href="http://i.imgur.com/jK8VFZx.jpg") Gerrymandering, Illustrated
		li
			a(href="https://www.theatlantic.com/politics/archive/2016/12/democrats-have-a-religion-problem/510761/") The Democrats Have a Religion Problem

	h2 Privacy
	ul
		li
			a(href="https://journal.standardnotes.org/privacy-is-power-f0a064ab36ea") Privacy is Power
		li
			a(href="https://www.ted.com/talks/zeynep_tufekci_we_re_building_a_dystopia_just_to_make_people_click_on_ads") We're building a dystopia just to make people click on ads
		li
			a(href="https://krebsonsecurity.com/2020/04/when-in-doubt-hang-up-look-up-call-back/") When in Doubt: Hang Up, Look Up, & Call Back
		li
			a(href="https://www.ivpn.net/why-ivpn") iVPN (privacy focused VPN)
		li
			a(href="https://drive.google.com/file/d/106LQoUzt-41OMt4ssyizwIMNUjn893f4/view") The Color of Surveillance: Monitoring of Poor and Working People
		li
			a(href="https://www.nytimes.com/2019/11/24/smarter-living/privacy-online-how-to-stop-advertiser-tracking-opt-out.html") You're tracked everywhere you go online.
			|  Use this guide to fight back.

	h2 Privilege & Inequality
	ul
		li
			a(href="https://www.rnz.co.nz/news/the-wireless/373065/the-pencilsword-on-a-plate") On a Plate
			| : A Short Story About Privilege
		li
			a(href="https://www.gatesnotes.com/Books/Evicted") A searing portrait of American poverty
		li
			a(href="https://www.nytimes.com/2020/04/10/opinion/coronavirus-small-businesses.html") The coronavirus is showing us which entrepreneuers matter
		li
			a(href="https://www.nytimes.com/2020/02/28/business/velvet-rope-economy.html") When it's this easy at the top, it's harder for everyone else

	h2 Protest
	ul
		li
			a(href="https://www.newyorker.com/magazine/2017/01/09/the-return-of-civil-disobedience") The Return of Civil Disobedience
		li
			a(href="https://www.thenation.com/article/archive/the-lesson-from-standing-rock-organizing-and-resistance-can-win/") The Lesson From Standing Rock: Organizing and Resistance Can Win
		li
			a(href="https://timeline.com/long-hot-summer-riots-8db9fff6c9c1") If you're black in America, riots are a spiritual impulse not a political strategy

	h2 Racism & Anti-Racism

	h3 Antiracism
	ul
		li
			a(href="https://www.whiteaccomplices.org/") White Accomplices
			| : Opportunities for White People in the Fight for Racial Justice
		li
			a(href="https://web.archive.org/web/20160812073241/https://onbeing.org/blog/courtney-martin-the-conversation-we-must-have-with-our-white-children/8806") The Conversation We Must Have with Our White Children
		li
			a(href="https://mikemchargue.com/blog/2014/12/5/white-thoughts-on-being-black") White Thoughts on Being Black
		li
			a(href="https://www.huffpost.com/entry/why-im-a-racist_b_57893b9ee4b0e7c873500382") Why I'm a Racist
			| : It odesn't make me evil. It makes me ready for change.
		li		
			a(href="https://gawker.com/what-black-parents-tell-their-sons-about-the-police-1624412625") What Black Parents Tell Their Sons About the Police
		li
			a(href="https://www.nytimes.com/2016/07/07/opinion/alton-sterling-and-when-black-lives-stop-mattering.html") Alton Sterling and When Black Lives Stop Mattering
		li
			a(href="https://www.theguardian.com/world/2015/jun/26/how-white-americans-can-fight-racism") 'We need co-conspirators, not allies'
			| : how white Americans can fight racism
		li
			a(href="https://www.thecut.com/2016/08/showing-up-for-racial-justice-white-feelings-black-lives.html") It's Time to Get Over Your White Feelings and Start Taking Action for Black Lives
		li
			a(href="https://www.independent.co.uk/voices/black-lives-matter-most-disturbing-train-ride-of-my-life-racism-a7151161.html") The Most Disturbing Train Ride of My Life
		li
			a(href="https://www.afsc.org/blogs/acting-in-faith/note-to-self-white-people-taking-part-blacklivesmatter-protests") Note to Self: White People Taking Part in BLM Protests
		li
			a(href="https://www.buzzfeednews.com/article/hannahgiorgis/how-white-people-can-support-people-of-color-right-now") How White People Can Support People of Color in Trump's America
		li
			a(href="https://www.huffpost.com/entry/the-myth-about-racism-white-progressives-shouldnt-fall-for_n_5991c434e4b08a24727628d9") The Myth About Racism White Progressives Shouldn't Fall For
		li
			a(href="https://www.quora.com/I-am-white-Thats-all-you-know-about-me-Am-I-privileged-based-on-that-alone-and-assuming-I-am-should-I-feel-guilt-and-what-should-I-do-about-it/answer/Omar-Ismail-33?ref=fb") I'm White, am I privileged?
		li
			a(href="https://www.indiebound.org/book/9780525509288") How to be an antiracist

	h3 Books to Read
	ul
		li
			a(href="https://www.goodreads.com/book/show/3047652-speaking-treason-fluently") Speaking Treason Fluently
			| : Anti-Racist Reflections From an Angry White Male
		li
			a(href="https://www.goodreads.com/book/show/16280._Why_Are_All_The_Black_Kids_Sitting_Together_in_the_Cafeteria_") Why Are All the Black Kids Sitting Together in the Cafeteria?
			| : A Psychologist Explains the Development of Racial Identity

		li
			a(href="https://www.goodreads.com/book/show/17631.The_Miner_s_Canary") The Miner's Canary
			| : Enlisting Race, Resisting Power, Transforming Democracy
		li
			a(href="https://www.goodreads.com/book/show/313110.This_Bridge_Called_My_Back") This Bridge Called My Back
			| : Writings by Radical Women of Color