extends ../layout.pug

block head
	title Social Justice

block content
	h1 Social Justice

	h2 Feminism

	p Avoid these 
		a(href="https://notapattern.net/2014/10/14/ways-men-in-tech-are-unintentionally-sexist/") accidental ways men are sexist
		| .

	h2 Racism & Anti-Racism

	h3 Antiracism
	ul
		li
			a(href="https://www.whiteaccomplices.org/") White Accomplices
			| : Opportunities for White People in the Fight for Racial Justice

	h3 Books to Read
	ul
		li
			a(href="https://www.goodreads.com/book/show/3047652-speaking-treason-fluently") Speaking Treason Fluently
			| : Anti-Racist Reflections From an Angry White Male
		li
			a(href="https://www.goodreads.com/book/show/16280._Why_Are_All_The_Black_Kids_Sitting_Together_in_the_Cafeteria_") Why Are All the Black Kids Sitting Together in the Cafeteria?
			| : A Psychologist Explains the Development of Racial Identity

		li
			a(href="https://www.goodreads.com/book/show/17631.The_Miner_s_Canary") The Miner's Canary
			| : Enlisting Race, Resisting Power, Transforming Democracy
		li
			a(href="https://www.goodreads.com/book/show/313110.This_Bridge_Called_My_Back") This Bridge Called My Back
			| : Writings by Radical Women of Color