extends ../layout.pug

block head
	title Social Justice

block content
	h1 Social Justice

	h2 Feminism

	p Avoid these 
		a(href="https://notapattern.net/2014/10/14/ways-men-in-tech-are-unintentionally-sexist/") accidental ways men are sexist
		| .