extends ../layout.pug

block head
	title Social Media

block content
	h1 Social Media

	h2 Images
	p Producing images for all the different social networks is a PITA, so it's helpful to have
		a(href="socialcrop.co") all the image sizes
		|  in one place. Buffer has ideas about letting
		a(href="https://buffer.com/resources/how-to-create-shareable-social-media-images") science help create shareable images
		| .