extends ../layout.pug

block head
	title Solopreneuership

block content
	h1 Solopreneurship
	ul
		li
			a(href="https://medium.com/extraai/how-to-create-a-side-project-that-customers-actually-want-684f84b2e938") How to Create a Side Project that Customers Actually Want
		li
			a(href="https://www.sideprojectchecklist.com/marketing-checklist/") The Side Project Marketing Checklist
		li
			a(href="https://www.toomas.net/2017/07/18/reverse-engineering-a-successful-lifestyle-business-heres-everything-ive-learned-from-reading-indiehackers-com/") Reverse Engineering a Successful Lifestyle Business
			| : Here's Everything I've Learned From Reading IndieHackers.com
		li
			a(href="https://blog.ladder.io/business-idea/") How to Test a Business Venture
			|  (before quitting your job)
		li
			a(href="https://medium.com/mega-maker/how-i-make-my-money-6a658db306f7") How I make my money
			| : a revenue breakdown on my various projects
		li
			a(href="https://mtlynch.io/retrospectives/2020/01/") Pursuing a business I'll love

	h2 Product - Books
	ul
		li
			a(href="https://www.nateberkopec.com/blog/2017/03/10/how-i-made-self-publishing-about-ruby-on-rails.html") How I Made $200k Self-Publishing a Book About Ruby on Rails
		li
			a(href="https://copyblogger.com/professional-ebooks/") Making a Living Writing Ebooks
			| : Here's How it Works Today
		
	h2 Product - Courses
	ul
		li
			a(href="https://www.groovehq.com/blog/how-we-sold-online-course") The 6-Step Marketing Strategy We Used to Make $120k Selling an Online Course
		li
			a(href="https://www.indiehackers.com/interview/a-crash-course-on-what-it-takes-to-produce-online-courses-fb595b82df") A Crash Course on What it Takes to Produce Online Courses
		li
			a(href="https://fizzle.co/sparkline/complete-able-online-course-heres-3-things-improve-fs235") How “Complete-able” is Your Online Course? Here are 3 Things to Improve 
		li
			a(href="https://convertkit.com/online-courses-basics") Are online courses the right move for your online business?