extends ../layout.pug

block head
	title Solopreneuership

block content
	h1 Solopreneurship

	h2 Product - Books
	ul
		li
			a(href="https://www.nateberkopec.com/blog/2017/03/10/how-i-made-self-publishing-about-ruby-on-rails.html") How I Made $200k Self-Publishing a Book About Ruby on Rails
		
	h2 Product - Courses
	ul
		li
			a(href="https://www.groovehq.com/blog/how-we-sold-online-course") The 6-Step Marketing Strategy We Used to Make $120k Selling an Online Course