extends ../layout.pug

block head
	title Stoicism

block content
	h1 Stoicism
	
	ul
		li
			a(href="https://www.mrmoneymustache.com/2011/10/02/what-is-stoicism-and-how-can-it-turn-your-life-to-solid-gold/") What is Stoicism and How Can it Turn Your Life Pure Gold?
		li
			a(href="https://www.newyorker.com/magazine/2016/12/19/how-to-be-a-stoic") How to be a Stoic
		li
			a(href="https://gallery.mailchimp.com/dcd3642d86121fbcaa9914228/files/Daily_Stoic_The_Stoic_Reading_List.01.pdf") The Stoic Reading List
		li
			a(href="https://www.bakadesuyo.com/2017/06/how-to-be-productive-3/") How to Be Productive
			| : 4 Secrets From the Stoics
		li
			a(href="https://dailystoic.com/this-is-who-to-turn-to-when-youre-struggling/") This is Who to Turn to When You're Struggling
		li
			a(href="https://www.amazon.com/How-Think-about-God-Nonbelievers/dp/0691183651?tag=dailystoic01-20") How to Think about God
			| : An Ancient Guide for Believers and Nonbelievers (Ancient Wisdom for Modern Readers)
		li
			a(href="https://dailystoic.com/you-dont-have-to-like-it/") You Don't Have to Like It
		li
			a(href="https://dailystoic.com/why-though/") Why though?
		li
			a(href="https://dailystoic.com/martha-nussbaum/") Martha Nussbaum
			| : the renowned philosopher on stoicism, emotions, and must read books
		li
			a(href="https://fs.blog/intellectual-giants/seneca/") Who is Seneca?
			|  Timeless wisdom from the world's most controversial Stoic
		li
			a(href="https://medium.com/the-mission/my-incredibly-simple-guide-to-stoicism-learn-wisdom-you-can-practically-use-67a0195298ee") My incredibly simple guide to Stoicism
			| : Learn wisdom you can practically use
		li
			a(href="https://dailystoic.com/you-have-to-care-about-the-most-vulnerable/") You have to care about the most vulnerable
		li
			a(href="https://dailystoic.com/when-youre-going-through-hell-do-this/") When you're going through Hell, do this...
		li
			a(href="https://www.brainpickings.org/2014/09/01/seneca-on-the-shortness-of-life/") The shortness of life: Seneca on business and the art of living wide rather than living long
		li
			a(href="https://www.amazon.com/How-Be-Epicurean-Ancient-Living/dp/1541672631") How to be an Epicurean
			| : The ancient guide to living well (book rec)