extends ../layout.pug

block head
	title Stoicism

block content
	h1 Stoicism
	
	ul
		li
			a(href="https://www.mrmoneymustache.com/2011/10/02/what-is-stoicism-and-how-can-it-turn-your-life-to-solid-gold/") What is Stoicism and How Can it Turn Your Life Pure Gold?