extends ../layout.pug

block head
	title Tiny Houses

block content
	h1 Tiny Houses

	h2 Tiny Houses I Love
	ul
		li
			a(href="https://www.youtube.com/watch?v=CRlTognWi8k") A DIY Cottage-Style Tiny House

	h2 Storage & Organization
	ul
		li
			a(href="https://99percentinvisible.org/article/finnish-dishes-simple-nordic-design-beats-dishwashers-drying-racks/") Finnish Dish Drying Rack
		li
			a(href="https://www.amazon.com/Collapsible-Kitchen-Colander-Strainer-Capacity/dp/B01E7FL7OQ") Collapsible kitchen colander
		li
			a(href="https://www.amazon.com/SimpleHouseware-Cabinet-Organizer-Holder-Silver/dp/B01LXKKVPK") Over the cabinet door organizer
		li
			a(href="https://www.amazon.com/Surpahs-Multipurpose-Roll-Up-Drying-Large/dp/B00P8KHRIU") Over the sink roll-up dish drying rack
		li
			a(href="https://www.hatchlift.com/") RV Bed Lift Kits

	h2 Electrical	
	ul
		li
			a(href="https://tinyhouseblog.com/how-to-2/install-1-kw-solar-panels-skoolie-less-1000/") How to Install 1KW solar panels on your skoolie for less than $1k
		li
			a(href="https://www.explorist.life/solarwiringdiagrams/") Interactive DIY Solar wiring diagrams for campers, vans & RV's
		li
			a(href="https://www.reddit.com/r/skoolies/comments/bzyasd/my_360_skoolie_camera_system_in_action/") 360 Camera Setup
		li
			a(href="https://www.microair.net/products/easystart-364-3-ton-single-phase-soft-starter-for-air-conditioners?variant=30176048267") AC soft starter
		li
			a(href="https://www.rocktheboatmarinestereo.com/html/100329.html") Marine Multi-Zone Stereo Controller

	h2 Kitchen
	ul
		li
			a(href="https://www.campchef.com/camp-stoves-465/mountain-series-stoves/ranger-ii-two-burner-stove.html") Ranger II Two-Burner Outdoor Stove
		li
			a(href="https://www.bedbathandbeyond.com/store/product/joseph-joseph-reg-wash-and-drain-dish-pan/3243776?categoryId=14572") Wash & drain dish pans
		li
			a(href="https://www.costco.com/ProductDisplay?catalogId=10701&storeId=10301&langId=-1&krypto=vN%2BeUkqiF0K7XoYgMmfICoYIRByVRbLDR9lo0kfxvWEGOkm43hNlugkqmG9IMTMf2InHFSyqaCEM70k37shW3ionjULp6QYadRC%2FsISCFCo%3D&ddkey=http%3ALogoff") Costco Unique Classic Plus Gas Range
		li
			a(href="https://www.rvpartsnation.com/rv-appliances/rv-range-vent/hengs-rv-range-hood-12-volt/") 12v RV Range Hood
		li
			a(href="https://www.bedbathandbeyond.com/store/product/squish-reg-kitchen-sink-strainer-and-stopper/1041698174?skuId=41698174&&mrkgcl=609&mrkgadid=3309197993&enginename=google&mcid=PS_googlepla_nonbrand_kitchenaccessories_online&product_id=41698174&adtype=showcase_product&product_channel=online&adpos=1o5&creative=293724546903&device=m&matchtype=&network=g&gclid=EAIaIQobChMIhqHFw-Hq4wIVDlYMCh3NwAp0EAQYBSABEgKbu_D_BwE&gclsrc=aw.ds") Sink Strainer & Stopper
		li
			a(href="https://www.homedepot.com/p/Unique-10-3-cu-ft-290-L-Solar-DC-Top-Freezer-Refrigerator-Danfoss-Secop-Compressor-in-White-UGP-290L-W/308537063") Unique 12V 10.3 cu ft. Refrigerator/Freezer
		li
			a(href="https://www.homedepot.com/p/Unique-Prestige-24-in-2-3-cu-ft-Gas-Convection-Range-Sealed-4-Burners-in-White-UGP-24V-PC1-W/311214207") Home Depot Unique Prestige Gas Range

	h2 Water
	ul
		li
			a(href="https://www.amazon.com/SHURFLO-4008-101-A65-Water-Pump-Revolution/dp/B00W5GCQC2") Shurflo 12V water pump
		li
			a(href="https://rvbasics.com/techtips/sanitizing-your-rv-fresh-water-system.html") Sanitizing an RV fresh water system
		li
			a(href="https://www.thervgeeks.com/plumbing/gray-tank-sensor-cleaning/") Grey tank & sensor cleaning
		li
			a(href="https://www.pplmotorhomes.com/parts/rv-appliances/rv-water-heaters/rv-water-heaters/rv-tankless-water-heater-girard-gswh2_42.3250") Tankless, freeze-proof on-demand hot water heater

	h2 Bus Stuff
	ul
		li
			a(href="https://www.amazon.com/Dynamat-11905-Hoodliner-Self-Adhesive-Deadener/dp/B00069QLVC") Dynamat Hoodliner Sound Deadener
		li
			a(href="https://www.raneystruckparts.com/1-round-mini-wide-angle-clearance-marker-led-light-with-visor/") Round Marker Lights with Visor
		li
			a(href="https://www.raneystruckparts.com/1-dual-function-diamond-lens-led-marker-light-with-bezel-by-grand-general/") Round Marker Lights with Bezel