extends ../layout.pug

block head
	title Tiny Houses

block content
	h1 Tiny Houses

	h2 Tiny Houses I Love
	ul
		li
			a(href="https://www.youtube.com/watch?v=CRlTognWi8k") A DIY Cottage-Style Tiny House

	h2 Clever Ideas
	ul
		li
			a(href="https://99percentinvisible.org/article/finnish-dishes-simple-nordic-design-beats-dishwashers-drying-racks/") Finnish Dish Drying Rack