extends ../layout.pug

block head
	title Travel

block content
	h1 Travel

	h2 Flying
	p Even if you're not a big fan of flying, there are a lot of ways to make your journey more enjoyable. One is just stretching, and keeping limber.
		a(href="https://lifehacker.com/keep-loose-on-long-flights-with-these-simple-plane-exer-1698335114") These exercises
		|  are a good starting point.

	h2 Packing
	p As a child of divorced parents, I know a thing or two about packing a suitcase. Some of my 
		a(href="https://tobiasahlin.com/typesource/") favorite packing tips
		|  include rolling pants, stuffing shoes, and stacking shoe heels.

	h2 RVing
	
	h3 Tips & Tricks
	ul
		li Have your partner scout out fuel stops before you get there by looking at Google Maps overhead imagery. Helps to not waste time on tight or sketchy places. Also check out campgrounds you might want to stay at using google maps.
		li Have a plan in place for dealing with a flat on the camper. Not saying it will happen, but seems to be more common with trailer tires. If you will be dealing with it yourself, do a change out before you hit the road (for the same reason as above). If you won't be dealing with a flat, check your AAA, Good Sam's, or whom ever else offers that service and learn that process before hitting the road.
		li
			a(href="https://wheelingit.us/2014/09/22/5-tips-to-rving-camping-with-cats/") 5 Tips for RVing & Camping With Cats

	h3 People & Groups
	ul
		li
			a(href="https://rainbowrv.com/") Rainbow RV

	h3 Where to Park
	ul
		li
			a(href="https://www.boondockerswelcome.com/") Boondockers Welcome


	h2 Places to Visit
	
	h3 Restaurants
	ul
		li
			a(href="https://www.joeyshouseofpizza.com/") Joey's House of Pizza
			em  (Nashville, TN)

	h3 Activities
	ul
		li
			a(href="https://www.eossurf.com/") Surf on the great lakes
			em  (Sheboygan, WI)
		li
			a(href="https://en.wikipedia.org/wiki/Ave_Maria_Grotto") Ave Maria Grotto
			em  (Cullman, AL)
		li
			a(href="https://imgur.com/gallery/NOE01") A Park in Every State
		li
			a(href="https://www.travelandleisure.com/trip-ideas/national-parks/best-hidden-spots-in-national-parks") 9 Incredible Hidden Locations in US National Parks
		li
			a(href="https://www.doityourselfrv.com/national-parks-quiet/") The 5 Quietest National Parks for RV Camping
		li
			a(href="http://www.travelandstyle.ca/canada-150-top-canadian-road-trips/") Incredible Canadian Road Trips
		li
			a(href="https://www.thrillist.com/travel/nation/best-secret-places-to-visit-in-us-national-parks") The Best SEcret Spots in America's National Parks
		li
			a(href="https://www.nationalgeographic.com/adventure/destinations/united-states/50-adventures-50-states/") 50 Adventures in 50 States
		li
			a(href="https://www.doityourselfrv.com/least-visited-us-national-park-system-locations/") 5 of the least visited places in the US national park system

	h3 Cities
	ul
		li
			a(href="https://matadornetwork.com/life/24-coolest-towns-usa-2017/") The 24 Coolest Towns in the USA - 2017
		li
			a(href="https://www.thekitchn.com/the-best-seattle-field-trip-for-food-lovers-244981") Vashon, the Food Island of Seattle