extends ../layout.pug

block head
	title Travel

block content
	h1 Travel

	h2 Flying
	p Even if you're not a big fan of flying, there are a lot of ways to make your journey more enjoyable. One is just stretching, and keeping limber.
		a(href="https://lifehacker.com/keep-loose-on-long-flights-with-these-simple-plane-exer-1698335114") These exercises
		|  are a good starting point.

	h2 Packing
	p As a child of divorced parents, I know a thing or two about packing a suitcase. Some of my 
		a(href="https://tobiasahlin.com/typesource/") favorite packing tips
		|  include rolling pants, stuffing shoes, and stacking shoe heels.