extends ../layout.pug

block head
	title Travel

block content
	h1 Travel

	h2 Flying
	p Even if you're not a big fan of flying, there are a lot of ways to make your journey more enjoyable. One is just stretching, and keeping limber.
		a(href="https://lifehacker.com/keep-loose-on-long-flights-with-these-simple-plane-exer-1698335114") These exercises
		|  are a good starting point.

	h2 Packing
	p As a child of divorced parents, I know a thing or two about packing a suitcase. Some of my 
		a(href="https://tobiasahlin.com/typesource/") favorite packing tips
		|  include rolling pants, stuffing shoes, and stacking shoe heels.

	h2 RVing
	
	h3 Tips & Tricks
	ul
		li Have your partner scout out fuel stops before you get there by looking at Google Maps overhead imagery. Helps to not waste time on tight or sketchy places. Also check out campgrounds you might want to stay at using google maps.
		li Have a plan in place for dealing with a flat on the camper. Not saying it will happen, but seems to be more common with trailer tires. If you will be dealing with it yourself, do a change out before you hit the road (for the same reason as above). If you won't be dealing with a flat, check your AAA, Good Sam's, or whom ever else offers that service and learn that process before hitting the road.

	h3 Where to Park
	ul
		li
			a(href="https://www.boondockerswelcome.com/") Boondockers Welcome


	h2 Places to Visit
	
	h3 Restaurants
	ul
		li
			a(href="https://www.joeyshouseofpizza.com/") Joey's House of Pizza
			em  (Nashville, TN)

	h3 Activities
	ul
		li
			a(href="https://www.eossurf.com/") Surf on the great lakes
			em  (Sheboygan, WI)
		li
			a(href="https://en.wikipedia.org/wiki/Ave_Maria_Grotto") Ave Maria Grotto
			em  (Cullman, AL)