extends ../layout.pug

block head
	title Universal Basic Income

block content
	h1 Universal Basic Income
	p What would happen if we 
		a(href="https://fivethirtyeight.com/features/universal-basic-income/") just gave people money
		| ? I think it would be a good thing, considering impending automation, changing economies, and current levels of wealth inequality. The <a href="https://medium.com/@parismarx/the-future-of-work-demands-a-basic-income-81f6df0bb7f1">future of work depends on it</a>, honestly. It is the most sensible way to redistribute wealth, and there are many reasonable ways to implement (wealth taxes, carbon taxes, transition of some social services to UBI .. disability, SSI, and so forth).
	ul
		li
			a(href="https://www.wired.com/story/free-money-the-surprising-effects-of-a-basic-income-supplied-by-government/") Free money
			| : the surprising effects of a basic income supplied by government