extends ../layout.pug

block head
	title Universal Basic Income

block content
	h1 Universal Basic Income
	p What would happen if we 
		a(href="https://fivethirtyeight.com/features/universal-basic-income/") just gave people money
		| ? I think it would be a good thing, considering impending automation, changing economies, and current levels of wealth inequality.