extends ../layout.pug

block head
	title Ultralearners

block content
	h1 Ultralearners

	h2 Book Details
	p
		strong Author(s):
		|  Scott Young
	p
		strong Year:
		|  2019
	p
		strong ISBN:
		|  978-0062852687
	p
		strong Format:
		|  Kindle
	p
		strong Dates Read:
		|  2/28/20 - 
	p
		strong Genre:
		|  Non-Fiction > Productivity & Self-Improvement
	p
		strong Rating:
		|  

	h2 What is the book about as a whole?

	h2 What is being said in detail, and how?

	h2 Is the book true, in whole or in part?

	h2 What of it?

	h2 Standout Quotes

	h2 Notes