extends ../layout.pug

block head
	title UX

block content
	h1 UX

	h2 Accessible Design
	ul
		li Senior citizens are a group with special considerations. 
			a(href="https://www.smashingmagazine.com/2015/02/designing-digital-technology-for-the-elderly/") Consider ways they use technology differently,
			|  for example.