extends ../layout.pug

block head
	title UX

block content
	h1 UX

	h2 Conversion Optimization
	ul
		li
			a(href="https://www.invisionapp.com/inside-design/increase-landing-page-conversions/") Creative Ways to Increase Landing Page Conversions
		li
			a(href="https://conversionsciences.com/persuasion-techniques/") 21 Fascinating Persuasion Techniques for Conversion Optimization
		li
			a(href="https://conversionsciences.com/landing-page-best-practices/") 20 Landing Page Best Practices to Kickstart Your Conversion Lift
		li
			a(href="https://conversionsciences.com/how-to-persuade-landing-page-visitors-to-convert/") How to Persuade Landing Page Visitors to Convert

	h2 Ecommerce
	ul
		li
			a(href="https://explorations.viget.com/onlineshopping/") Improving the way we shop online

	h2 Principles

	ul
		li
			a(href="https://www.smashingmagazine.com/2013/06/13-tenets-user-experience/") 13 Tenets of User Experience
		li
			a(href="https://medium.com/ux-in-motion/creating-usability-with-motion-the-ux-in-motion-manifesto-a87a4584ddc") 12 Principes of UX in Motion

	h2 Resources
	ul
		li
			a(href="https://www.usertesting.com/blog/9-behavioral-psychology-books-for-persuasive-ux-design") 9 Behavioral Psychology Books for Persuasive UX Design

	h2 Studies
	ul
		li
			a(href="https://www.nngroup.com/articles/hamburger-menus/") Hamburger Menus and Hidden Navigation Hurt UX Metrics
			|  (NN/g Nielson Norman Group)
		li
			a(href="https://www.nngroup.com/articles/form-design-placeholders/") Placeholders in Form Fields are Harmful
		li <a href="https://uxmovement.com/forms/why-the-confirm-password-field-must-die/">Confirm password fields should die</a>. They can <a href="https://www.formisimo.com/blog/case-study-small-changes-lead-to-a-55-increase-in-conversions/">provably lower conversion rates</a>, and it's much better to replace them with a way to toggle password visibility.	
		li <a href="https://uxdesign.cc/do-icons-need-labels-6cb4f4282c00">Do Icons Need Labels?</a> Yes, absolutely.
		li The 'credit card numer' field <a href="https://baymard.com/blog/credit-card-field-auto-format-spaces">must allow and auto-format spaces</a>.
		li You can <a href="https://blog.convert.com/personalized-landing-pages-how-5-companies-boosted-conversions-by-750.html">boost conversions with personalized landing pages</a>. This article analyzes how 5 companies did this, with techniques like geo targeting and PPC ad customization.
		li
			a(href="https://conversionsciences.com/optimized-checkout-experience/") Anatomy of an Optimized Checkout Experience
		li
			a(href="https://uxmovement.com/mobile/why-mobile-menus-belong-at-the-bottom-of-the-screen/") Why Mobile Menus Belong at the Bottom of the Screen
		li
			a(href="https://www.nngroup.com/articles/zigzag-page-layout/") Zigzag image-text layouts make scanning less efficient
		li
			a(href="https://adamsilver.io/articles/where-to-put-buttons-on-forms/") Where to put buttons on forms

	h2 Tooling
	ul
		li
			a(href="https://octopus.do/") Octopus.do, a lightning-fast visual sitemap builder
	