extends ../layout.pug

block head
	title UX

block content
	h1 UX

	h2 Principles

	ul
		li
			a(href="https://www.smashingmagazine.com/2013/06/13-tenets-user-experience/") 13 Tenets of User Experience

	h2 Studies
	ul
		li
			a(href="https://www.nngroup.com/articles/hamburger-menus/") Hamburger Menus and Hidden Navigation Hurt UX Metrics
			|  (NN/g Nielson Norman Group)