extends ../layout.pug

block head
	title Web Development

block content
	h1 Web Development

	h2 Best Practices
	p Insist on <a href="https://alistapart.com/article/insisting-on-core-development-principles/">core development principles</a>.