extends ../layout.pug

block head
	title Web Design

block content
	h1 Web Design

	h2 Conversion Optimization
	p To get users to do the things you want, you'll need to use smart design. Make 
		a(href="https://www.canva.com/learn/call-to-action-button/") call to action (CTA) buttons
		|  that convert. Use 
		a(href="https://www.webdesignerdepot.com/2015/09/how-directional-cues-maximize-ux-and-boost-conversions/") directional cues.

	h2 Design Principles

	p Dieter Rams knew what he was talking about when it comes to product design, and his principles can be 
		a(href="https://www.webdesignerdepot.com/2012/06/applying-dieter-rams-ten-principles-to-web-design/") readily applied to web design
		|  as well.

	h2 SVG
	p SVGs can get bloated, so make sure you create <a href="https://css-tricks.com/high-performance-svgs/">high performance SVGs</a>.