extends ../layout.pug

block head
	title Web Design

block content
	h1 Web Design

	h2 Conversion Optimization
	p To get users to do the things you want, you'll need to use smart design. Make 
		a(href="https://www.canva.com/learn/call-to-action-button/") call to action (CTA) buttons
		|  that convert. Use 
		a(href="https://www.webdesignerdepot.com/2015/09/how-directional-cues-maximize-ux-and-boost-conversions/") directional cues.

	h2 Design Principles

	p Dieter Rams knew what he was talking about when it comes to product design, and his principles can be 
		a(href="https://www.webdesignerdepot.com/2012/06/applying-dieter-rams-ten-principles-to-web-design/") readily applied to web design
		|  as well.

	h2 Ecommerce
	ul
		li
			a(href="https://uxplanet.org/sell-like-hotcakes-ui-designs-for-e-commerce-ebe89a56c7a6") UI Designs for Ecommerce

	h2 SVG
	p SVGs can get bloated, so make sure you create <a href="https://css-tricks.com/high-performance-svgs/">high performance SVGs</a>.

	h2 Typography
	ul
		li
			a(href="https://blog.marvelapp.com/body-text-small/") Your Body Text is Too Small
		li
			a(href="https://fontjoy.com/") Font Pairings From Deep Learning
		li
			a(href="https://www.reliablepsd.com/ultimate-google-font-pairings/") Ultimate Google Font Pairings
			|  (Displayed Beautifully with Classic Art)
		li
			a(href="https://medium.com/codyhouse/create-your-design-system-part-1-typography-7c630d9092bd") Create your design system - typography

	h2 TBD
	ul
		li
			a(href="https://alistapart.com/article/making-room-for-variation/") Making room for variation