extends ../layout.pug

block head
	title Web Development

block content
	h1 Web Development

	h2 Best Practices
	p Insist on <a href="https://alistapart.com/article/insisting-on-core-development-principles/">core development principles</a>.

	h2 Misc.
	ul
		li
			a(href="https://www.sonniesedge.co.uk/talks/dear-developer/?utm_source=hackernewsletter&utm_medium=email&utm_term=watching&mc_cid=7c5ca3f9cd&mc_eid=53eed49144") Dear Developer, the web isn't about you
		li
			a(href="https://css-tricks.com/a-business-case-for-dropping-internet-explorer/") A business case for dropping IE
		li
			a(href="https://dev.to/frontendmentor/16-front-end-projects-with-designs-to-help-improve-your-coding-skills-5ajl") 16 front-end projects (with designs) to help improve your coding skills
		li
			a(href="https://technology.blog.gov.uk/2020/02/24/why-the-gov-uk-design-system-team-changed-the-input-type-for-numbers/") Why the GOV.UK design system team changed the input type for numbers
		li
			a(href="https://www.kooslooijesteijn.net/blog/semantic-sidenotes") Semantic sidenotes for the web
		li
			a(href="https://bitsofco.de/revisiting-the-abbr-element/") Revisiting the abbr element