extends ../layout.pug

block head
	title Weed

block content
	h1 Weed

	h2 Growing
	p A neat 
		a(href="https://www.420magazine.com/community/threads/diy-drying-box-with-odor-control.141714/") DIY drying box
		|  with odor control.