extends ../layout.pug

block head
	title Woah

block content
	h1 Woah

	ul
		li
			a(href="https://www.youtube.com/watch?v=daVDrGsaDME") Engine Refurb Timelapse
		li
			a(href="http://i.imgur.com/fFfd4gJ.gifv") Life in 20 seconds
		li
			a(href="https://www.youtube.com/watch?v=vpyeQeTDGFA") Honda "Paper" by PES
		li
			a(href="http://i.imgur.com/zZhIILj.gifv") Stadium goes from NBA to NHL
		li
			a(href="https://imgur.com/gallery/ZYj2t") Tilt shift effect applied to van Gogh paintings