extends ../layout.pug

block head
	title Woah

block content
	h1 Woah

	ul
		li
			a(href="http://i.imgur.com/fFfd4gJ.gifv") Life in 20 seconds
		li
			a(href="http://i.imgur.com/zZhIILj.gifv") Stadium goes from NBA to NHL