extends ../layout.pug

block head
	title WordPress

block content
	h1 WordPress

	h2 Admin
	ul
		li
			a(href="https://premium.wpmudev.org/blog/simplify-wordpress-backend/") Ways to Simplify the Dashboard for Clients


	h2 API
	ul
		li
			a(href="https://www.sitepoint.com/wp-api/") Intro to the WP API
		li
			a(href="https://css-tricks.com/using-the-wp-api-to-fetch-posts/") How to Fetch Posts
		

	h2 Database
	ul
		li
			a(href="https://premium.wpmudev.org/blog/squeaky-clean-database/") 10 tips to keep a clean DB (even with multisite)

	h2 Learning
	ul
		li
			a(href="https://www.sitepoint.com/mastering-wordpress-roles-and-capabilities/") Mastering WordPress Roles and Capabilities

	h2 Misc
	ul
		li
			a(href="https://digwp.com/2018/12/enable-gutenberg-block-editor/") How to Selectively Enable Gutenberg Block Editor
		li
			a(href="https://guides.wp-bullet.com/how-to-export-large-wordpress-databases-and-speed-up-the-process/") How to export large wordpress databases and speed up the process

	h2 Plugins

	h3 Custom Plugin Development
	ul
		li
			a(href="https://www.smashingmagazine.com/2016/03/making-a-wordpress-plugin-that-uses-service-apis/") A Blueprint for A Plugin That Uses Service APIs

	h2 Security
	ul
		li
			a(href="https://premium.wpmudev.org/blog/wordpress-security-exploits/") A History of WordPress Security Exploits
		li
			a(href="https://premium.wpmudev.org/blog/ultimate-guide-wordpress-security/") The Ultimate Guide to WordPress Security
		li
			a(href="https://premium.wpmudev.org/blog/security-scanning/") Run a WordPress Site Security Scan

	h2 Tools
	ul
		li
			a(href="https://wppb.me/") WordPress Plugin Boilerplate Generator
		li
			a(href="https://kernl.us/") Kernl - Premium WordPress Plugin & Theme Updates

	h2 Users
	ul
		li
			a(href="https://3.7designs.co/blog/2014/08/restricting-access-to-custom-post-types-using-roles-in-wordpress/") Restricting Access to CPTs Using Roles in WordPress