extends ../layout.pug

block head
	title WordPress

block content
	h1 WordPress

	h2 Learning
	ul
		li
			a(href="https://www.sitepoint.com/mastering-wordpress-roles-and-capabilities/") Mastering WordPress Roles and Capabilities

	h2 Tools

	ul
		li
			a(href="https://wppb.me/") WordPress Plugin Boilerplate Generator